﻿@*@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@
@model IEnumerable<DataModel.AppointmentModel>
<!DOCTYPE html>
<!-- Template Name: Clip-One - Responsive Admin Template build with Twitter Bootstrap 3 Version: 1.2.3 Author: ClipTheme -->
<!--[if IE 8]><html class="ie8 no-js" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9 no-js" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- start: HEAD -->

<!-- end: HEAD -->
<!-- start: BODY -->

<body>

    <div class="row">
        <br /> <br />  <br /><br /> <br />   <br /> <br /><br /><br /><br /><br /><br /><br /><br /><br />
        <div class="col-md-12 center">

            <h1>DASHBOARD</h1>

        </div>

        @section scripts {
          
            <script>
        // This optional function html-encodes messages for display in the page.
        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
            </script>
        }
     
    </div>
</body>
<!-- end: BODY -->
</html>
<!-- end: FOOTER -->
<!-- start: MAIN JAVASCRIPTS -->
<!--[if lt IE 9]>
<script src="assets/plugins/respond.min.js"></script>
<script src="assets/plugins/excanvas.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<![endif]-->
<!--[if gte IE 9]><!-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<!--<![endif]-->
<script src="~/Content/assets/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js"></script>
<script src="~/Content/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="~/Content/assets/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js"></script>
<script src="~/Content/assets/plugins/blockUI/jquery.blockUI.js"></script>
<script src="~/Content/assets/plugins/iCheck/jquery.icheck.min.js"></script>
<script src="~/Content/assets/plugins/perfect-scrollbar/src/jquery.mousewheel.js"></script>
<script src="~/Content/assets/plugins/perfect-scrollbar/src/perfect-scrollbar.js"></script>
<script src="~/Content/assets/plugins/less/less-1.5.0.min.js"></script>
<script src="~/Content/assets/plugins/jquery-cookie/jquery.cookie.js"></script>
<script src="~/Content/assets/plugins/bootstrap-colorpalette/js/bootstrap-colorpalette.js"></script>
<script src="~/Content/assets/js/main.js"></script>
<!-- end: MAIN JAVASCRIPTS -->
<!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
<script src="~/Content/assets/plugins/flot/jquery.flot.js"></script>
<script src="~/Content/assets/plugins/flot/jquery.flot.resize.js"></script>
<script src="~/Content/assets/plugins/flot/jquery.flot.categories.js"></script>
<script src="~/Content/assets/plugins/flot/jquery.flot.pie.js"></script>
<script src="~/Content/assets/js/charts.js"></script>
<script src=http://cdn.jsdelivr.net/jquery.flot/0.8.3/jquery.flot.min.js> </script>
