﻿@{
    ViewBag.Title = "Medical Info and History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model DataModel.PediatricMedicalModel


<div class="row">
    <div class="col-sm-12">
        <!-- start: PAGE TITLE & BREADCRUMB -->
        <ol class="breadcrumb">
            <li><i class="clip-file"></i><a href="#">Patients </a></li>
            <li><a href="~/Patient/ListOfPatients">List Of Patients </a></li>
            <li class="active">Medical Info & History </li>
        </ol>
        <div class="page-header">
            <h1>
                Medical Info & History <small>@Model.FirstName @Model.LastName</small></h1>
        </div>
        <!-- end: PAGE TITLE & BREADCRUMB -->
    </div>
</div>
<!-- end: PAGE HEADER -->
<!-- start: PAGE CONTENT -->
<div class="row">
    <div class="col-sm-12">
        <div class="tabbable">
            <ul id="myTab" class="nav nav-tabs tab-bricky">
                <li class="active"><a href="#panel_tab1" data-toggle="tab"><i class="green fa fa-medkit">
                </i>Medical Info </a></li>
                <li><a href="#panel_tab2" data-toggle="tab"><i class="green fa fa-plus-square"></i>Medical
                    History </a></li>
                <li><a href="#panel_tab3" data-toggle="tab"><i class="green fa fa-plus-square"></i>Vaccination
                </a></li>
            </ul>
            <form method="post" id="form" action="">
            <div class="tab-content">
                <div class="tab-pane in active" id="panel_tab1">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label">
                                    Blood Type
                                </label>
                                @Html.DropDownListFor(m => m.BloodType, MedOR.Common.Comm.GetBloodTypeList(), "---", new { @class = "form-control", id = "bloodtype", Name = "bloodtype" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="checkbox-inline">
                                    @Html.CheckBoxFor(x => x.Consanguinity, new { @class = "flat-red", id = "consanguinity", Name = "consanguinity" })
                                    Consanguinity
                                </label>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <p style='font-size: medium'>
                        <b>Pregnancy</b>
                    </p>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="checkbox-inline">
                                    @Html.CheckBoxFor(x => x.PNormal, new { @class = "flat-green", id = "PNormal", Name = "PNormal" })
                                    Normal
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="checkbox-inline">
                                    @Html.CheckBoxFor(x => x.PAlbuminuria, new { @class = "flat-green", id = "PAlbuminuria", Name = "PAlbuminuria" })
                                    Albuminuria
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="checkbox-inline">
                                    @Html.CheckBoxFor(x => x.PHTA, new { @class = "flat-green", id = "PHTA", Name = "PHTA" })
                                    HTA
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="checkbox-inline">
                                    @Html.CheckBoxFor(x => x.PInfections, new { @class = "flat-green", id = "PInfections", Name = "PInfections" })
                                    Infections
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="checkbox-inline">
                                    @Html.CheckBoxFor(x => x.PChildbirthThreat, new { @class = "flat-green", id = "PChildBirthThreat", Name = "PChildBirthThreat" })
                                    Childbirth Threat
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">
                                    Other
                                </label>
                                @Html.TextAreaFor(x => x.POthers, new { @class = "form-control", id = "POthers", Name = "POthers", placeholder = "Insert other Pregnancy notes" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">
                                    Medicines
                                </label>
                                @Html.TextAreaFor(x => x.PMedicines, new { @class = "form-control", id = "PMedicines", Name = "PMedicines", placeholder = "Insert Pregnancy medicines" })
                            </div>
                        </div>
                    </div>
                    <hr />
                    <p style='font-size: medium'>
                        <b>Childbirth</b>
                    </p>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label">
                                    Term (weeks)
                                </label>
                                @Html.TextBoxFor(x => x.CBTerm, new { @class = "form-control limited", maxlength = "15", id = "CBTerm", Name = "CBTerm" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="checkbox-inline">
                                    @Html.CheckBoxFor(x => x.CBVaginally, new { @class = "flat-green", id = "CBVaginally", Name = "CBVaginally" })
                                    Vaginally
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="checkbox-inline">
                                    @Html.CheckBoxFor(x => x.CBCSection, new { @class = "flat-green", id = "CBCSection", Name = "CBCSection" })
                                    C-Section
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="checkbox-inline">
                                    @Html.CheckBoxFor(x => x.CBForceps, new { @class = "flat-green", id = "CBForceps", Name = "CBForceps" })
                                    Forceps
                                </label>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <p style='font-size: medium'>
                        <b>Birth</b>
                    </p>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label">
                                    Apgar
                                </label>
                                @Html.TextBoxFor(x => x.BApgar, new { @class = "form-control limited", maxlength = "15", id = "BApgar", Name = "BApgar" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label">
                                    Reanimation
                                </label>
                                @Html.TextBoxFor(x => x.BReanimation, new { @class = "form-control limited", maxlength = "15", id = "BReanimation", Name = "BReanimation" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label">
                                    Neonatal Weight
                                </label>
                                @Html.TextBoxFor(x => x.BNeonatalWeight, new { @class = "form-control limited", maxlength = "15", id = "BNeonatalWeight", Name = "BNeonatalWeight" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label">
                                    Height
                                </label>
                                @Html.TextBoxFor(x => x.BHeight, new { @class = "form-control limited", maxlength = "15", id = "BHeight", Name = "BHeight" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label">
                                    Cranial Perimeter
                                </label>
                                @Html.TextBoxFor(x => x.BCranialPerimeter, new { @class = "form-control limited", maxlength = "15", id = "BCranialPerimeter", Name = "BCranialPerimeter" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label">
                                    Placenta
                                </label>
                                @Html.TextBoxFor(x => x.BPlacenta, new { @class = "form-control limited", maxlength = "15", id = "BPlacenta", Name = "BPlacenta" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="checkbox-inline">
                                    @Html.CheckBoxFor(x => x.BCyanosis, new { @class = "flat-green", id = "BCyanosis", Name = "BCyanosis" })
                                    Cyanosis
                                </label>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <p style='font-size: medium'>
                        <b>Neonatal Period</b>
                    </p>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">
                                    Guthrie
                                </label>
                                @Html.TextAreaFor(x => x.NPGuthrie, new { @class = "form-control", id = "NPGuthrie", Name = "NPGuthrie" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">
                                    NICU
                                </label>
                                @Html.TextAreaFor(x => x.NPNICU, new { @class = "form-control", id = "NPNICU", Name = "NPNICU" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">
                                    Congenital Abnormalities
                                </label>
                                @Html.TextAreaFor(x => x.NPCongenitalAbnormalities, new { @class = "form-control", id = "NPCongenitalAbnormality", Name = "NPCongenitalAbnormality" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="checkbox-inline">
                                    @Html.CheckBoxFor(x => x.NPPhysiologicalIcterus, new { @class = "flat-green", id = "NPPhysiologicalIcterus", Name = "NPPhysiologicalIcterus" })
                                    Physiological Icterus
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="checkbox-inline">
                                    @Html.CheckBoxFor(x => x.NPBreastMilk, new { @class = "flat-green", id = "NPBreastMilk", Name = "NPBreastMilk" })
                                    Breast Milk
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="checkbox-inline">
                                    @Html.CheckBoxFor(x => x.NPArtificialMilk, new { @class = "flat-green", id = "NPArtificialMilk", Name = "NPArtificialMilk" })
                                    Artificial Milk
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">
                                    Artificial Milk Name
                                </label>
                                @Html.TextBoxFor(x => x.NPArtificialMilkName, new { @class = "form-control limited", maxlength = "50", id = "NPArtificialMilkName", Name = "NPArtificialMilkName" })
                            </div>
                        </div>
                    </div>
                    <hr />
                    <p style='font-size: medium'>
                        <b>Stages of psychomotor development (age in months)</b>
                    </p>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label">
                                    First Smile
                                </label>
                                @Html.TextBoxFor(x => x.PDFirstSmile, new { @class = "form-control limited", maxlength = "15", id = "PDFirstSmile", Name = "PDFirstSmile" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label">
                                    Sit Up
                                </label>
                                @Html.TextBoxFor(x => x.PDSitUp, new { @class = "form-control limited", maxlength = "15", id = "PDSitUp", Name = "PDSitUp" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label">
                                    Steps
                                </label>
                                @Html.TextBoxFor(x => x.PDSteps, new { @class = "form-control limited", maxlength = "15", id = "PDSteps", Name = "PDSteps" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label">
                                    Schooling
                                </label>
                                @Html.TextBoxFor(x => x.PDSchooling, new { @class = "form-control limited", maxlength = "15", id = "PDSchooling", Name = "PDSchooling" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label">
                                    First Word
                                </label>
                                @Html.TextBoxFor(x => x.PDFirstWord, new { @class = "form-control limited", maxlength = "15", id = "PDFirstWord", Name = "PDFirstWord" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label">
                                    Stand Up
                                </label>
                                @Html.TextBoxFor(x => x.PDStandUp, new { @class = "form-control limited", maxlength = "15", id = "PDStandUp", Name = "PDStandUp" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label">
                                    Diurnal Cleanliness
                                </label>
                                @Html.TextBoxFor(x => x.PDDiurnalCleanliness, new { @class = "form-control limited", maxlength = "15", id = "PDDiurnalCleanliness", Name = "PDDiurnalCleanliness" })
                            </div>
                        </div>
                    </div>
                    <hr />
                    <p style='font-size: medium'>
                        <b>Diet</b>
                    </p>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="checkbox-inline">
                                    @Html.CheckBoxFor(x => x.DIron, new { @class = "flat-purple", id = "DIron", Name = "DIron" })
                                    Iron
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="checkbox-inline">
                                    @Html.CheckBoxFor(x => x.DFluor, new { @class = "flat-purple", id = "DFluor", Name = "DFluor" })
                                    Fluor
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="checkbox-inline">
                                    @Html.CheckBoxFor(x => x.DVitaminD, new { @class = "flat-purple", id = "DVitaminD", Name = "DVitaminD" })
                                    Vitamin D
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="checkbox-inline">
                                    @Html.CheckBoxFor(x => x.DMultivitamin, new { @class = "flat-purple", id = "DMultivitamin", Name = "DMultivitamin" })
                                    Multivitamin
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">
                                    Milk
                                </label>
                                @Html.TextBoxFor(x => x.DMilk, new { @class = "form-control limited", maxlength = "25", id = "DMilk", Name = "DMilk" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label">
                                    Solid Food (age months)
                                </label>
                                @Html.TextBoxFor(x => x.DSolidFood, new { @class = "form-control limited", maxlength = "15", id = "DSolidFood", Name = "DSolidFood" })
                            </div>
                        </div>
                    </div>
                    <hr />
                    <p style='font-size: medium'>
                        <b>Allergies</b>
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="checkbox-inline">
                                    @Html.CheckBoxFor(x => x.AFood, new { @class = "flat-teal", id = "AFood", Name = "AFood" })
                                    Food
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="checkbox-inline">
                                    @Html.CheckBoxFor(x => x.AMedications, new { @class = "flat-teal", id = "AMedications", Name = "AMedications" })
                                    Medications
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">
                                    Food Types
                                </label>
                                @Html.TextAreaFor(x => x.AFoodTypes, new { @class = "form-control", id = "AFoodTypes", Name = "AFoodTypes" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">
                                    Medication Types
                                </label>
                                @Html.TextAreaFor(x => x.AMedicationTypes, new { @class = "form-control", id = "AMedicationTypes", Name = "AMedicationTypes" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="checkbox-inline">
                                    @Html.CheckBoxFor(x => x.AAsthma, new { @class = "flat-teal", id = "AAsthma", Name = "AAsthma" })
                                    Asthma
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="checkbox-inline">
                                    @Html.CheckBoxFor(x => x.AHives, new { @class = "flat-teal", id = "AHives", Name = "AHives" })
                                    Hives
                                </label>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="control-label">
                                    Others
                                </label>
                                @Html.TextAreaFor(x => x.AOthers, new { @class = "form-control", id = "AOthers", Name = "AOthers" })
                            </div>
                        </div>
                    </div>
                    <hr />
                    <p style='font-size: medium'>
                        <b>Contagious Diseases</b>
                    </p>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="checkbox-inline">
                                    @Html.CheckBoxFor(x => x.CDWhoopingCough, new { @class = "flat-orange", id = "CDWhoopingCough", Name = "CDWhoopingCough" })
                                    Whooping Cough
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="checkbox-inline">
                                    @Html.CheckBoxFor(x => x.CDMumps, new { @class = "flat-orange", id = "CDMumps", Name = "CDMumps" })
                                    Mumps
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="checkbox-inline">
                                    @Html.CheckBoxFor(x => x.CDMeasles, new { @class = "flat-orange", id = "CDMeasles", Name = "CDMeasles" })
                                    Measles
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="checkbox-inline">
                                    @Html.CheckBoxFor(x => x.CDRubella, new { @class = "flat-orange", id = "CDRubella", Name = "CDRubella" })
                                    Rubella
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="checkbox-inline">
                                    @Html.CheckBoxFor(x => x.CDScarlatine, new { @class = "flat-orange", id = "CDScarlatine", Name = "CDScarlatine" })
                                    Scarlatine
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="checkbox-inline">
                                    @Html.CheckBoxFor(x => x.CDChickenPox, new { @class = "flat-orange", id = "CDChickenPox", Name = "CDChickenPox" })
                                    Chicken Pox
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="checkbox-inline">
                                    @Html.CheckBoxFor(x => x.CDRoseola, new { @class = "flat-orange", id = "CDRoseola", Name = "CDRoseola" })
                                    Roseola
                                </label>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group">
                                <label class="control-label">
                                    Others
                                </label>
                                @Html.TextAreaFor(x => x.AOthers, new { @class = "form-control", id = "AOthers", Name = "AOthers" })
                            </div>
                        </div>
                    </div>
                    <hr />
                    <p style='font-size: medium'>
                        <b>General Note</b>
                    </p>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">
                                    Note
                                </label>
                                @Html.TextAreaFor(x => x.MIGeneralNote, new { @class = "form-control", style = "height:100px", id = "MIGeneralNote", Name = "MIGeneralNote" })
                            </div>
                        </div>
                    </div>
                    @* <div class="alert alert-info">
                        <p>
                            Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown
                            aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles
                            vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.
                        </p>
                        <p>
                            <a href="#panel_tab2_example2" class="btn btn-teal show-tab">Go to tab 2 </a>
                        </p>
                    </div>*@
                </div>
                <div class="tab-pane" id="panel_tab2">
                    <p>
                        <b>Surgical & Medical Histories</b>
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">
                                    Surgical History
                                </label>
                                @Html.TextAreaFor(x => x.SurgicalHistory, new { @class = "form-control", style = "height:100px", id = "SurgicalHistory", Name = "SurgicalHistory" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">
                                    Medical History
                                </label>
                                @Html.TextAreaFor(x => x.MedicalHistory, new { @class = "form-control", style = "height:100px", id = "MedicalHistory", Name = "MedicalHistory" })
                            </div>
                        </div>
                    </div>
                    <hr />
                    <p>
                        <b>Family History</b>
                    </p>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">
                                    Family History
                                </label>
                                @Html.TextAreaFor(x => x.FamilyHistory, new { @class = "form-control", style = "height:100px", id = "FamilyHistory", Name = "FamilyHistory" })
                            </div>
                        </div>
                    </div>
                    <hr />
                    <p>
                        <b>General Note</b>
                    </p>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">
                                    Note
                                </label>
                                @Html.TextAreaFor(x => x.MHGeneralNote, new { @class = "form-control", style = "height:100px", id = "MHGeneralNote", Name = "MHGeneralNote" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="panel_tab3">
                    <p>
                        <b>Vaccination Table</b>
                    </p>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-external-link-square"></i>Vaccination table - <b>@Model.FirstName @Model.LastName</b>
                                    <div class="panel-tools">
                                        <a class="btn btn-xs btn-link panel-collapse collapses" href="#"></a><a class="btn btn-xs btn-link panel-config"
                                            href="#panel-config" data-toggle="modal"><i class="fa fa-wrench"></i></a><a class="btn btn-xs btn-link panel-refresh"
                                                href="#"><i class="fa fa-refresh"></i></a><a class="btn btn-xs btn-link panel-expand"
                                                    href="#"><i class="fa fa-resize-full"></i></a>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-hover" id="sample-table-1">
                                        <thead>
                                            <tr>
                                                <th class="center">
                                                    Name
                                                </th>
                                                <th>
                                                    1st Date
                                                </th>
                                                <th class="hidden-xs">
                                                    2nd Date
                                                </th>
                                                <th>
                                                    3rd Date
                                                </th>
                                                <th class="hidden-xs">
                                                    4th Date
                                                </th>
                                                <th>
                                                    5th Date
                                                </th>
                                                <th class="hidden-xs">
                                                    6th Date
                                                </th>
                                                <th>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="center">
                                                    1
                                                </td>
                                                <td class="hidden-xs">
                                                    Google Chrome
                                                </td>
                                                <td>
                                                    Google
                                                </td>
                                                <td>
                                                    <a href="#" rel="nofollow" target="_blank">Terms of Service </a>
                                                </td>
                                                <td class="hidden-xs">
                                                    Blink
                                                </td>
                                                <td>
                                                    <a href="#" rel="nofollow" target="_blank">Terms of Service </a>
                                                </td>
                                                <td class="hidden-xs">
                                                    Blink
                                                </td>
                                                <td class="center">
                                                    <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                        <a href="#" class="btn btn-xs btn-teal tooltips" data-placement="top" data-original-title="Edit">
                                                            <i class="fa fa-edit"></i></a><a href="#" class="btn btn-xs btn-green tooltips" data-placement="top"
                                                                data-original-title="Share"><i class="fa fa-share"></i></a><a href="#" class="btn btn-xs btn-bricky tooltips"
                                                                    data-placement="top" data-original-title="Remove"><i class="fa fa-times fa fa-white">
                                                                    </i></a>
                                                    </div>
                                                    <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                        <div class="btn-group">
                                                            <a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#"><i
                                                                class="fa fa-cog"></i><span class="caret"></span></a>
                                                            <ul role="menu" class="dropdown-menu pull-right">
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><i class="fa fa-edit">
                                                                </i>Edit </a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><i class="fa fa-share">
                                                                </i>Add </a></li>
                                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><i class="fa fa-times">
                                                                </i>Remove </a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <p>
                        <b>General Note</b>
                    </p>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">
                                    Note
                                </label>
                                @Html.TextAreaFor(x => x.MHGeneralNote, new { @class = "form-control", style = "height:100px", id = "MHGeneralNote", Name = "MHGeneralNote" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4">
                    <button class="btn btn-light-grey
            btn-block" type="button" onclick="window.location='/Patient/ListOfPatients';">
                        Cancel
                    </button>
                </div>
                <div class="col-md-4">
                    <p>
                    </p>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-blue btn-block" type="submit">
                        Save
                    </button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
