﻿@{
    ViewBag.Title = "IMedicine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model DataModel.IMedicineModifiedModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ConsultationDetails</title>
</head>
<body>
    <div class="container">
        <div>
            <br /> <br />
            <p><strong>
                    Last Modified
                </strong>  </p>
         
        </div>
        <hr />
        @*Consultation*@
        <div>
            <strong>Consultation</strong>
        </div>
        <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
            <thead>
                <tr>
                    <th>
                        Date
                    </th>
                    <th>
                        Tiltle
                    </th>
                    <th class="hidden-xs">
                        Note
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="hidden-xs">
                        @if (@Model.IMconsultationModel != null)

                        {
                            @Model.IMconsultationModel.createdOn
                        }
                      

                    </td>
                    <td>
                        @if (@Model.IMconsultationModel != null)

                        {
                            @Model.IMconsultationModel.title
                        }


                    </td>
                    <td>
                        @if (@Model.IMconsultationModel != null)

                        {
                            @Model.IMconsultationModel.note
                        }
                    
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <hr />
        <br />
        @*Complaint History*@
        <div>
            <strong>Complaint History</strong>
        </div>
        <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
            <thead>
                <tr>
                    <th>
                        Date
                    </th>
                    <th>
                        Tiltle
                    </th>
                    <th class="hidden-xs">
                        Note
                    </th>
                    <th>
                        Modified On
                    </th>
                </tr>
            </thead>
            <tbody>

                @if (@Model.IMcomplaintHistoryModel != null)
                {
                @*if (Model.SecurityModel.View)
                    {*@
                <tr id="" name="@Model.IMcomplaintHistoryModel.complaintHistoryID" value="@Model.IMcomplaintHistoryModel.title">
                    <td class="hidden-xs">
                        @Model.IMcomplaintHistoryModel.createdOn
                    </td>
                    <td>
                        @Model.IMcomplaintHistoryModel.title
                    </td>
                    <td>
                        @Model.IMcomplaintHistoryModel.note
                    </td>
                    <td>
                        @Model.IMcomplaintHistoryModel.modifiedOn
                    </td>
                </tr>
                @*}*@
                @*}
                    }*@
                }
            </tbody>
        </table>
        <hr />
        <br />
        @*Cardiovascular*@
        <div>
            <strong>Cardiovascular Risk Factors</strong>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div>Diabetes</div>
                <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
                    <thead>
                        <tr>
                            <th>
                                Date
                            </th>
                            <th>
                                Description
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @*@{
                            int jw = 1;
                            foreach (var Diabetes in @Model.CDiabetes.ToList())
                            {*@
                              @if (@Model.CDiabetes != null)

                              {
                                <tr id="" name="@Model.CDiabetes.DiabeteID">


                                    <td class="hidden-xs">
                                        @Model.CDiabetes.CreatedOn

                                    </td>
                                    <td>
                                        @Model.CDiabetes.Description
                                    </td>
                                </tr>
                              }
                                @*jw++;
                              }
                            }
                        }*@
                    </tbody>
                </table>
            </div>
            <div class="col-md-2">
                <div>Dyslipidemia</div>
                <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
                    <thead>
                        <tr>

                            <th>
                                Date
                            </th>
                            <th>
                                Description
                            </th>



                        </tr>
                    </thead>
                    <tbody>
                        @*@{
                            int jd = 1;
                            foreach (var Dyslipidemia in @Model.CDyslipidemia.ToList())
                            {*@

                               @if (@Model.CDyslipidemia != null)
                               {
                                <tr id="" name="@Model.CDyslipidemia.DyslipidemiaID">


                                    <td class="hidden-xs">
                                        @Model.CDyslipidemia.CreatedOn

                                    </td>

                                    <td>
                                        @Model.CDyslipidemia.Description
                                    </td>
                                </tr>
                               }
                                @*jd++;
                             
                            }
                        }*@
                    </tbody>
                </table>
            </div>
            <div class="col-md-2">
                <div>Alcohol</div>
                <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
                    <thead>
                        <tr>

                            <th>
                                Date
                            </th>
                            <th>
                                Description
                            </th>



                        </tr>
                    </thead>
                    <tbody>
                        @*@{
                            int ja = 1;
                            foreach (var Alcohol in @Model.CAlcoholModel.ToList())
                            {*@

                               @if (@Model.CAlcoholModel != null)
                               {
                                <tr id="" name="@Model.CAlcoholModel.CAlcoholID">


                                    <td class="hidden-xs">
                                        @Model.CAlcoholModel.CreatedOn

                                    </td>

                                    <td>
                                        @Model.CAlcoholModel.Description
                                    </td>
                                </tr>
                               }
                                @*ja++;
                              }
                            }
                        }*@
                    </tbody>
                </table>
            </div>
            <div class="col-md-2">
                <div>Obesity</div>
                <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
                    <thead>
                        <tr>

                            <th>
                                Date
                            </th>
                            <th>
                                Description
                            </th>



                        </tr>
                    </thead>
                    <tbody>
                        @*@{
                            int jo = 1;
                            foreach (var Obesity in @Model.CObesityModel.ToList())
                            {*@

                              @if (@Model.CObesityModel != null)
                              {
                                <tr id="" name="@Model.CObesityModel.ObesityID">


                                    <td class="hidden-xs">
                                        @Model.CObesityModel.CreatedOn

                                    </td>

                                    <td>
                                        @Model.CObesityModel.Description
                                    </td>
                                </tr>
                              }
                                @*jo++;
                               }
                            }
                        }*@
                    </tbody>
                </table>
            </div>
            <div class="col-md-2">
                <div>Familial History</div>
                <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
                    <thead>
                        <tr>

                            <th>
                                Date
                            </th>
                            <th>
                                Description
                            </th>



                        </tr>
                    </thead>
                    <tbody>
                        @*@{
                            int ja = 1;
                            foreach (var Familial in @Model.FamilialHistoryModel.ToList())
                            {*@

                               @if (@Model.FamilyModels != null)
                               {
                                <tr id="" name="@Model.FamilyModels.FamilyID">


                                    <td class="hidden-xs">
                                        @Model.FamilyModels.CreatedOn

                                    </td>

                                    <td>
                                        @Model.FamilyModels.Description
                                    </td>
                                </tr>
                               }
                                @*ja++;
                               }
                            }
                        }*@
                    </tbody>
                </table>
            </div>
        </div>
        <hr />
        <br />
        @*Medical History*@
        <div>
            <strong>Medical History</strong>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div>Allergies </div>
                <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
                    <thead>
                        <tr>
                            <th>
                                Date
                            </th>
                            <th>
                                Description
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                       
                           

                            @if (Model.AllergiesModels != null)
                            {
                                <tr>


                                    <td class="hidden-xs">
                                        @Model.AllergiesModels.CreatedOn

                                    </td>

                                    <td>
                                        @Model.AllergiesModels.Description
                                    </td>
                                </tr>
                            }
                    </tbody>
                </table>
            </div>
            <div class="col-md-2">
                <div>Gynecology </div>
                <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
                    <thead>
                        <tr>

                            <th>
                                Date
                            </th>
                            <th>
                                Description
                            </th>



                        </tr>
                    </thead>
                    <tbody>
                      
@if (Model.GynecologyModels != null)
{
                                <tr>


                                    <td class="hidden-xs">
                                        @Model.GynecologyModels.CreatedOn

                                    </td>

                                    <td>
                                        @Model.GynecologyModels.Description
                                    </td>
                                </tr>
}

                    </tbody>
                </table>
            </div>
            <div class="col-md-2">
                <div>Medical </div>
                <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
                    <thead>
                        <tr>

                            <th>
                                Date
                            </th>
                            <th>
                                Description
                            </th>



                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.MHMedicalModels != null)
                        {
                                <tr>


                                    <td class="hidden-xs">
                                        @Model.MHMedicalModels.CreatedOn

                                    </td>

                                    <td>
                                        @Model.MHMedicalModels.Description
                                    </td>
                                </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-md-2">
                <div>Family </div>
                <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
                    <thead>
                        <tr>

                            <th>
                                Date
                            </th>
                            <th>
                                Description
                            </th>



                        </tr>
                    </thead>
                    <tbody>
                     
                        @if (Model.FamilyModels != null)
                        { 
                                <tr>

                                    <td class="hidden-xs">
                                        @Model.FamilyModels.CreatedOn

                                    </td>

                                    <td>
                                        @Model.FamilyModels.Description
                                    </td>
                                </tr>
                         }
                    </tbody>
                </table>
            </div>
            <div class="col-md-2">
                <div>Surgical </div>
                <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
                    <thead>
                        <tr>

                            <th>
                                Date
                            </th>
                            <th>
                                Description
                            </th>



                        </tr>
                    </thead>
                    <tbody>
                      @if (Model.SurgicalModels != null)
                      {


                                <tr id="" name="@Model.SurgicalModels.SurgicalID">


                                    <td class="hidden-xs">
                                        @Model.SurgicalModels.CreatedOn

                                    </td>

                                    <td>
                                        @Model.SurgicalModels.Description
                                    </td>
                                </tr>
                      }
                    </tbody>
                </table>
            </div>
        </div>
        <hr />
        <br />
        <div>

            @*Review Of System*@
            <strong>Review Of System</strong>
        </div>
        <br/>
        <div class="row">


            <div class="col-md-3">
                <div>Anorexia </div>
                <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
                    <thead>
                        <tr>
                            <th>
                                Date
                            </th>
                            <th>
                                Description
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="hidden-xs">
                                @if (@Model.AnorexiasModel != null)

                                {
                                    @Model.AnorexiasModel.CreatedOn
                                }


                            </td>

                            <td>
                                @if (@Model.AnorexiasModel != null)

                                {
                                    @Model.AnorexiasModel.Anorexia
                                }

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-3">
                <div>Fever (°C) </div>
                <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
                    <thead>
                        <tr>
                            <th>
                                Date
                            </th>
                            <th>
                                Description
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="hidden-xs">
                                @if (@Model.RSFeverModel != null)

                                {
                                    @Model.RSFeverModel.CreatedOn
                                }
                            </td>

                            <td>

                                @if (@Model.RSFeverModel != null)

                                {

                                    @Model.RSFeverModel.Fever
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-3">
                <div>Weight (Kg) </div>
                <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
                    <thead>
                        <tr>

                            <th>
                                Date
                            </th>
                            <th>
                                Description
                            </th>



                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="hidden-xs">
                                @if (@Model.RSWeightModel != null)

                                {
                                    @Model.RSWeightModel.WCreatedOn
                                }
                            </td>

                            <td>
                                @if (@Model.RSWeightModel != null)

                                {
                                    @Model.RSWeightModel.Weight }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-3">
                <div>Fatigue </div>
                <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
                    <thead>
                        <tr>

                            <th>
                                Date
                            </th>
                            <th>
                                Description
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="hidden-xs">
                                @if (@Model.RSFatigueModel != null)

                                {
                                    @Model.RSFatigueModel.CreatedOn}


                            </td>

                            <td>
                                @if (@Model.RSFatigueModel != null)

                                {  @Model.RSFatigueModel.Fatigue  }

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>









            <div class="col-md-4">
                <div>HEENT </div>
                <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
                    <thead>
                        <tr>
                            <th>
                                Date
                            </th>
                            <th>
                                Description
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="hidden-xs">
                                @if (@Model.RSHEENTModel != null)

                                {
                                    @Model.RSHEENTModel.CreatedOn
                                }
                           

                            </td>

                            <td>
                                @if (@Model.RSHEENTModel != null)

                                {
                                    @Model.RSHEENTModel.Description
                                }

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <div>Pulminary </div>
                <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
                    <thead>
                        <tr>
                            <th>
                                Date
                            </th>
                            <th>
                                Description
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="hidden-xs">
                                @if (@Model.RSPulminaryModel !=null )

                                       {
                                    @Model.RSPulminaryModel.CreatedOn
                                       }
                            </td>

                            <td>

                                @if (@Model.RSPulminaryModel != null)

                                    {

                                    @Model.RSPulminaryModel.Description
                                    }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <div>Cardiovascular </div>
                <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
                    <thead>
                        <tr>

                            <th>
                                Date
                            </th>
                            <th>
                                Description
                            </th>



                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="hidden-xs">
                                @if (@Model.RSCardiovascularModel != null)

{
                                    @Model.RSCardiovascularModel.CreatedOn
}
                            </td>

                            <td>
                                @if (@Model.RSCardiovascularModel != null)

{
                                    @Model.RSCardiovascularModel.Description }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <div>Digestive </div>
                <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
                    <thead>
                        <tr>

                            <th>
                                Date
                            </th>
                            <th>
                                Description
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="hidden-xs">
                                @if (@Model.RSDigestiveModel != null)

                                        {
                                    @Model.RSDigestiveModel.CreatedOn}


                            </td>

                            <td>
                                @if (@Model.RSDigestiveModel != null)

                                        {  @Model.RSDigestiveModel.Description  }

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <div>Urogental </div>
                <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
                    <thead>
                        <tr>

                            <th>
                                Date
                            </th>
                            <th>
                                Description
                            </th>



                        </tr>
                    </thead>
                    <tbody>
                        <tr>


                            <td class="hidden-xs">
                                @if (@Model.RSDigestiveModel != null)

                                        {  @Model.RSUrogentalModel.CreatedOn  }



                            </td>

                            <td>
                                @if (@Model.RSDigestiveModel != null)

                                        { @Model.RSUrogentalModel.Description   }



                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <div>Nervous System</div>
                <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
                    <thead>
                        <tr>
                            <th>
                                Date
                            </th>
                            <th>
                                Description
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="" name="">
                            <td class="hidden-xs">
                                @if (@Model.RSNervousSystemModel != null)

                                        {  @Model.RSNervousSystemModel.CreatedOn   }


                            </td>

                            <td>
                                @if (@Model.RSNervousSystemModel != null)

                                        {  @Model.RSNervousSystemModel.Description   }

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <div>Skin</div>
                <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
                    <thead>
                        <tr>

                            <th>
                                Date
                            </th>
                            <th>
                                Description
                            </th>



                        </tr>
                    </thead>
                    <tbody>
                        @if (@Model.RSSkinModel != null)
                    {
                            <tr id="" name="">
                                <td class="hidden-xs">
                                    @Model.RSSkinModel.CreatedOn

                                </td>
                                <td>
                                    @Model.RSSkinModel.Description
                                </td>
                            </tr>
                                        }
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <div>Musculoskeletal </div>
                <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
                    <thead>
                        <tr>

                            <th>
                                Date
                            </th>
                            <th>
                                Description
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (@Model.RSMusculoskeletalModel != null)
{
                            <tr id="" name="">
                                <td class="hidden-xs">
                                    @Model.RSMusculoskeletalModel.CreatedOn

                                </td>

                                <td>
                                    @Model.RSMusculoskeletalModel.Description
                                </td>
                            </tr>
}
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <div>Psychosociale</div>
                <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
                    <thead>
                        <tr>

                            <th>
                                Date
                            </th>
                            <th>
                                Description
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (@Model.RSPsychosocialeModel != null)
{
                            <tr id="" name="">
                                <td class="hidden-xs">
                                    @Model.RSPsychosocialeModel.CreatedOn
                                </td>

                                <td>
                                    @Model.RSPsychosocialeModel.Description
                                </td>
                            </tr>
}

                    </tbody>
                </table>
            </div>
        </div>
        <hr />
        <br />
        @*Physical History*@
        <div>
            <strong>Physical Exam History</strong>
        </div>
        <br/>
        <div class="row">
@*@if (@Model.PHRespiratoryRateModel != null)

{*@
            <div class="col-md-4">

                <div>Respiratory (Rate /min) </div>
                <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
                    <thead>
                        <tr>
                            <th>
                                Date
                            </th>
                            <th>
                                Description
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="hidden-xs">
                                @if (@Model.PHRespiratoryRateModel != null)

                                {
                                    @Model.PHRespiratoryRateModel.CreatedOn
                                }


                            </td>

                            <td>
                                @if (@Model.PHRespiratoryRateModel != null)

                                {
                                    @Model.PHRespiratoryRateModel.RespiratoryRate
                                }

                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
@*}*@
            <div class="col-md-4">
                <div>Blood Pressure (mm Hg) </div>
                <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
                    <thead>
                        <tr>
                            <th>
                                Date
                            </th>
                            <th>
                                Description
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="hidden-xs">
                                @if (@Model.BloodPressureModel != null)

                                {
                                    @Model.BloodPressureModel.CreatedOn
                                }
                            </td>

                            <td>

                                @if (@Model.BloodPressureModel != null)

                                {

                                    @Model.BloodPressureModel.BloodPressure
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <div>Weight (Kg) </div>
                <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
                    <thead>
                        <tr>

                            <th>
                                Date
                            </th>
                            <th>
                                Description
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="hidden-xs">
                                @if (@Model.PHWeightModel != null)

                                {
                                    @Model.PHWeightModel.CreatedOn
                                }
                            </td>

                            <td>
                                @if (@Model.PHWeightModel != null)

                                {
                                    @Model.PHWeightModel.Weight }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-md-4">
                <div>HEENT </div>
                <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
                    <thead>
                        <tr>
                            <th>
                                Date
                            </th>
                            <th>
                                Description
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="hidden-xs">
                                @if (@Model.PHHEENTModel != null)

                                {
                                    @Model.PHHEENTModel.CreatedOn
                                }


                            </td>

                            <td>
                                @if (@Model.PHHEENTModel != null)

                                {
                                    @Model.PHHEENTModel.Description
                                }

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <div>Pulminary </div>
                <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
                    <thead>
                        <tr>
                            <th>
                                Date
                            </th>
                            <th>
                                Description
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="hidden-xs">
                                @if (@Model.PHPulminaryModel != null)

                                {
                                    @Model.PHPulminaryModel.CreatedOn
                                }
                            </td>

                            <td>

                                @if (@Model.PHPulminaryModel != null)

                                {

                                    @Model.PHPulminaryModel.Description
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <div>Cardiovascular </div>
                <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
                    <thead>
                        <tr>

                            <th>
                                Date
                            </th>
                            <th>
                                Description
                            </th>



                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="hidden-xs">
                                @if (@Model.PHCardiovascularModel != null)

                                {
                                    @Model.PHCardiovascularModel.CreatedOn
                                }
                            </td>

                            <td>
                                @if (@Model.PHCardiovascularModel != null)

                                {
                                    @Model.PHCardiovascularModel.Description }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <div>Digestive </div>
                <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
                    <thead>
                        <tr>

                            <th>
                                Date
                            </th>
                            <th>
                                Description
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="hidden-xs">
                                @if (@Model.PHDigestiveModel != null)

                                {
                                    @Model.PHDigestiveModel.CreatedOn}


                            </td>

                            <td>
                                @if (@Model.PHDigestiveModel != null)

                                {  @Model.PHDigestiveModel.Description  }

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <div>Urogental </div>
                <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
                    <thead>
                        <tr>

                            <th>
                                Date
                            </th>
                            <th>
                                Description
                            </th>



                        </tr>
                    </thead>
                    <tbody>
                        <tr>


                            <td class="hidden-xs">
                                @if (@Model.PHDigestiveModel != null)

                                {  @Model.PHDigestiveModel.CreatedOn  }



                            </td>

                            <td>
                                @if (@Model.PHDigestiveModel != null)

                                { @Model.PHDigestiveModel.Description   }



                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <div>Nervous System</div>
                <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
                    <thead>
                        <tr>
                            <th>
                                Date
                            </th>
                            <th>
                                Description
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="" name="">
                            <td class="hidden-xs">
                                @if (@Model.PHNervousSystemModel != null)

                                {  @Model.PHNervousSystemModel.CreatedOn   }


                            </td>

                            <td>
                                @if (@Model.PHNervousSystemModel != null)

                                {  @Model.PHNervousSystemModel.Description   }

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <div>Skin</div>
                <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
                    <thead>
                        <tr>

                            <th>
                                Date
                            </th>
                            <th>
                                Description
                            </th>



                        </tr>
                    </thead>
                    <tbody>
                        @if (@Model.PHSkinModel != null)
                        {
                            <tr id="" name="">
                                <td class="hidden-xs">
                                    @Model.PHSkinModel.CreatedOn

                                </td>
                                <td>
                                    @Model.PHSkinModel.Description
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <div>Musculoskeletal </div>
                <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
                    <thead>
                        <tr>

                            <th>
                                Date
                            </th>
                            <th>
                                Description
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (@Model.PHMusculoskeletalModel != null)
                        {
                            <tr id="" name="">
                                <td class="hidden-xs">
                                    @Model.PHMusculoskeletalModel.CreatedOn

                                </td>

                                <td>
                                    @Model.PHMusculoskeletalModel.Description
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <div>Psychosociale</div>
                <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
                    <thead>
                        <tr>

                            <th>
                                Date
                            </th>
                            <th>
                                Description
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (@Model.PHPsychosocialeModel != null)
                        {
                            <tr id="" name="">
                                <td class="hidden-xs">
                                    @Model.PHPsychosocialeModel.CreatedOn
                                </td>

                                <td>
                                    @Model.PHPsychosocialeModel.Description
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
        <br />
        <hr />
        @*mEDICATION*@
        <div>
            <strong>Medication</strong>
        </div>
        <div class="panel-body">

            <table class="table table-bordered table-hover" id="TableConsultation">
                <thead>
                    <tr>

                        <th>
                            Name of Medication
                        </th>
                        <th class="hidden-xs">
                            Date Start
                        </th>
                        <th>
                            Day Stop
                        </th>
                        <th>
                            Doze/Strength
                        </th>
                        <th>
                            <table>
                                <thead>
                                    <tr> <th></th> <th></th> <th class="center" width="245px">How Often</th> <th></th> <th></th> </tr>
                                    <tr class="center fa-border">
                                        <th class="center fa-border">morning</th>
                                        <th class="center fa-border">Afternoon</th>
                                        <th class="center fa-border">Evening</th>
                                        <th class="center fa-border">BedTime</th>
                                        <th class="center fa-border">As Needed</th>
                                    </tr>
                                </thead>
                            </table>
                        </th>
                        <th>
                            How Much
                        </th>
                        <th>
                            Reason
                        </th>
                        <th>
                            Additional Information
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @if(@Model.IMMedicationModel != null)
                    { 

                    <tr id="@Model.IMMedicationModel.MedicationID" name="@Model.IMMedicationModel.PatientID" value="@Model.IMMedicationModel.MedicationName">

                        <td>
                            @Model.IMMedicationModel.MedicationName
                        </td>
                        <td>
                            @Model.IMMedicationModel.DateStart
                        </td>
                        <td>
                            @Model.IMMedicationModel.DateStop
                        </td>
                        <td>
                            @Model.IMMedicationModel.Doze
                        </td>
                        <td>
                            <table class="table table-bordered table-hover">
                                <tbody>

                                    <tr>
                                        <td class="center">
                                            <div class="checkbox-table">

                                                <label>
                                                    @Html.CheckBoxFor(x => x.IMMedicationModel.Morning, new { @class = "flat-grey" })
                                                </label>
                                            </div>
                                        </td>
                                        <td class="center">
                                            <div class="checkbox-table">
                                                <label>
                                                    @Html.CheckBoxFor(x => x.IMMedicationModel.Afternoon, new { @class = "flat-grey" })
                                                </label>
                                            </div>
                                        </td>
                                        <td class="center">
                                            <div class="checkbox-table">
                                                <label>
                                                    @Html.CheckBoxFor(x => x.IMMedicationModel.Evening, new { @class = "flat-grey" })
                                                </label>
                                            </div>
                                        </td>
                                        <td class="center">
                                            <div class="checkbox-table">
                                                <label>
                                                    @Html.CheckBoxFor(x => x.IMMedicationModel.BedTime, new { @class = "flat-grey" })
                                                </label>
                                            </div>
                                        </td>
                                        <td class="center">
                                            <div class="checkbox-table">
                                                <label>
                                                    @Html.CheckBoxFor(x => x.IMMedicationModel.AsNeeded, new { @class = "flat-grey" })
                                                </label>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </td>
                        <td>
                            @Model.IMMedicationModel.HowMuch
                        </td>
                        <td>
                            @Model.IMMedicationModel.Reason
                        </td>
                        <td>
                            @Model.IMMedicationModel.AdditionalInformation
                        </td>

                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <hr />
        <br />
        @*Diagnostic*@
        <div>
            <strong>Diagnostic</strong>
        </div>
        <div class="panel-body">
            <table class="table table-hover" id="TableConsultation">
                <thead>
                    <tr>

                        <th>
                            Created On
                        </th>
                        <th>
                            Code Description

                        </th>

                        <th>
                            Note

                        </th>
                    </tr>
                </thead>
                <tbody>
                   @if(@Model.ICD10PatientModel !=null)

                   {
                    <tr>
                        <td>
                            "@Model.ICD10PatientModel.CreatedOn
                        </td>
                        <td>
                            @Model.ICD10PatientModel.CodeDescriptionICD10
                        </td>
                        <td>
                            @Model.ICD10PatientModel.Note
                        </td>
                    </tr>
                   }

                </tbody>
            </table>
        </div>
        <hr />
        <br />
        @*Files*@
        <div>
            <strong>Files</strong>
        </div>
        <div class="panel-body">
            <table class="table table-hover" id="TableConsultation">
                <thead>
                    <tr>
                        <th class="center">
                            #
                        </th>
                        <th>
                            Created On
                        </th>
                        <th>
                            File Name
                        </th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @if(@Model.IMFileModel!=null)
                    { 
                    <tr id="@Model.IMFileModel.FileID" name="@Model.IMFileModel.PatientID" value="@Model.IMFileModel.FileName">
                        <td class="center"></td>
                        <td>
                            @Model.IMFileModel.createdOn
                        </td>
                        <td>
                            @Model.IMFileModel.FileName
                            | @Html.ActionLink("Downlaod", "DownLoadFile", new { id = @Model.IMFileModel.FileID, name = "Files" })
                        </td>

                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <hr />
        <br />
        @*Hospitalization*@
        <div>
            <strong>Hospitalization</strong>
        </div>
        <div class="panel-body">
        <table class="table table-hover" id="TableConsultation">
                <thead>
                    <tr>
                        <th>
                            Hospital Name
                        </th>
                        <th>
                            Admission date
                        </th>
                        <th>
                            departure date
                        </th>
                        <th>
                            length of stay
                        </th>
                        <th>
                            Description Title
                        </th>
                        <th>
                            File Name
                        </th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if(@Model.IMHospitalSummaryModel !=null)
                    {
                    <tr id="@Model.IMHospitalSummaryModel.HospitalSummaryID" name="@Model.IMHospitalSummaryModel.AdmissionName" value="@Model.IMHospitalSummaryModel..AdmissionName">

                        <td>
                            @Model.IMHospitalSummaryModel.AdmissionName
                        </td>
                        <td>
                            @Model.IMHospitalSummaryModel.AdmissionDate
                        </td>
                        <td>
                            @Model.IMHospitalSummaryModel.Departure
                        </td>
                        <td>
                            @Model.IMHospitalSummaryModel.LengthStay
                        </td>
                        <td>
                            @Model.IMHospitalSummaryModel.Description
                        </td>
                        <td>
                            @Model.IMHospitalSummaryModel.FileName
                            | @Html.ActionLink("Download", "DownLoadFile", new { id = @Model.IMHospitalSummaryModel.HospitalSummaryID, name = "Hospitalization" })
                        </td>


                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <br />
        @*Management*@
        <div>
            <strong>Management</strong>
        </div>
        <div class="panel-body">
            <table class="table table-hover" id="TableConsultation">
                <thead>
                    <tr>
                        <th>
                           Modified On
                        </th>
                        <th>
                          Note
                        </th>
                       
                    </tr>
                </thead>
                <tbody>
                    @if (@Model.IMManagement != null)
                    {
                        <tr>

                            <td>
                                @Model.IMManagement.modifiedOn
                            </td>
                            <td>
                                @Model.IMManagement.Description
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <br />
        @*Management*@
        <div>
            <strong>Account</strong>
        </div>
        <div class="panel-body">
            <table class="table table-hover" id="TableConsultation">
                <thead>
                    <tr>
                        <th>
                            Modified On
                        </th>
                        <th>
                           Title
                        </th>
                        <th>
                            Fee
                        </th>
                        <th>
                            Payment
                        </th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="hidden-xs">
                            @if (@Model.IMconsultationModel != null)

                            {
                                @Model.IMconsultationModel.modifiedOn
                            }
                        </td>
                        <td>
                            @if (@Model.IMconsultationModel != null)

                            {
                                @Model.IMconsultationModel.title
                            
                            }

                        </td>

                        <td>
                            @if (@Model.IMconsultationModel != null)

                            {
                                @Model.IMconsultationModel.Fees
                                @Model.IMconsultationModel.Curency
                            }                        </td>
                        <td>
                            @if (@Model.IMconsultationModel != null)

                            {

                               
                                if (@Model.IMconsultationModel.CheckBox == true)
                                {<p>yes</p> }
                                if (@Model.IMconsultationModel.CheckBox == false)
                                {<p>No</p> }
                            }
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        <br />
        <br />
        <br />
    </div>
</body>
</html>
