﻿@{
    ViewBag.Title = "AddItem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*@model DataModel.InvoiceItemModel*@

@section CSS{
    <link rel="stylesheet" href="~/Content/assets/plugins/summernote/build/summernote.css" />
    <link rel="stylesheet" href="~/Content/assets/plugins/select2/select2.css" />
}

<div class="row">
    <div class="col-sm-12">
        <!-- start: PAGE TITLE & BREADCRUMB -->
        <ol class="breadcrumb">
            <li><i class="clip-file"></i><a href="#"> Invoices </a></li>
            <li class="active">Add Items... </li>
        </ol>
        <div class="page-header">
            <h1>
                New Item <small>Add new Item</small>
            </h1>
        </div>
        <!-- end: PAGE TITLE & BREADCRUMB -->
    </div>
</div>
<!-- end: PAGE HEADER -->
<div class="row">
    <div class="col-md-12">
        <!-- start: FORM VALIDATION 1 PANEL -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-external-link-square"></i>New Item
                <div class="panel-tools">                  
                </div>
            </div>
            <div class="panel-body">
                <h2>
                    <i class="fa fa-plus-circle teal"></i>Add a new Item
                </h2>
                <p>
                    Add a new Item.
                </p>
                <hr />
                <form method="post" id="form" action="">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="errorHandler alert alert-danger no-display">
                                <i class="fa fa-times-sign"></i>You have some form errors. Please check below.
                            </div>
                            <div class="successHandler alert alert-success no-display">
                                <i class="fa fa-ok"></i>Your form validation is successful!
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                    <label class="control-label">
                                        Item <span class="symbol required"></span>
                                    </label>
                                    @*@Html.DropDownListFor(x => x.Address, new List<SelectListItem> {
                                   new SelectListItem { Text = "Inventory", Value = "1" },
                                   new SelectListItem{ Text="Consultation", Value = "2" }
                                   }, "--Select Item--", new { @class ="form-control", id = "items", Name = "items" })*@
                            </div>
                           
                            <div class="form-group">
                                    <label class="control-label">
                                       Description
                                    </label>
                                  @*@Html.TextAreaFor(x => x.Description, new { @class ="form-control", id = "textarea", style = "height:200px", Name = "description", placeholder = "--Description Area--" })*@
                            </div>

                            <div class="form-group">
                                    <label class="control-label">
                                        Quantity <span class="symbol required"></span>
                                    </label>
                                @*@Html.TextBoxFor(x => x.Quantity, new { @class = "form-control", id = "quantity", Name = "quantity" })*@
                            </div>

                            <div class="form-group">
                                    <label class="control-label">
                                        UnitCost <span class="symbol required"></span>
                                    </label>
                                @*@Html.TextBoxFor(x => x.UnitCost, new { @class = "form-control", id = "unicost", Name = "unicost" })*@
                            </div>

                            <div class="form-group">
                                    <label class="control-label">
                                        Price <span class="symbol required"></span>
                                    </label>
                                @*@Html.TextBoxFor(x => x.Total, new { @class = "form-control", id = "total", Name = "total" })*@
                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <span class="symbol required"></span>Required Fields
                                <hr />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <button class="btn btn-light-grey btn-block" type="button" onclick="window.location='/Invoices/ViewInvoices';">
                                Cancel
                            </button>
                        </div>

                        <div class="col-md-4">
                            <p>
                            </p>
                        </div>

                        <div class="col-md-4">
                            <button class="btn btn-blue btn-block" type="submit" >
                                Save
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- end: FORM VALIDATION 1 PANEL -->
    </div>
</div>
<!-- end: PAGE CONTENT-->

@section Scripts{
    <script type="text/javascript" src="~/Content/assets/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/summernote/build/summernote.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/ckeditor/adapters/jquery.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/form-validation.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/jquery-inputlimiter/jquery.inputlimiter.1.3.1.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/autosize/jquery.autosize.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/select2/select2.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/jquery.maskedinput/src/jquery.maskedinput.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/form-elements.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            FormElements.init();
            FormValidator.init();
        });
    </script>
}
