﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*@model DataModel.UserModel*@
@section CSS{
    <link rel="stylesheet" type="text/css" href="~/Content/assets/plugins/select2/select2.css" />
    <link rel="stylesheet" href="~/Content/assets/plugins/DataTables/media/css/DT_bootstrap.css" />
}
<!-- start: PAGE CONTENT -->
<!-- start: PAGE HEADER -->
<!-- start: PANEL CONFIGURATION MODAL FORM -->
<div class="modal fade" id="panel-remove" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    Remove Invoice
                </h4>
            </div>
            <div id="modalbody" class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Cancel
                </button>
                <button type="button" onclick="return execRemove()" class="btn btn-primary">
                    OK
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@Html.Action("_CreateModify", "Home", new { TableName = "Patients" })
<!-- /.modal -->
<!-- end: SPANEL CONFIGURATION MODAL FORM -->
<div class="row">
    <div class="col-sm-12">
        <!-- start: PAGE TITLE & BREADCRUMB -->
        <ol class="breadcrumb">
            <li><i class="clip-file"></i><a href="#">Invoices </a></li>
            <li class="active">Edit Invoice </li>
        </ol>
        <div class="page-header">
            <h1>
                Edit Invoice  <small>list of Invoices</small>
            </h1>
        </div>
        <!-- end: PAGE TITLE & BREADCRUMB -->
    </div>
</div>
<!-- end: PAGE HEADER -->
<!-- start: PAGE CONTENT -->
<div class="row">
    <div class="col-md-12">
        <!-- start: DYNAMIC TABLE PANEL -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-external-link-square"></i>Invoice
                <div class="panel-tools">
                    <a class="btn btn-xs btn-link panel-collapse collapses" href="#"></a><a class="btn btn-xs btn-link panel-config" href="#panel-config" data-toggle="modal">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <a class="btn btn-xs btn-link panel-refresh" href="@Url.Action("EditInvoice", "Invoices")">
                        <i class="fa fa-refresh"></i>
                    </a><a class="btn btn-xs btn-link panel-expand" href="#">
                        <i class="fa fa-resize-full"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
                    <thead>
                        <tr>
                            <th class="center">
                                #
                            </th>
                            <th class="hidden-xs">
                                Item
                            </th>
                            <th>
                                Description
                            </th>
                            <th class="hidden-xs">
                                Quantity
                            </th>
                            <th>
                                UnitCost
                            </th>
                            <th>
                                Total
                            </th>
                            <th class="hidden-xs">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 1;
                            foreach (var Invoice in @Model.ToList())
                            {
                                //if (patient.SecurityModel.View)
                                //{
                                <tr id="@Invoice.InvoiceID">
                                    <td class="center">
                                        @i
                                    </td>
                                    <td class="hidden-xs">
                                        @Invoice.Title
                                    </td>
                                    <td>
                                        @Invoice.FullNamePatient
                                    </td>
                                    @* <td class="hidden-xs">
                                            @patient.MiddleName
                                        </td>*@
                                    <td class="hidden-xs">
                                        @Invoice.DoctorName
                                    </td>
                                    <td class="hidden-xs">
                                        @Invoice.Total
                                    </td>
                                    @*<td>
                                            @Invoice.CreatedBy
                                        </td>
                                        <td>
                                            @Invoice.CreatedON
                                        </td>*@
                                    <td>
                                        @Invoice.CreatedON
                                    </td>
                                    <td>
                                        @Invoice.ModifiedON
                                    </td>
                                    <td class="center">
                                        <div class="visible-md visible-lg hidden-sm hidden-xs">

                                            @*@if (Invoice.SecurityModel.Edit)
                                                {*@
                                            @*<a href="/Invoices/EditInvoice?id=@Invoice.PatientID" class="btn btn-xs btn-teal tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i></a>*@
                                            @*}*@
                                            @*@if (Invoice.SecurityModel.Delete)*@
                                            @*//{*@
                                            <a href="#panel-remove" class="btn btn-xs btn-bricky tooltips" data-placement="top"
                                               data-original-title="Remove" data-toggle="modal">
                                                <i class="fa fa-times fa fa-white">
                                                </i>
                                            </a>
                                            @*}*@
                                        </div>
                                        <div class="visible-xs visible-sm hidden-md hidden-lg">
                                            <div class="btn-group">
                                                <a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
                                                    <i class="fa fa-cog"></i><span class="caret"></span>
                                                </a>
                                                <ul role="menu" class="dropdown-menu pull-right">
                                                    <li role="presentation">
                                                        <a role="menuitem" tabindex="-1" href="#">
                                                            <i class="fa fa-stethoscope">
                                                            </i>Consultation
                                                        </a>
                                                    </li>
                                                    @*@if (Invoice.SecurityModel.MedicalHistoryView)
                                                        {*@
                                                    <li role="presentation">
                                                        <a role="menuitem" tabindex="-1" href="/PediatricMedical/Medical?firstname=@Invoice.PatientID &lastname=@Invoice.PatientID&patientID=@Invoice.PatientID">
                                                            <i class="fa fa-medkit"></i>Medical
                                                        </a>
                                                    </li>
                                                    @*}*@
                                                    @*@if (Invoice.SecurityModel.Edit)
                                                        {*@
                                                    <li role="presentation">
                                                        <a role="menuitem" tabindex="-1" href="/Patient/EditPatient?id=@Invoice.PatientID">
                                                            <i class="fa fa-edit"></i>Edit
                                                        </a>
                                                    </li>
                                                    @*}*@
                                                    @*@if (Invoice.SecurityModel.Delete)
                                                        {*@
                                                    <li role="presentation">
                                                        <a role="menuitem" tabindex="-1" href="#panel-remove">
                                                            <i class="fa fa-times"></i>Remove
                                                        </a>
                                                    </li>
                                                    @*}*@
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                i++;
                                //}
                                //end if
                            }
                        }
                    </tbody>
                </table>
                <div row="class">
                    <div class="col-3 pull-right">
                        <a onclick="window.location='/Invoices/Viewinvoices'" ; class="btn btn-xs btn-blue tooltips" data-placement="top" data-original-title="ADD" data-toggle="modal">
                            <i class="fa fa-plus fa fa-plus">ADD Invoice  </i>
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <!-- end: DYNAMIC TABLE PANEL -->
    </div>
</div>
<!-- end: PAGE CONTENT-->
@section Scripts{
    <script type="text/javascript" src="~/Content/assets/plugins/select2/select2.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/DataTables/media/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/DataTables/media/js/DT_bootstrap.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/table-data.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            TableData.init();

   
        });

    
        var id = '';
        $('tr').click(function () {
            id = $(this).attr('id');
            var name = $(this).attr('name');
            document.getElementById('modalbody').innerHTML = 'Are you sure you want to remove ' + name + '?';
        });

        function execRemove() {
            window.location.href = "/Patient/DeletePatient?id=" + id; return false;
        }

    </script>
}
