﻿

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<DataModel.InvoiceItemModel>
@section CSS{
    <link rel="stylesheet" type="text/css" href="~/Content/assets/plugins/select2/select2.css" />
    <link rel="stylesheet" href="~/Content/assets/plugins/DataTables/media/css/DT_bootstrap.css" />
}
<!-- start: PAGE CONTENT -->
<!-- start: PAGE HEADER -->
<!-- start: PANEL CONFIGURATION MODAL FORM -->
<div class="modal fade" id="panel-remove" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    Remove Invoice
                </h4>
            </div>
            <div id="modalbody" class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Cancel
                </button>
                <button type="button" onclick="return execRemove()" class="btn btn-primary">
                    OK
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@Html.Action("_CreateModify", "Home", new { TableName = "Patients", FormMethod.Post })
<!-- /.modal -->
<!-- end: SPANEL CONFIGURATION MODAL FORM -->
<div class="row">
    <div class="col-sm-12">
        <!-- start: PAGE TITLE & BREADCRUMB -->
        <ol class="breadcrumb">
            <li><i class="clip-file"></i><a href="#">Invoices </a></li>
            <li class="active">Edit Invoice </li>
        </ol>
        <div class="page-header">
            <h1>
                List Of Invoice Items  <small> List Of Invoice Items</small>
            </h1>
        </div>
        <!-- end: PAGE TITLE & BREADCRUMB -->
    </div>
</div>
<!-- end: PAGE HEADER -->
<!-- start: PAGE CONTENT -->
@using (Html.BeginForm("ListOfInvoiceItems", "Invoices"))
{
    @Html.AntiForgeryToken()

<div class="row">
   
    <div class="col-md-12">

@{
    int r = 0;
    foreach (var Items in @Model.ToList())
    {

        @*@using (Html.BeginForm("ListOfInvoiceItems", "Invoices"))
        {*@
foreach (var Items2 in @Items.InvoicesModels.ToList())
{
    if (r < 1)
    {
        <div class="row">
            <div class="col-md-4">
                <div class='form-group'>
                    <label class='control-label' for='form-field-select-1'>
                        Invoice Title <span class="symbol required"></span>
                    </label>
                    <input id="@Items2.Title" value="@Items2.Title" />
                    @*@Html.DisplayFor(m => Items2.Title)*@
                </div>

            </div>
        </div>
        <div class="row">
            <div class='col-md-6'>
                <div class='form-group'>
                    <label class='control-label' for='form-field-select-1'>
                        Doctor <span class="symbol required"></span>
                    </label>
                   @*MedOR.Common.Comm.GetPatientListDrop1(Items2.PatientID)*@      
                    @*@Html.DropDownListFor("DoctorName", ViewData["DoctorName"]);*@
                    @Html.DropDownListFor(m => Items2.DoctorName, MedOR.Common.Comm.GetDoctorListDrop1(), Items2.DoctorName, new { @class = "form-control", id = "SelectedDoctorIDs", Name = "SelectedDoctorIDs" })




                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="form-field-select-2">
                        Patient   <span class="symbol required"></span>
                    </label>
                    @Html.DropDownListFor(m => Items2.FullNamePatient, MedOR.Common.Comm.GetPatientListDrop1(), Items2.FullNamePatient, new { @class = "form-control", id = "SelectedPatientIDs", Name = "SelectedPatientIDs" })
                </div>
            </div>
        </div>
            r++;
        }
    }

} } 
        
        
        @*@Html.DropDownList("Doctorname", new SelectList(ViewBag.DoctorName, "Id", "Name"))*@
        @*@Html.DropDownList("accountid", new SelectList(ViewData["Doctorname"]), "AccountID", "AccountName"))*@
        @*@Html.DropDownList("doctorName", ViewData["Doctorname"]);*@
        <!-- start: DYNAMIC TABLE PANEL -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-external-link-square"></i>Invoice
                <div class="panel-tools">
                    <a class="btn btn-xs btn-link panel-collapse collapses" href="#"></a><a class="btn btn-xs btn-link panel-config" href="#panel-config" data-toggle="modal">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <a class="btn btn-xs btn-link panel-refresh" href="@Url.Action("EditInvoice", "Invoices")">
                        <i class="fa fa-refresh"></i>
                    </a><a class="btn btn-xs btn-link panel-expand" href="#">
                        <i class="fa fa-resize-full"></i>
                    </a>
                </div>
            </div>
@*@for (int i1 = 0; i1 < Model.Count(); i1++)
{

    @Html.DisplayFor(x => Model[i1].Description);
}*@
            <div class="panel-body">
                <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
                    <thead>
                        <tr>
                            <th class="center">
                                #
                            </th>
                            <th class="hidden-xs">
                                Item
                            </th>
                            <th>
                                Description
                            </th>
                            <th class="hidden-xs">
                                Quantity
                            </th>
                            <th>
                                UnitCost
                            </th>
                            <th>
                                Total
                            </th>
                            <th class="hidden-xs">

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 1;
                            foreach (var Items in @Model.ToList())
                            {
                                //if (patient.SecurityModel.View)
                                //{
                                <tr id="@Items.InvoiceItemID" contextmenu="@Items.InvoiceID" name="@Items.Description" value="@Items.UnitCost" attribute="@Items.Total">
                                    <td class="center">
                                        @i
                                    </td>
                                    <td class="hidden-xs">
                                        Consultation
                                    </td>
                                    <td>
                                        @Items.Description
                                    </td>
                                    @* <td class="hidden-xs">
                                            @patient.MiddleName
                                        </td>*@
                                    <td class="hidden-xs">
                                        @Items.Quantity
                                    </td>
                                    <td class="hidden-xs">
                                        @Items.UnitCost.ToString("0.00")
                                    </td>
                                    @*<td>
                                            @Invoice.CreatedBy
                                        </td>
                                        <td>
                                            @Invoice.CreatedON
                                        </td>*@
                                    <td>
                                        @Items.Total.ToString("0.00")
                                    </td>
                                    
                                    <td class="center">
                                        <div class="visible-md visible-lg hidden-sm hidden-xs">
                                            @*<a href="/Invoices/EditInvoice?id=@Items.InventoryID" class="btn btn-xs btn-teal tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i></a>*@
                                            @*}*@
                                            @*@if (Invoice.SecurityModel.Delete)*@
                                            @*//{*@
                                            <a href="#panel-remove" class="btn btn-xs btn-bricky tooltips" data-placement="top"
                                               data-original-title="Remove" data-toggle="modal">
                                                <i class="fa fa-times fa fa-white">
                                                </i>
                                            </a>
                                            @*}*@
                                        </div>
                                        <div class="visible-xs visible-sm hidden-md hidden-lg">
                                            <div class="btn-group">
                                                <a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
                                                    <i class="fa fa-cog"></i><span class="caret"></span>
                                                </a>
                                                <ul role="menu" class="dropdown-menu pull-right">
                                                    <li role="presentation">
                                                        <a role="menuitem" tabindex="-1" href="#">
                                                            <i class="fa fa-stethoscope">
                                                            </i>Consultation
                                                        </a>
                                                    </li>
                                                    @*@if (Invoice.SecurityModel.MedicalHistoryView)
                                                   
                                                    @*}*@
                                                    @*@if (Invoice.SecurityModel.Edit)
                                                        {*@
                                                    <li role="presentation">
                                                        <a role="menuitem" tabindex="-1" href="/Patient/EditPatient?id=@Items.InventoryID">
                                                            <i class="fa fa-edit"></i>Edit
                                                        </a>
                                                    </li>
                                                    @*}*@
                                                    @*@if (Invoice.SecurityModel.Delete)
                                                        {*@
                                                    <li role="presentation">
                                                        <a href="#panel-remove" class="btn btn-xs btn-bricky tooltips" data-placement="top"
                                                           data-original-title="Remove" data-toggle="modal">
                                                            <i class="fa fa-times fa fa-white">
                                                            </i>
                                                        </a>
                                                    </li>
                                                    @*}*@
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                i++;
                                //}
                                //end if
                            }
                        }
                    </tbody>
                </table>
                <div row="class">
                    <div class="col-3 pull-right">
                        <a onclick="window.location='/Invoices/Viewinvoices'" ; class="btn btn-xs btn-blue tooltips" data-placement="top" data-original-title="ADD" data-toggle="modal">
                            <i class="fa fa-plus fa fa-plus">ADD Invoice  </i>
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <!-- end: DYNAMIC TABLE PANEL -->
    </div>
</div>
                            }
<!-- end: PAGE CONTENT-->
<div class="row pull-right">
    <div class="col-sm-12 invoice-block ">

 

@{
    int e = 0;
    foreach (var Items in @Model.ToList())


    {

            foreach (var Items2 in @Items.InvoicesModels.ToList())
            {

                if (e < 1)
                {
        <ul class="list-unstyled amounts">
            <li>
                <strong>Sub-Total: </strong>
                <label id="SubTotalID" value="@Items2.SubTotal">@Items2.SubTotal.ToString("0.00") $</label>
            </li>
            <li>
                <strong>Discount:</strong>
                <label id="DiscountID">0%</label>
            </li>
            <li>
                <strong>VAT:</strong>
                <label id="VatID">11%</label>
            </li>
            <li>
                <strong>Total:</strong>
                <label id="GTotalID">@Items2.Total.ToString("0.00") $</label>
            </li>
        </ul>
            e++;
        }
    }
}
}
        <br>
        <a onclick="javascript:window.print();" class="btn btn-lg btn-teal hidden-print">
            Print <i class="fa fa-print"></i>
        </a>
        @*<button class="btn btn-lg btn-blue" onclick="FctTableInputs()">*@
        <button class="btn btn-lg btn-blue" type="submit">
            Save
        </button>

    </div>
</div>
   
@section Scripts{
    <script type="text/javascript" src="~/Content/assets/plugins/select2/select2.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/DataTables/media/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/DataTables/media/js/DT_bootstrap.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/table-data.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            TableData.init();


        });

        var UniCosti = '';
        var totali = '';
        var InvoiceItemID = '';
        var InvoiceID = '';

        $('tr').click(function () {
            debugger;
            InvoiceItemID = $(this).attr('id');
            InvoiceID = $(this).attr('contextmenu');
            var name = $(this).attr('name');
             UniCosti = $(this).attr('value');
            totali = $(this).attr('attribute');
            document.getElementById('modalbody').innerHTML = 'Are you sure you want to remove ' + name + '?';
        });

        function execRemove() {
            debugger;
            var SubTotal = document.getElementById('SubTotalID').innerHTML;
            SubTotal = parseInt(SubTotal, 10);
           var UniCostii = parseInt(UniCosti, 10);
            SubTotal = SubTotal - UniCostii;

            var GTotal = document.getElementById('GTotalID').innerHTML;
            GTotal = parseInt(GTotal, 10);
          var  totalii = parseInt(totali, 10);
          GTotal = GTotal - totalii;
            GTotal = (GTotal * 11) / 100 + GTotal;

            window.location = '/Invoices/DeleteInvoiceItemByID?InvoiceItemID=' + InvoiceItemID + '&InvoiceID=' + InvoiceID + '&SubTotal=' + SubTotal + '&GTotal=' + GTotal; return false;
       
        }

    </script>
}
