﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model DataModel.UserModel

@*@model DataModel.InvoicesModel*@
@section CSS{
<link rel="stylesheet" href="~/Content/assets/plugins/select2/select2.css" />
<link rel="stylesheet" href="~/Content/assets/plugins/datepicker/css/datepicker.css" />
<link rel="stylesheet" href="~/Content/assets/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" />
<link rel="stylesheet" href="~/Content/assets/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" />
<link rel="stylesheet" href="~/Content/assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css" />
<link rel="stylesheet" href="~/Content/assets/plugins/jQuery-Tags-Input/jquery.tagsinput.css" />
<link rel="stylesheet" href="~/Content/assets/plugins/bootstrap-fileupload/bootstrap-fileupload.min.css" />
<link rel="stylesheet" href="~/Content/assets/plugins/summernote/build/summernote.css" />
}
   


<!DOCTYPE html>
<html lang="en" class="no-js">

 <!--START: BODY -->
<head>

    <!-- start: META ---->
    <meta charset="utf-8" />
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- end: META -->
    <!-- start: MAIN CSS -->
  
    <link rel="stylesheet" href="assets/css/print.css" type="text/css" media="print" />
    <link rel="shortcut icon" href="favicon.ico" />
</head>

<body>
    <!-- Start: PAGE HEADER -->
    <div class="row">
        <div class="col-sm-12">
            <!-- start: PAGE TITLE & BREADCRUMB -->
            <ol class="breadcrumb">
                <li><i class="clip-file"></i><a href="#"> Invoices </a></li>
            
            </ol>
            <div class="page-header">
                <h1>
                   Invoices <small>create new Invoice</small>
                </h1>
            </div>
            <p id="DateT" style="font-size: 14px;">
            </p>
            <!-- end: PAGE TITLE & BREADCRUMB -->
        </div>
    </div>
    <!-- end: PAGE HEADER -->

    <!-- start: PAGE -->
    <div class="container">
@*@using (Html.BeginForm("SaveInputsInvoices", "Invoices"))
{*@
        <div class="invoice">
            <div class="row">
                <div class="col-md-12">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-external-link-square"></i>Invoice
                        </div>

                        <div class="panel-body">

                            <h2>
                                <i class="fa fa-pencil-square teal"></i>Create New Invoice
                            </h2>
                            <p>
                                Create New Invoice
                            </p>
                            <hr />
           
                            <div class="row">
                                <div class="col-md-4">
                                    <div class='form-group'>
                                        <label class='control-label' for='form-field-select-1'>
                                            Invoice Title <span class="symbol required"></span>
                                        </label>
                                        <input name="TitleInvoice" id="TitleInvoiceID" placeholder="Title" type="text" />
                                        </div>
                                
                                    </div>
                            </div>
                            <div class="row">
                                <div class='col-md-6'>
                                    <div class='form-group'>
                                        <label class='control-label' for='form-field-select-1'>
                                            Doctor <span class="symbol required"></span>
                                        </label>
                                        @Html.DropDownListFor(m => m.SelectedDoctorIDs, MedOR.Common.Comm.GetDoctorList(@Model.DoctorModels), "--Select user's Doctor--", new { @class = "form-control", id = "SelectedDoctorIDs", Name = "SelectedDoctorIDs" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for="form-field-select-2">
                                            Patient   <span class="symbol required"></span>
                                        </label>
                                        @Html.DropDownListFor(m => m.SelectedPatientIDs, MedOR.Common.Comm.GetPatientListDrop(@Model.PaitentModels), "--Select user's Patient--", new { @class = "form-control", id = "SelectedPatientIDs", Name = "SelectedPatientIDs" })
                                    </div>
                                </div>
                            </div>
                            <!-- start: DYNAMIC TABLE PANEL -->
                            <div class="panel-body">
                                <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
                                    <thead>
                                        <tr>
                                            <th class="center">
                                                #
                                            </th>
                                            <th class="hidden-xs">
                                                Items
                                            </th>
                                            <th>
                                                Description
                                            </th>
                                            <th class="hidden-xs">
                                                Quantity
                                            </th>
                                            <th>
                                                UnitCost
                                            </th>
                                            <th>
                                                Total
                                            </th>
                                            <th class="hidden-xs">

                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="table1">

                                        <tr>

                                                <td id="Indexx1" Value="">
                                                      
                                                </td>
                                                  <td>
                                                    Consultation 
                                                </td>
                                                  <td>
                                                    <textarea name="SelectedDescription" class="form-control" cols="20" id="SelectedDescription" placeholder="Description" arearows="2" style="height:50px"></textarea>
                                                </td>
                                                  <td>
                                                <input name="quantity" id="QuantityID" placeholder="--1,2,3--" type="text">
                                            </td>
                                                  <td>
                                                    <input name="UnitCost" id="UnitCostID" placeholder="--1,2,3--" type="text">
                                                 </td>
                                                  <td>
                                                <input name="Total" id="TotalID" placeholder="--1,2,3--" type="text">
                                            </td>
                                                  <td >
                                                    <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                        
                                                       
                                                        <a onclick="myDeleteFunction()" class="btn btn-xs btn-bricky tooltips" data-placement="top"
                                                           data-original-title="Remove" data-toggle="modal">
                                                            <i class="fa fa-times fa fa-white">
                                                            </i>
                                                        </a>

                                                        @*<a href="" class="btn btn-xs btn-teal tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i></a>*@
                                                    </div>
                                                    <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                        <div class="btn-group">
                                                            <a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
                                                                <i class="fa fa-cog"></i><span class="caret"></span>
                                                            </a>
                                                            <ul role="menu" class="dropdown-menu pull-right">
                                                                <li role="presentation">
                                                                    <a role="menuitem" tabindex="-1" href="/Clinic/EditClinic?id=@*@clinic.ClinicID*@">
                                                                        <i class="fa fa-edit"></i>Edit
                                                                    </a>
                                                                </li>
                                                                <li role="presentation">
                                                                    <a role="menuitem" tabindex="-1" href="#panel-remove">
                                                                        <i class="fa fa-times"></i>Remove
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </td>
</tr>
</tbody>
                                    
                                </table>
                                <hr />
                            </div>
                            <div row="class">
                                <div class="col-3 pull-right">
                                    <a onclick="FctAddItem('table1') " class="btn btn-xs btn-blue tooltips" data-placement="top" data-original-title="ADD" data-toggle="modal">
                                        <i class="fa fa-plus fa fa-plus">ADD Item  </i>
                                    </a>
                                </div>
                            </div>
              

                        </div>
                        <!-- end: DYNAMIC TABLE PANEL -->
                    </div>
                </div>
            </div>
            <!-- end: PAGE CONTENT-->
            <div class="row">
                <div class="col-sm-12 invoice-block">
                    <ul class="list-unstyled amounts">
                        <li>
                            <strong >Sub-Total:</strong> 
                            <label id="SubTotalID">$0.00</label>
                        </li>
                        <li>
                            <strong>Discount:</strong>
                            <label id="DiscountID">0%</label>
                        </li>
                        <li>
                            <strong>VAT:</strong> 
                            <label id="VatID">11%</label>
                        </li>
                        <li>
                            <strong>Total:</strong>
                            <label id="GTotalID">$0.00</label>
                        </li>
                    </ul>
                    <br>
                    <a onclick="javascript:window.print();" class="btn btn-lg btn-teal hidden-print">
                        Print <i class="fa fa-print"></i>
                    </a>
                    @*<button class="btn btn-lg btn-blue" onclick="FctTableInputs()">*@
                    <button class="btn btn-lg btn-blue"  onclick="FctTableInputs()">
                        Save
                    </button>

                </div>
            </div>
        </div>
    </div>
    <!-- end: PAGE -->

    <!-- end: MAIN CONTAINER -->

    <!-- start: FOOTER -->
    <div class="footer clearfix">
        <div class="footer-inner">
            2014 &copy; clip-one by cliptheme.
        </div>
        <div class="footer-items">
            <span class="go-top"><i class="clip-chevron-up"></i></span>
        </div>
    </div>
    <!-- END: FOOTER -->
   
</body>
<!-- end: BODY -->
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<!--<![endif]-->
<!-- end: MAIN JAVASCRIPTS -->
<!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
<!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
<script>
			jQuery(document).ready(function() {
			    //Main.init();
			    debugger;
			 
			    $("#submit").click(function () {
			        debugger;
			        var books = $("#form-field-select-2");
			        if (books.val() === '') {
			            alert("Please select an item from the list and then proceed!");
			            $("#form-field-select-2").focus();

			            return false;
			        }
			        else return;
			    });

			});
    //TableData.init();
			//start FctTableInputs()
			function FctTableInputs() {
			    debugger;
			    var SelectedDescription = [];
			    var SelectedQuantity = [];
			    var SelectedUnitCost = [];
			    var SelectedTotal = [];

			    var SelectedDoctorIDs = document.getElementById("SelectedDoctorIDs").value;
			    var SelectedPatientIDs = document.getElementById("SelectedPatientIDs").value;
			    var SelectedTitleInvoiceID = document.getElementById("TitleInvoiceID").value;

			    //var SelectedDescription2 = [{ key: "key", value: "value" }];
			    //var SelectedDescription3 = new Object();
			    debugger;
			   
			        SelectedDescription.push(document.getElementById("SelectedDescription").value);
			        SelectedQuantity.push(document.getElementById("QuantityID").value);
			        SelectedUnitCost.push(document.getElementById("UnitCostID").value);
			        SelectedTotal.push(document.getElementById("TotalID").value);

			        var iteration = document.getElementById("table1").childElementCount;
			        var Total = document.getElementById("TotalID").value;
			        var TotalInt = parseInt(Total, 10);

			        if (SelectedQuantity != "" && SelectedUnitCost != "" && SelectedTotal != "" && SelectedDoctorIDs != "" && SelectedPatientIDs != "" && SelectedTitleInvoiceID !="") {
			        if (iteration > 1) {

			            for (i = 0; i < iteration; i++) {
			                if (i == 0) { i++; }

			                var SelectedDescriptioni = "SelectedDescription" + i;
			                var SelectedQuantityi = "QuantityID" + i;
			                var SelectedUnitCosti = "UnitCostID" + i;
			                var SelectedTotali = "TotalID" + i;

			                if (iteration > 1) {
			                    var Totali = document.getElementById(SelectedTotali).innerHTML;
			                    var TotaliInt = parseInt(Totali, 10);

			                    if (Totali == "undefined" || Totali == "") {
			                        Totali = document.getElementById(SelectedTotali).value;
			                        TotaliInt = parseInt(Totali, 10);
			                        TotalInt = TotalInt + TotaliInt;
			                    }
			                    else { TotalInt = TotalInt + TotaliInt; }

			                }



			                SelectedDescription.push(document.getElementById(SelectedDescriptioni).innerHTML);
			                SelectedDescription.push(document.getElementById(SelectedDescriptioni).value);

			                SelectedQuantity.push(document.getElementById(SelectedQuantityi).innerHTML);
			                SelectedQuantity.push(document.getElementById(SelectedQuantityi).value);

			                SelectedUnitCost.push(document.getElementById(SelectedUnitCosti).innerHTML);
			                SelectedUnitCost.push(document.getElementById(SelectedUnitCosti).value);

			                SelectedTotal.push(document.getElementById(SelectedTotali).innerHTML);
			                SelectedTotal.push(document.getElementById(SelectedTotali).value);

			            }
			        }

			        document.getElementById("SubTotalID").innerHTML = ("$" + parseFloat(TotalInt).toFixed(2));
			        var GTotal = (TotalInt * 11) / 100 + TotalInt;//parseFloat(TotalInt).toFixed(2);
			        document.getElementById("GTotalID").innerHTML = ("$" + GTotal);

			        var Quantity = document.getElementById("QuantityID").value;

			        //var bla1 = $('#filee').val()
			        //alert(SelectedDescription);
			        $.ajax({
			            "url": "/Invoices/SaveInputsInvoices/",
			            "type": "POST",
			            "dataType": "json",
			            data: {
			                SelectedDescription: JSON.stringify(SelectedDescription), SelectedQuantity: JSON.stringify(SelectedQuantity),
			                SelectedUnitCost: JSON.stringify(SelectedUnitCost), SelectedTotal: JSON.stringify(SelectedTotal),
			                SelectedDoctorIDs: SelectedDoctorIDs, SelectedPatientIDs: SelectedPatientIDs, GTotal: GTotal, TotalInt: TotalInt,
			                SelectedTitleInvoiceID:SelectedTitleInvoiceID

			            },
			            error: function (xhr, status, error) {
			            },
			            success: function (data) {
			                document.getElementById("QuantityID").value = "";
			                document.getElementById("UnitCostID").value = "";
			                document.getElementById("TotalID").value = ""; 
			                document.getElementById("SelectedDescription").value = "";
			                document.getElementById("SelectedDoctorIDs").value = "";
			                document.getElementById("TitleInvoiceID").value = "";
			                document.getElementById("SelectedPatientIDs").value = "";
			            }
			        });
			    }
			    else {

                    alert("test")
			    }
                   @*@{Html.RenderPartial("ListOfInvoices"); }*@
			}
                  //End FctTableInputs()

			    function MyEditFunction(id) {
			    debugger;
			    var table = document.getElementById("table1"), rIndex;
			    var SelectedDescription = "SelectedDescription"+id
			    var QuantityID = "QuantityID" + id;
			    var UnitCostID = "UnitCostID" + id;
			    var TotalID = "TotalID" + id;

			    var SelectedDescription = document.getElementById(SelectedDescription).innerHTML;
			    var SelectedQuantity = document.getElementById(QuantityID).innerHTML;
			    var SelectedUnitCost = document.getElementById(UnitCostID).innerHTML;
			    var SelectedTotal = document.getElementById(TotalID).innerHTML;

			    table.rows[id - 1].cells[2].innerHTML = "<textarea id=" + "SelectedDescription"+ id + " type = " + "text" + " text = " + SelectedDescription + " value =" + SelectedDescription + " style=" + "height:50px></textarea>";
			    table.rows[id - 1].cells[3].innerHTML = "<input id=" + "QuantityID" + id + " Value=" + SelectedQuantity +">";
			    table.rows[id - 1].cells[4].innerHTML = "<input id=" + "UnitCostID" + id + " Value=" + SelectedUnitCost + ">";
			    table.rows[id - 1].cells[5].innerHTML = "<input id=" + "TotalID" + id + " Value=" + SelectedTotal + " >";

			}

			    function FctAddItem(ee) {
			    debugger;
			    var SelectedDescription = document.getElementById("SelectedDescription").value;
			    var SelectedQuantity = document.getElementById("QuantityID").value;
			    var SelectedUnitCost = document.getElementById("UnitCostID").value;
			    var SelectedTotal = document.getElementById("TotalID").value;
			    var SelectedDoctorIDs = document.getElementById("SelectedDoctorIDs").value;
			    var SelectedPatientIDs = document.getElementById("SelectedPatientIDs").value;

			    if ( SelectedQuantity !="" && SelectedUnitCost !="" && SelectedTotal !="") {

			        var table = document.getElementById(ee);
			        var iteration = document.getElementById(ee).childElementCount;
			        var row = table.insertRow(iteration - 1);
			        var cell1 = row.insertCell(0);
			        var cell2 = row.insertCell(1);
			        var cell3 = row.insertCell(2);
			        var cell4 = row.insertCell(3);
			        var cell5 = row.insertCell(4);
			        var cell6 = row.insertCell(5);
			        var cell7 = row.insertCell(6);

			        document.getElementById("Indexx1").innerHTML = iteration + 1;
			        cell1.innerHTML = iteration;
			        cell2.innerHTML = "Consultation";
			        cell3.innerHTML = "<label  id=" + "SelectedDescription" + iteration + " > " + SelectedDescription + "</label>";
			        cell4.innerHTML = "<label  id=" + "QuantityID" + iteration + " > " + SelectedQuantity + "</label>";
			        cell5.innerHTML = "<label id=" + "UnitCostID" + iteration + " > " + SelectedUnitCost + "</label>";
			        cell6.innerHTML = "<label  id=" + "TotalID" + iteration + "> " + SelectedTotal + "</label>";
			        cell7.innerHTML = ' <a onclick="myDeleteFunction(this.id)" id ="' + iteration + '" class="btn btn-xs btn-bricky tooltips" data-placement="top" data-original-title="Remove" data-toggle="modal"> <i class="fa fa-times fa fa-white"> </i></a> &nbsp;'
                                    + ' <a onclick="MyEditFunction(this.id)" id ="' + iteration + '" class="btn btn-xs btn-teal tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i></a> ';

			        var Total = document.getElementById("TotalID").value;
			        var TotalInt = parseInt(Total, 10);
			        for (i = 0; i < iteration; i++) {
			            if (i == 0) { i++; }
			            var SelectedTotali = "TotalID" + i;
			            if (iteration > 1) {
			                var Totali = document.getElementById(SelectedTotali).innerHTML;
			                var TotaliInt = parseInt(Totali, 10);
			                if (Totali == "undefined" || Totali == "") {
			                    Totali = document.getElementById(SelectedTotali).value;
			                    TotaliInt = parseInt(Totali, 10);
			                    TotalInt = TotalInt + TotaliInt;
			                }
			                else { TotalInt = TotalInt + TotaliInt; }
			            }
			            document.getElementById("SubTotalID").innerHTML = ("$" + parseFloat(TotalInt).toFixed(2));
			            var GTotal = (TotalInt * 11) / 100 + TotalInt;//parseFloat(TotalInt).toFixed(2);
			            document.getElementById("GTotalID").innerHTML = ("$" + GTotal);
			        }
			    }
			
			    else {
			        window.alert("sometext");
			    }
			    document.getElementById("QuantityID").value = "";
			    document.getElementById("UnitCostID").value = "";
			    document.getElementById("TotalID").value = "";
			    document.getElementById("SelectedDescription").value = "";

		}



    function myDeleteFunction(x) {
        debugger;
        var iteration = document.getElementById("table1").childElementCount;
        document.getElementById("table1").deleteRow(x -1);


        var iteration = document.getElementById("table_ICD_10").childElementCount;
        iteration = iteration
        document.getElementById("table_ICD_10").deleteRow(x);

			}

			//var DateT = new Date(2018 - 01 - 26);
			//document.getElementById("DateT").innerHTML = DateT;

</script>
