﻿@{
    ViewBag.Title = "CreateNewRole";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model DataModel.RoleModel
<!-- start: PAGE HEADER -->
@section CSS{
    <link rel="stylesheet" href="~/Content/assets/plugins/summernote/build/summernote.css" />
    <link rel="stylesheet" href="~/Content/assets/plugins/select2/select2.css" />
}
<div class="row">
    <div class="col-sm-12">
        <!-- start: PAGE TITLE & BREADCRUMB -->
        <ol class="breadcrumb">
            <li><i class="clip-file"></i><a href="ListOfRoles"> Roles & Permissions </a></li>
            <li class="active">Create New... </li>
        </ol>
        <div class="page-header">
            <h1>
                New Role & Permissions <small>create new role & permissions</small></h1>
        </div>
        <!-- end: PAGE TITLE & BREADCRUMB -->
    </div>
</div>
<!-- end: PAGE HEADER -->
<div class="row">
    <div class="col-md-12">
        <!-- start: FORM VALIDATION 1 PANEL -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-external-link-square"></i>New Role & Permissions
                <div class="panel-tools">
                    @*<a class="btn btn-xs btn-link panel-collapse collapses" href="#"></a><a class="btn btn-xs btn-link panel-config"
                        href="#panel-config" data-toggle="modal"><i class="fa fa-wrench"></i></a><a class="btn btn-xs btn-link panel-refresh"
                            href="#"><i class="fa fa-refresh"></i></a><a class="btn btn-xs btn-link panel-expand"
                                href="#"><i class="fa fa-resize-full"></i></a><a class="btn btn-xs btn-link panel-close"
                                    href="#"><i class="fa fa-times"></i></a>*@
                </div>
            </div>
            <div class="panel-body">
                <h2>
                    <i class="fa fa-pencil-square teal"></i>Create new role & permissions</h2>
                <p>
                    Create new role & permissions.
                </p>
                <hr />
                <form method="post" id="form" action="">
                <div class="row">
                    <div class="col-md-12">
                        <div class="errorHandler alert alert-danger no-display">
                            <i class="fa fa-times-sign"></i>You have some form errors. Please check below.
                        </div>
                        <div class="successHandler alert alert-success no-display">
                            <i class="fa fa-ok"></i>Your form validation is successful!
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">
                                Name <span class="symbol required"></span>
                            </label>
                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control", id = "name", Name = "name", placeholder = "Insert role's name" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <div class="alert alert-info">
                            Assign Permissions & Users to this role.
                        </div>
                        <div class="tabbable tabs-left">
                            <ul id="myTab3" class="nav nav-tabs tab-green">
                                <li class="active"><a href="#panel_tab4_example1" data-toggle="tab"><i class="pink fa fa-key">
                                </i> Permissions </a></li>
                                <li class=""><a href="#panel_tab4_example2" data-toggle="tab"><i class="blue fa fa-users">
                                </i> Users </a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="panel_tab4_example1">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover" id="sample-table-1">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        Permission Name
                                                    </th>
                                                    <th class="center">
                                                        View @*<div class="checkbox-table">
                                                            <label>
                                                                View <input type="checkbox" class="flat-grey"/>
                                                            </label>
                                                        </div>*@
                                                    </th>
                                                    <th class="center">
                                                        Create @*<div class="checkbox-table">
                                                            <label>
                                                                Create <input type="checkbox" class="flat-grey"/>
                                                            </label>
                                                        </div>*@
                                                    </th>
                                                    <th class="center">
                                                        Edit @* <div class="checkbox-table">
                                                            <label>
                                                               Edit <input type="checkbox" class="flat-grey"/>
                                                            </label>
                                                        </div>*@
                                                    </th>
                                                    <th class="center">
                                                        Delete @*<div class="checkbox-table">
                                                            <label>
                                                                <input type="checkbox" class="flat-grey"/>
                                                            </label>
                                                        </div>*@
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (int i = 0; i < @Model.PermissionModels.Count(); i++)
                                                {
                                                    @Html.HiddenFor(x => x.PermissionModels[i].PermissionID)
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayTextFor(x => x.PermissionModels[i].PermissionName)
                                                        </td>
                                                        <td class="center">
                                                            <div class="checkbox-table">
                                                                <label>
                                                                    @Html.CheckBoxFor(x => x.PermissionModels[i].View, new { @class = "flat-grey" })
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td class="center">
                                                            <div class="checkbox-table">
                                                                <label>
                                                                    @Html.CheckBoxFor(x => x.PermissionModels[i].Create, new { @class = "flat-grey" })
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td class="center">
                                                            <div class="checkbox-table">
                                                                <label>
                                                                    @Html.CheckBoxFor(x => x.PermissionModels[i].Edit, new { @class = "flat-grey" })
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td class="center">
                                                            <div class="checkbox-table">
                                                                <label>
                                                                    @Html.CheckBoxFor(x => x.PermissionModels[i].Delete, new { @class = "flat-grey" })
                                                                </label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane" id="panel_tab4_example2">
                                    <div class="form-group">
                                        <div>
                                            @Html.ListBoxFor(m => m.SelectedUserIDs, MedOR.Common.Comm.GetUserList(@Model.UserModels), new { multiple = "multiple", @class = "form-control search-select", id = "form-field-select-4", placeholder = "Click here to select users" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <span class="symbol required"></span>Required Fields
                            <hr />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <button class="btn btn-light-grey btn-block" type="button" onclick="window.location='/Security/ListOfRoles';">
                            Cancel
                        </button>
                    </div>
                    <div class="col-md-4">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-blue btn-block" type="submit">
                            Save
                        </button>
                    </div>
                </div>
                </form>
            </div>
        </div>
        <!-- end: FORM VALIDATION 1 PANEL -->
    </div>
</div>
<!-- end: PAGE CONTENT-->
@section Scripts{
    <script type="text/javascript" src="~/Content/assets/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/summernote/build/summernote.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/ckeditor/adapters/jquery.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/form-validation.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/jquery-inputlimiter/jquery.inputlimiter.1.3.1.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/autosize/jquery.autosize.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/select2/select2.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/jquery.maskedinput/src/jquery.maskedinput.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/form-elements.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            FormValidator.init();
            FormElements.init();
        });
    </script>
}
