﻿@{
    ViewBag.Title = "CreateNewUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model DataModel.UserModel
@section CSS{
    <link rel="stylesheet" href="~/Content/assets/plugins/select2/select2.css" />
    <link rel="stylesheet" href="~/Content/assets/plugins/datepicker/css/datepicker.css" />
    <link rel="stylesheet" href="~/Content/assets/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" />
    <link rel="stylesheet" href="~/Content/assets/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" />
    <link rel="stylesheet" href="~/Content/assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css" />
    <link rel="stylesheet" href="~/Content/assets/plugins/jQuery-Tags-Input/jquery.tagsinput.css" />
    <link rel="stylesheet" href="~/Content/assets/plugins/bootstrap-fileupload/bootstrap-fileupload.min.css" />
    <link rel="stylesheet" href="~/Content/assets/plugins/summernote/build/summernote.css" />
}
<!-- start: PAGE HEADER -->
<div class="row">
    <div class="col-sm-12">
        <!-- start: PAGE TITLE & BREADCRUMB -->
        <ol class="breadcrumb">
            <li><i class="clip-pencil"></i><a href="#">Users </a></li>
            <li class="active">User Wizard </li>
        </ol>
        <div class="page-header">
            <h1>
                New User <small>user wizard</small></h1>
        </div>
        <!-- end: PAGE TITLE & BREADCRUMB -->
    </div>
</div>
<!-- end: PAGE HEADER -->
<!-- start: PAGE CONTENT -->
<div class="row">
    <div class="col-sm-12">
        <!-- start: FORM WIZARD PANEL -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-external-link-square"></i>User Wizard
                <div class="panel-tools">
                   @* <a class="btn btn-xs btn-link panel-collapse collapses" href="#"></a><a class="btn btn-xs btn-link panel-config"
                        href="#panel-config" data-toggle="modal"><i class="fa fa-wrench"></i></a><a class="btn btn-xs btn-link panel-refresh"
                            href="#"><i class="fa fa-refresh"></i></a><a class="btn btn-xs btn-link panel-expand"
                                href="#"><i class="fa fa-resize-full"></i></a><a class="btn btn-xs btn-link panel-close"
                                    href="#"><i class="fa fa-times"></i></a>*@
                </div>
            </div>
            <div class="panel-body">
                <form action="" method="post" role="form" class="smart-wizard form-horizontal" id="form"
                enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                <div id="wizard" class="swMain">
                    <ul>
                        <li><a href="#step-1">
                            <div class="stepNumber">
                                1
                            </div>
                            <span class="stepDesc">Step 1
                                <br />
                                <small>User Account</small> </span></a></li>
                        <li><a href="#step-2">
                            <div class="stepNumber">
                                2
                            </div>
                            <span class="stepDesc">Step 2
                                <br />
                                <small>User Info</small> </span></a></li>
                        <li><a href="#step-3">
                            <div class="stepNumber">
                                3
                            </div>
                            <span class="stepDesc">Step 3
                                <br />
                                <small>Access Rights</small> </span></a></li>
                        <li><a href="#step-4">
                            <div class="stepNumber">
                                4
                            </div>
                            <span class="stepDesc">Step 4
                                <br />
                                <small>Summary</small> </span></a></li>
                    </ul>
                    <div class="progress progress-striped active progress-sm">
                        <div aria-valuemax="100" aria-valuemin="0" role="progressbar" class="progress-bar progress-bar-success step-bar">
                            <span class="sr-only">0% Complete (success)</span>
                        </div>
                    </div>
                    <div id="step-1">
                        <h2 class="StepTitle">
                            User Account</h2>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                            </label>
                            <div class="col-sm-7">
                                <div class="alert alert-success no-display" id="success">
                                    <button data-dismiss="alert" class="close">
                                        &times;</button>
                                    <i class="fa fa-check-circle"></i>@TempData["MessageSuccess"]
                                </div>
                                <div class="alert alert-danger no-display" id="error">
                                    <button data-dismiss="alert" class="close">
                                        &times;</button>
                                    <i class="fa fa-times-circle"></i>@TempData["MessageError"]
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                Username <span class="symbol required"></span>
                            </label>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(m => m.Username, new { @class = "form-control", id = "username", Name = "username", placeholder = "Insert username" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                Email <span class="symbol required"></span>
                            </label>
                            <div class="col-sm-7">
                                <span class="input-icon">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", id = "email", Name = "email", placeholder = "Insert user's email", type = "email" })
                                    <i class="fa fa-envelope"></i></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                Password <span class="symbol required"></span>
                            </label>
                            <div class="col-sm-7">
                                <span class="input-icon">
                                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control", id = "password", Name = "password", placeholder = "Insert user's password", type = "password" })
                                    <i class="fa fa-lock"></i></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                Confirm Password <span class="symbol required"></span>
                            </label>
                            <div class="col-sm-7">
                                <span class="input-icon">
                                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control", id = "password_again", Name = "password_again", placeholder = "Insert user's password one more time", type = "password" })
                                    <i class="fa fa-lock"></i></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2 col-sm-offset-8">
                                <button class="btn btn-blue next-step btn-block">
                                    Next <i class="fa fa-arrow-circle-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="step-2">
                        <h2 class="StepTitle">
                            User Info</h2>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                First Name <span class="symbol required"></span>
                            </label>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", id = "firstname", Name = "firstname", placeholder = "Insert user's first name" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                Last Name <span class="symbol required"></span>
                            </label>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", id = "lastname", Name = "lastname", placeholder = "Insert user's last name" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                Phone Number <span class="symbol required"></span>
                            </label>
                            <div class="col-sm-7">
                                <span class="input-icon">
                                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", id = "phone", Name = "phone", placeholder = "Insert user's phone number" })
                                    <i class="fa fa-phone"></i></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                Gender <span class="symbol required"></span>
                            </label>
                            <div class="col-sm-7">
                                <label class="radio-inline">
                                    @Html.RadioButtonFor(model => model.Gender, "false", new { value = "f", id = "gender_female", Name = "gender", @class = "grey" })
                                    Female
                                </label>
                                <label class="radio-inline">
                                    @Html.RadioButtonFor(model => model.Gender, "true", new { value = "m", id = "gender_male", Name = "gender", @class = "grey" })
                                    Male
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                Image Upload
                            </label>
                            <div class="col-sm-7">
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <div class="fileupload-new thumbnail" style="max-width: 150px; max-height: 150px;">
                                        <img src="~/Content/assets/images/avatar-1-xl.jpg" alt="" />
                                    </div>
                                    <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 150px;
                                        max-height: 150px; line-height: 20px;">
                                    </div>
                                    <div class="user-edit-image-buttons">
                                        <span class="btn btn-light-grey btn-file"><span class="fileupload-new"><i class="fa fa-picture">
                                        </i>Select image</span><span class="fileupload-exists"><i class="fa fa-picture"></i>
                                            Change</span>
                                            <input type="file" name="uploadFile" /></span> <a href="#" class="btn fileupload-exists btn-light-grey"
                                                data-dismiss="fileupload"><i class="fa fa-times"></i>Remove </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                Address <span class="symbol required"></span>
                            </label>
                            <div class="col-sm-7">
                                <span class="input-icon">
                                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control", id = "address", Name = "address", placeholder = "Insert user's address" })
                                    <i class="fa fa-home"></i></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                City <span class="symbol required"></span>
                            </label>
                            <div class="col-sm-7">
                                <span class="input-icon">
                                    @Html.TextBoxFor(m => m.City, new { @class = "form-control", id = "city", Name = "city", placeholder = "Insert user's city" })
                                    <i class="fa fa-home"></i></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                Country <span class="symbol required"></span>
                            </label>
                            <div class="col-sm-7">
                                @Html.DropDownListFor(m => m.Country, MedOR.Common.Comm.GetCountryList(), "--Select user's country--", new { @class = "form-control", id = "country", Name = "country" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2 col-sm-offset-3">
                                <button class="btn btn-light-grey back-step btn-block">
                                    <i class="fa fa-circle-arrow-left"></i>Back
                                </button>
                            </div>
                            <div class="col-sm-2 col-sm-offset-3">
                                <button class="btn btn-blue next-step btn-block">
                                    Next <i class="fa fa-arrow-circle-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="step-3">
                        <h2 class="StepTitle">
                            User's Access</h2>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                Role <span class="symbol required"></span>
                            </label>
                            <div class="col-sm-7">
                                
                                @Html.DropDownListFor(m => m.Role, MedOR.Common.Comm.GetRoleList(@Model.RoleModels), "--Select user's role--", new { @class = "form-control", id = "role", Name = "role" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="form-field-select-4" class="col-sm-3 control-label">
                                Clinics <span class="symbol required"></span>
                            </label>
                            <div class="col-sm-7">
                                @Html.ListBoxFor(m => m.SelectedClinicIDs, MedOR.Common.Comm.GetClinicList(@Model.ClinicModels), new { multiple = "multiple", @class = "form-control search-select", id = "SelectedClinicIDs", placeholder = "Select clinics to access" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="form-field-select-5" class="col-sm-3 control-label">
                                Doctors <span class="symbol required"></span>
                            </label>
                            <div class="col-sm-7">
                                @Html.ListBoxFor(m => m.SelectedDoctorIDs, MedOR.Common.Comm.GetDoctorList(@Model.DoctorModels), new { multiple = "multiple", @class = "form-control search-select", id = "SelectedDoctorIDs", placeholder = "Select doctors to access" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2 col-sm-offset-3">
                                <button class="btn btn-light-grey back-step btn-block">
                                    <i class="fa fa-circle-arrow-left"></i>Back
                                </button>
                            </div>
                            <div class="col-sm-2 col-sm-offset-3">
                                <button class="btn btn-blue next-step btn-block">
                                    Next <i class="fa fa-arrow-circle-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="step-4">
                        <h2 class="StepTitle">
                            User Account</h2>
                        <h3>
                            Account</h3>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                Username:
                            </label>
                            <div class="col-sm-7">
                                <p class="form-control-static display-value" data-display="username">
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                Email:
                            </label>
                            <div class="col-sm-7">
                                <p class="form-control-static display-value" data-display="email">
                                </p>
                            </div>
                        </div>
                        <h3>
                            User Info</h3>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                First Name:
                            </label>
                            <div class="col-sm-7">
                                <p class="form-control-static display-value" data-display="firstname">
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                Last Name:
                            </label>
                            <div class="col-sm-7">
                                <p class="form-control-static display-value" data-display="lastname">
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                Gender:
                            </label>
                            <div class="col-sm-7">
                                <p class="form-control-static display-value" data-display="gender">
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                Phone:
                            </label>
                            <div class="col-sm-7">
                                <p class="form-control-static display-value" data-display="phone">
                                </p>                               
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                Address:
                            </label>
                            <div class="col-sm-7">
                                <p class="form-control-static display-value" data-display="address">
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                City:
                            </label>
                            <div class="col-sm-7">
                                <p class="form-control-static display-value" data-display="city">
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                Country:
                            </label>
                            <div class="col-sm-7">
                                <p class="form-control-static display-value" data-display="country">
                                </p>
                            </div>
                        </div>
                        <h3>
                            Access Rights</h3>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                Role:
                            </label>
                            <div class="col-sm-7">
                                <p class="form-control-static display-value" data-display="role">
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                Clinics:
                            </label>
                            <div class="col-sm-7">
                                <p class="form-control-static display-value" data-display="SelectedClinicIDs">
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                Doctors:
                            </label>
                            <div class="col-sm-7">
                                <p class="form-control-static display-value" data-display="SelectedDoctorIDs">
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2 col-sm-offset-8">
                                <button class="btn btn-success finish-step btn-block">
                                    Finish <i class="fa fa-arrow-circle-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
        <!-- end: FORM WIZARD PANEL -->
    </div>
</div>
<!-- end: PAGE CONTENT-->
@section Scripts{
    <script type="text/javascript" src="~/Content/assets/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/form-wizard.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/jquery-inputlimiter/jquery.inputlimiter.1.3.1.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/autosize/jquery.autosize.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/select2/select2.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/jquery.maskedinput/src/jquery.maskedinput.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/jquery-maskmoney/jquery.maskMoney.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/bootstrap-daterangepicker/moment.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/bootstrap-colorpicker/js/commits.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/jQuery-Tags-Input/jquery.tagsinput.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/bootstrap-fileupload/bootstrap-fileupload.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/summernote/build/summernote.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/ckeditor/adapters/jquery.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/form-elements.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            FormWizard.init();
            FormElements.init();

            var displaySuccess = @((TempData["MessageSuccess"] != "" && TempData["MessageSuccess"] != null).ToString().ToLower());
            var displayError = @((TempData["MessageError"] != "" && TempData["MessageError"] != null).ToString().ToLower());
            if (displaySuccess == true) {
                $("#success").removeClass('no-display');
            }   
            if (displayError == true) {
                $("#error").removeClass('no-display');
            }   
        });
    </script>
}
