﻿@{
    ViewBag.Title = "UpdateUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model DataModel.UserModel
@section CSS{
    <link rel="stylesheet" href="~/Content/assets/plugins/bootstrap-fileupload/bootstrap-fileupload.min.css">
    <link rel="stylesheet" href="~/Content/assets/plugins/bootstrap-social-buttons/social-buttons-3.css">
    <link rel="stylesheet" href="~/Content/assets/plugins/select2/select2.css" />
}
<!-- start: PAGE HEADER -->
<div class="row">
    <div class="col-sm-12">
        <!-- start: PAGE TITLE & BREADCRUMB -->
        <ol class="breadcrumb">
            <li><i class="clip-pencil"></i><a href="#">Users </a></li>
            <li><a href="ListOfUsers">List Of Users </a></li>
            <li class="active">User Profile </li>
        </ol>
        <div class="page-header">
            <h1>
                Edit User <small>user profile - @Model.FirstName @Model.LastName</small></h1>
        </div>
        <div class="alert alert-success no-display" id="success">
            <button data-dismiss="alert" class="close">
                &times;</button>
            <i class="fa fa-check-circle"></i> @TempData["MessageSuccess"]
        </div>
        <div class="alert alert-danger no-display" id="error">
            <button data-dismiss="alert" class="close">
                &times;</button>
            <i class="fa fa-times-circle"></i> @TempData["MessageError"]
        </div>
        <!-- end: PAGE TITLE & BREADCRUMB -->
    </div>
</div>
<!-- end: PAGE HEADER -->
<!-- start: PAGE CONTENT -->
<div class="row">
    <div class="col-sm-12">
        <div class="tabbable">
            <ul class="nav nav-tabs tab-padding tab-space-3 tab-blue" id="myTab4">
                @*<li class="active"><a data-toggle="tab" href="#panel_overview">Overview</a></li>
                <li><a data-toggle="tab" href="#panel_edit_account">Edit User Profile</a></li>*@
                <li class="active"><a data-toggle="tab" href="#panel_edit_account">Edit User Profile</a></li>
                <li><a data-toggle="tab" href="#panel_change_password">Change Password</a></li>
            </ul>
            <div class="tab-content">
                <div id="panel_overview" class="tab-pane">
                    <div class="row">
                        <div class="col-sm-5 col-md-4">
                            <div class="user-left">
                                <div class="center">
                                    <h4>
                                        @Model.FirstName @Model.LastName</h4>
                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                        <div class="user-image">
                                            <div class="fileupload-new thumbnail" style="max-width: 150px; max-height: 150px;">
                                                @if (Model.Image == null)
                                                {
                                                    <img src="~/Content/assets/images/avatar-1-xl.jpg" alt="" />
                                                }
                                                else
                                                {
                                                    <img src='@Url.Action("ShowImage", "User", new { id = Model.UserID })' alt=""/>
                                                }
                                            </div>
                                            <div class="user-image-buttons">
                                                <a href="#panel_edit_account" class="show-tab"><span class="btn btn-teal btn-file btn-sm">
                                                    <i class="fa fa-pencil edit-user-info"></i></span></a>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                </div>
                                <table class="table table-condensed table-hover">
                                    <thead>
                                        <tr>
                                            <th colspan="3">
                                                Contact Information
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                email:
                                            </td>
                                            <td>
                                                <a href="">@Model.Email </a>
                                            </td>
                                            <td>
                                                <a href="#panel_edit_account" class="show-tab"><i class="fa fa-pencil edit-user-info">
                                                </i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                phone:
                                            </td>
                                            <td>
                                                @Model.Phone
                                            </td>
                                            <td>
                                                <a href="#panel_edit_account" class="show-tab"><i class="fa fa-pencil edit-user-info">
                                                </i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="table table-condensed table-hover">
                                    <thead>
                                        <tr>
                                            <th colspan="3">
                                                General information
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                Role
                                            </td>
                                            <td>
                                                <span class="label label-sm label-info">@Model.RoleName</span>
                                            </td>
                                            <td>
                                                <a href="#panel_edit_account" class="show-tab"><i class="fa fa-pencil edit-user-info">
                                                </i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Last Logged In
                                            </td>
                                            <td>
                                                @Model.LoggedInSince
                                            </td>
                                            <td>
                                                <a href="#panel_edit_account" class="show-tab"><i class="fa fa-pencil edit-user-info">
                                                </i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="table table-condensed table-hover">
                                    <thead>
                                        <tr>
                                            <th colspan="3">
                                                Access information
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                Clinics
                                            </td>
                                            <td>
                                                @if (@Model.SelectedClinicNames != null)
                                                {
                                                    foreach (var userClinicName in @Model.SelectedClinicNames)
                                                    {
                                                    @userClinicName;
                                                    }
                                                }
                                            </td>
                                            <td>
                                                <a href="#panel_edit_account" class="show-tab"><i class="fa fa-pencil edit-user-info">
                                                </i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Doctors
                                            </td>
                                            <td>
                                                @if (@Model.SelectedDoctorNames != null)
                                                {
                                                    foreach (var userDoctorName in @Model.SelectedDoctorNames)
                                                    {
                                                    @userDoctorName;
                                                    }
                                                }
                                            </td>
                                            <td>
                                                <a href="#panel_edit_account" class="show-tab"><i class="fa fa-pencil edit-user-info">
                                                </i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-sm-7 col-md-8" style="padding-top: 10px">
                            <div class="panel panel-white">
                                <div class="panel-heading">
                                    <i class="clip-menu"></i>Recent Activities
                                    <div class="panel-tools">
                                        <a class="btn btn-xs btn-link panel-collapse collapses" href="#"></a><a class="btn btn-xs btn-link panel-config"
                                            href="#panel-config" data-toggle="modal"><i class="fa fa-wrench"></i></a><a class="btn btn-xs btn-link panel-refresh"
                                                href="#"><i class="fa fa-refresh"></i></a>
                                    </div>
                                </div>
                                <div class="panel-body panel-scroll" style="height: 350px">
                                    <ul class="activities">
                                        <li><a class="activity" href="javascript:void(0)"><i class="clip-upload-2 circle-icon circle-green">
                                        </i><span class="desc">You uploaded a new release.</span>
                                            <div class="time">
                                                <i class="fa fa-time bigger-110"></i>2 hours ago
                                            </div>
                                        </a></li>
                                        <li><a class="activity" href="javascript:void(0)">
                                            <img alt="image" src="~/Content/assets/images/avatar-2.jpg">
                                            <span class="desc">Nicole Bell sent you a message.</span>
                                            <div class="time">
                                                <i class="fa fa-time bigger-110"></i>3 hours ago
                                            </div>
                                        </a></li>
                                        <li><a class="activity" href="javascript:void(0)"><i class="clip-data circle-icon circle-bricky">
                                        </i><span class="desc">DataBase Migration.</span>
                                            <div class="time">
                                                <i class="fa fa-time bigger-110"></i>5 hours ago
                                            </div>
                                        </a></li>
                                        <li><a class="activity" href="javascript:void(0)"><i class="clip-clock circle-icon circle-teal">
                                        </i><span class="desc">You added a new event to the calendar.</span>
                                            <div class="time">
                                                <i class="fa fa-time bigger-110"></i>8 hours ago
                                            </div>
                                        </a></li>
                                        <li><a class="activity" href="javascript:void(0)"><i class="clip-images-2 circle-icon circle-green">
                                        </i><span class="desc">Kenneth Ross uploaded new images.</span>
                                            <div class="time">
                                                <i class="fa fa-time bigger-110"></i>9 hours ago
                                            </div>
                                        </a></li>
                                        <li><a class="activity" href="javascript:void(0)"><i class="clip-image circle-icon circle-green">
                                        </i><span class="desc">Peter Clark uploaded a new image.</span>
                                            <div class="time">
                                                <i class="fa fa-time bigger-110"></i>12 hours ago
                                            </div>
                                        </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="panel_edit_account" class="tab-pane  in active">
                    <form action="" method="post" role="form" id="form" enctype="multipart/form-data">
                    @Html.HiddenFor(x => x.UserID)
                    @Html.HiddenFor(x => x.RoleID)
                    @Html.HiddenFor(x => x.Username)
                    <div class="row">
                        <div class="col-md-12">
                            <h3>
                                User Info</h3>
                            <hr>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">
                                    First Name
                                </label>
                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", id = "firstname", Name = "firstname" })
                            </div>
                            <div class="form-group">
                                <label class="control-label">
                                    Last Name
                                </label>
                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", id = "lastname", Name = "lastname" })
                            </div>
                            <div class="form-group">
                                <label class="control-label">
                                    Gender
                                </label>
                                <div>
                                    <label class="radio-inline">
                                        @Html.RadioButtonFor(model => model.Gender, "false", new { value = "f", id = "gender_female", Name = "gender", @class = "grey" })
                                        Female
                                    </label>
                                    <label class="radio-inline">
                                        @Html.RadioButtonFor(model => model.Gender, "true", new { value = "m", id = "gender_male", Name = "gender", @class = "grey" })
                                        Male
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">
                                    Email
                                </label>
                                <span class="input-icon">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", id = "email", Name = "email", type = "email" })
                                    <i class="fa fa-envelope"></i></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">
                                    Phone
                                </label>
                                <span class="input-icon">
                                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", id = "phone", Name = "phone" })
                                    <i class="fa fa-phone"></i></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="control-label">
                                            Address
                                        </label>
                                        <span class="input-icon">
                                            @Html.TextBoxFor(m => m.Address, new { @class = "form-control", id = "address", Name = "address" })
                                            <i class="fa fa-home"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">
                                            City
                                        </label>
                                        <span class="input-icon">
                                            @Html.TextBoxFor(m => m.City, new { @class = "form-control", id = "city", Name = "city" })
                                            <i class="fa fa-home"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="control-label">
                                            Country
                                        </label>
                                        @Html.DropDownListFor(m => m.Country, MedOR.Common.Comm.GetCountryList(), new { @class = "form-control", id = "country", Name = "country" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">
                                    Image Upload
                                </label>
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <div class="fileupload-new thumbnail" style="max-width: 150px; max-height: 150px;">
                                        @if (Model.Image == null)
                                        {
                                            <img src="~/Content/assets/images/avatar-1-xl.jpg" alt="" />
                                        }
                                        else
                                        {
                                            <img src='@Url.Action("ShowImage", "User", new { id = Model.UserID })' alt=""/>
                                        }
                                    </div>
                                    <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 150px;
                                        max-height: 150px; line-height: 20px;">
                                    </div>
                                    <div class="user-edit-image-buttons">
                                        <span class="btn btn-light-grey btn-file"><span class="fileupload-new"><i class="fa fa-picture">
                                        </i>Select image</span><span class="fileupload-exists"><i class="fa fa-picture"></i>
                                            Change</span>
                                            <input type="file" name="uploadFile" /></span> <a href="#" class="btn fileupload-exists btn-light-grey"
                                                data-dismiss="fileupload"><i class="fa fa-times"></i>Remove </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h3>
                                Access Info</h3>
                            <hr>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">
                                    Role
                                </label>
                                <div>
                                    @Html.DropDownListFor(m => m.Role, MedOR.Common.Comm.GetRoleList(@Model.RoleModels), "--Select user's role--", new { @class = "form-control", id = "role", Name = "role", placeholder = "Select user's role" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="form-field-select-4" class="control-label">
                                    Clinics
                                </label>
                                <div>
                                    @Html.ListBoxFor(m => m.SelectedClinicIDs, MedOR.Common.Comm.GetClinicList(@Model.ClinicModels), new { multiple = "multiple", @class = "form-control search-select", id = "form-field-select-4" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="form-field-select-5" class="control-label">
                                    Doctors
                                </label>
                                <div>
                                    @Html.ListBoxFor(m => m.SelectedDoctorIDs, MedOR.Common.Comm.GetDoctorList(@Model.DoctorModels), new { multiple = "multiple", @class = "form-control search-select", id = "form-field-select-5" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <span class="symbol required"></span>Required Fields
                                <hr />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <p>
                            </p>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-teal btn-block" type="submit">
                                Update <i class="fa fa-arrow-circle-right"></i>
                            </button>
                        </div>
                    </div>
                    </form>
                </div>
                <div id="panel_change_password" class="tab-pane">
                    <form action="ChangePassword/" method="post" role="form" id="form3" enctype="multipart/form-data">
                    @Html.HiddenFor(x => x.UserID)
                    @Html.HiddenFor(x => x.Username)
                    <div class="col-md-12">
                        <h3>
                            Change Password</h3>
                        <hr />
                    </div>
                    <div class="col-md-12">
                        <div class="errorHandler alert alert-danger no-display">
                            <i class="fa fa-times-sign"></i>You have some form errors. Please check below.
                        </div>
                        <div class="successHandler alert alert-success no-display">
                            <i class="fa fa-ok"></i>Your form validation is successful!
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">
                                User Name 
                            </label>
                            <span class="input-icon">
                                @Html.TextBoxFor(m => m.Username, new { @class = "form-control", id = "username", Name = "username", type = "username", disabled = "disabled" })
                                <i class="fa fa-user"></i></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">
                                Old Password <span class="symbol required"></span>
                            </label>
                            <span class="input-icon">
                                @Html.TextBoxFor(m => m.OldPassword, new { @class = "form-control password", id = "oldpassword", Name = "oldpassword", type = "password" })
                                <i class="fa fa-lock"></i></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">
                                New Password <span class="symbol required"></span>
                            </label>
                            <span class="input-icon">
                                @Html.TextBoxFor(m => m.Password, new { @class = "form-control password", id = "password", Name = "password", type = "password" })
                                <i class="fa fa-lock"></i></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">
                                Confirm New Password <span class="symbol required"></span>
                            </label>
                            <span class="input-icon">
                                @Html.TextBoxFor(m => m.Password, new { @class = "form-control password", id = "password_again", Name = "password_again", type = "password" })
                                <i class="fa fa-lock"></i></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <span class="symbol required"></span>Required Fields
                                <hr />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <p>
                            </p>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-teal btn-block" type="submit">
                                Save <i class="fa fa-arrow-circle-right"></i>
                            </button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end: PAGE CONTENT-->
@section Scripts{
    <script type="text/javascript" src="~/Content/assets/plugins/bootstrap-fileupload/bootstrap-fileupload.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/jquery.pulsate/jquery.pulsate.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/pages-user-profile.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/jquery-inputlimiter/jquery.inputlimiter.1.3.1.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/autosize/jquery.autosize.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/select2/select2.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/jquery.maskedinput/src/jquery.maskedinput.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/form-elements.js"></script>
    <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <script type="text/javascript" src="~/Content/assets/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/myForm-validation.js"></script>
    <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <script type="text/javascript">
        jQuery(document).ready(function () {
            PagesUserProfile.init();
            FormElements.init();
            FormValidator.init();

            var displaySuccess = @((TempData["MessageSuccess"] != "" && TempData["MessageSuccess"] != null).ToString().ToLower());
            var displayError = @((TempData["MessageError"] != "" && TempData["MessageError"] != null).ToString().ToLower());
            if (displaySuccess == true) {
                $("#success").removeClass('no-display');
            }   
            if (displayError == true) {
                $("#error").removeClass('no-display');
            }   
        });
        
    </script>
}
