﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model DataModel.AccountingModel

@section CSS{
    <link rel="stylesheet" type="text/css" href="~/Content/assets/plugins/select2/select2.css" />
    <link rel="stylesheet" href="~/Content/assets/plugins/DataTables/media/css/DT_bootstrap.css" />
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Account</title>
</head>
<body>
    @*<div class="modal fade" id="panel-remove1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    Remove
                </h4>
            </div>
            <div id="modalbody1" class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Cancel
                </button>
                <button type="button" onclick="return execRemove1()" class="btn btn-primary">
                    OK
                </button>
            </div>
        </div>*@
        <!-- /.modal-content -->
        <!-- /.modal-dialog -->
    @*</div>*@
    @using (Html.BeginForm("ListOfAccounting", "Accounting", FormMethod.Get, new { enctype = "multipart/form-data", data_ajax = "false" }))
    {
        <div class="modal fade" id="panel-config" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title">
                            Payment
                        </h4>
                    </div>
                    <div class="row">
                        <div class="modal-body">
                            <div class='col-md-6'>
                                <div class='form-group'>
                                    <label class='control-label' for='form-field-select-1'>
                                        Are You Sure You want to Pay for the Consultation <strong id="sss"> </strong><strong > US</strong>  ?
                                       <strong id="sss"> </strong>
                                    </label>
                                    @*@Html.DropDownListFor(m => m.SelectedDoctorID, MedOR.Common.Comm.GetDoctorList(@Model.DoctorModels), "--Select user's Doctor--", new { @class = "form-control", id = "SelectedDoctorID", Name = "SelectedDoctorID" })*@
                                </div>
                            </div>
                            @*<div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for="form-field-select-2">
                                            Patient   <span class="symbol required"></span>
                                        </label>
                                        @Html.DropDownListFor(m => m.SelectedClinicID, MedOR.Common.Comm.GetClinicList(@Model.ClinicModels), "--Select user's Patient--", new { @class = "form-control", id = "SelectedClinicID", Name = "SelectedClinicID" })
                                    </div>
                                </div>*@
                            <div class="col-md-5 pull-left">
                                @*@Html.TextBoxFor(x => x.SetTime, new { @type = "date", id = "time", @Value = Model.SetTime })*@
                                @*@Html.TextBoxFor(x => x.SetTime, new { @class = "jquery_datepicker" ,@type = "date", id = "time", @Value = @Model.SetTime.ToString("MM-dd-yyyy") })*@
                                @*<p>From @Html.TextBoxFor(x => x.SetTime, new { @type = "date", @Value = DateTime.Now.ToString("yyyy-MM-dd"), })</p>*@
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-5 right">
                                @*<p>To   &nbsp; &nbsp;  @Html.TextBoxFor(x => x.TillDate, new { @type = "date", @Value = DateTime.Now.ToString("yyyy-MM-dd"), }) </p>*@
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" value="Print" onclick="printDiv()" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            Cancel
                        </button>
                        <button type="button"id="submt" class="btn btn-primary">
                            Ok
                        </button>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
            <!-- /.modal-dialog -->
        </div>
    }
    @*print*@
    <div id="PrintPopPupID" class="row hidden">
       
            <div class="col-md-12 center"><strong>INVOICE</strong></div>
            <hr/>
            <hr/>
                <div class="col-md-4">Name:</div>
                <div class="col-md-4" id="IdName"></div>
        <hr />
                <div>Consultaion:</div>
                <div class="col-md-6" id="IDvalue"></div>
                <div><stron>US</stron></div>
        <hr />
    </div>

   <div class="row">
    <div class="col-sm-12">
        <!-- start: PAGE TITLE & BREADCRUMB -->
        <ol class="breadcrumb">
            <li><i class="clip-file"></i><a href="#">Accounting </a></li>
            <li class="active">Account</li>
        </ol>
        <div class="page-header">
            <h1>
               Pending Payment@*<small>Account</small>*@
            </h1>
        </div>
        <!-- end: PAGE TITLE & BREADCRUMB -->
    </div>
</div>
<!-- end: PAGE HEADER -->

    <div class="row">
        <div class="col-md-12">
            <!-- start: DYNAMIC TABLE PANEL -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-external-link-square"></i>Accounts Patients
                    <div class="panel-tools">
                        <a class="btn btn-xs btn-link panel-collapse collapses" href="#"></a>
                        @*<a class="btn btn-xs btn-link panel-config" href="#panel-config" data-toggle="modal"> <i class="fa fa-wrench"></i></a>*@
                        <a class="btn btn-xs btn-link panel-refresh" href="@Url.Action("ListOfPatients", "Patient")"><i class="fa fa-refresh"></i></a>
                        <a class="btn btn-xs btn-link panel-expand" href="#"> <i class="fa fa-resize-full"></i></a>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">

                        <thead>
                            <tr>
                                <th>
                                    Date
                                </th>
                                <th >
                                    Patient Name
                                </th>
                                <th >
                                  Consultation Title
                                </th>
                                <th >
                                    Fee
                                </th>
                                <th >
                                    Paid
                                </th>
                            </tr>
                        </thead>
                        @{
                            foreach (var account in @Model.AccountingModels.ToList())
                            {
                                <tbody>
                                    <tr id="@account.ConsultationID" name="@account.PFullName" value="@account.Ctitle @account.CFees.ToString("0.00")">
                                        <td class="hidden-xs">
                                            @account.CCreatedOn
                                        </td>
                                        <td>
                                            @account.PFullName
                                        </td>
                                        <td>
                                            @account.Ctitle
                                        </td>
                                        <td>
                                            @account.CFees.ToString("0.00")  @account.Ccurrency
                                        </td>
                                        <td class="center">
                                           No &nbsp;
                                          <a class="btn-red btn-xs btn-link panel-config" id="button1" href="" data-toggle="modal"> <i class="fa fa-money fa fa-white"> Cash</i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            }
                        }
                    </table>

                </div>
            </div>
            <!-- end: DYNAMIC TABLE PANEL -->
        </div>
    </div>
</body>
</html>

@section Scripts{

    <script type="text/javascript" src="~/Content/assets/plugins/select2/select2.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/DataTables/media/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/DataTables/media/js/DT_bootstrap.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/table-data.js"></script>
    <script type="text/javascript">
    jQuery(document).ready(function ()
    {
        @*TableData.init();*@
     $("#sample_1").DataTable();
            //$("#sample_11").DataTable();
    });
        //$(document).ready(function () {
        //    $("#button1").click(function () {
        //        $("#panel-config").modal("toggle");
        //    });
        //});

        $("#sample_1 tr").click(function () {
            debugger;
            var IdRow = $(this).attr('id');
            $("#panel-config").modal("toggle");
            $("#submt").click(function () {
                debugger
                window.location = '/Accounting/AccountPaid?&ConsultationID=' + IdRow;
            });
            var feeTr = $(this).attr('value');
            var nameTr = $(this).attr('name');
            $("#sss").text(feeTr);
            $("#IdName").text(nameTr);
            $("#IDvalue").text(feeTr);

        });



        function printDiv() {
            var divToPrint = document.getElementById('PrintPopPupID');
            var newWin = window.open('', 'Print-Window');
            newWin.document.open();
            newWin.document.write('<html><body onload="window.print()">' + divToPrint.innerHTML + '</body></html>');
            newWin.document.close();
            setTimeout(function () { newWin.close(); }, 10);
        }
   
</script>
}