﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model DataModel.AccountingModel

@section CSS{
    <link rel="stylesheet" type="text/css" href="~/Content/assets/plugins/select2/select2.css" />
    <link rel="stylesheet" href="~/Content/assets/plugins/DataTables/media/css/DT_bootstrap.css" />
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListOfAccounting</title>
</head>
<body>

    @using (Html.BeginForm("ListOfAccounting", "Accounting", FormMethod.Get, new { enctype = "multipart/form-data", data_ajax = "false" }))
    {
        <div class="modal fade" id="panel-config" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title">
                            Generate Account Report
                        </h4>
                    </div>
                    <div class="row">
                       
                        <div class="modal-body">
                            <div class='col-md-6'>
                                <div class='form-group'>
                                    <label class='control-label' for='form-field-select-1'>
                                        Doctor <span class="symbol required"></span>
                                    </label>
                                    @Html.DropDownListFor(m => m.SelectedDoctorID, MedOR.Common.Comm.GetDoctorList(@Model.DoctorModels), "--Select user's Doctor--", new { @class = "form-control", id = "SelectedDoctorID", Name = "SelectedDoctorID" })
                                </div>
                            </div>
                            @*<div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="form-field-select-2">
                                        Patient   <span class="symbol required"></span>
                                    </label>
                                    @Html.DropDownListFor(m => m.SelectedClinicID, MedOR.Common.Comm.GetClinicList(@Model.ClinicModels), "--Select user's Patient--", new { @class = "form-control", id = "SelectedClinicID", Name = "SelectedClinicID" })
                                </div>
                            </div>*@
                            <div class="col-md-5 pull-left">
                                @*@Html.TextBoxFor(x => x.SetTime, new { @type = "date", id = "time", @Value = Model.SetTime })*@
                                @*@Html.TextBoxFor(x => x.SetTime, new { @class = "jquery_datepicker" ,@type = "date", id = "time", @Value = @Model.SetTime.ToString("MM-dd-yyyy") })*@
                                <p>From @Html.TextBoxFor(x => x.SetTime, new { @type = "date", @Value = DateTime.Now.ToString("yyyy-MM-dd"), })</p>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-5 right">
                                <p>To   &nbsp; &nbsp;  @Html.TextBoxFor(x => x.TillDate, new { @type = "date", @Value = DateTime.Now.ToString("yyyy-MM-dd"), }) </p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            Cancel
                        </button>
                        <button type="submit" class="btn btn-primary">
                            Ok
                        </button>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
            <!-- /.modal-dialog -->
        </div>

    }
    <div class="row">
        <div class="col-sm-12">
            <!-- start: PAGE TITLE & BREADCRUMB -->
            <ol class="breadcrumb">
                <li><i class="clip-file"></i><a href="#">Accounting </a></li>
                <li class="active">Account</li>
            </ol>
            <div class="page-header">
                <h1>
                    List Of Accounting@*<small>Account</small>*@
                </h1>
            </div>
            <!-- end: PAGE TITLE & BREADCRUMB -->
        </div>
    </div>
    <!-- end: PAGE HEADER -->
    @*@{
            int i = 0;

            foreach (var account in @Model.AccountingModels.ToList())
            {
                if (i < 1)
                {

                    <div class="row">
                        <div class="col-md-9">
                           Date :
                        </div>
                        <div class="col-md-3">
                            <p> </p>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-3 pull-left">
                            <p> <strong>From </strong> @account.SetTime.ToString("MM / dd / yyyy") <strong>To </strong> @account.TillDate.ToString("MM / dd / yyyy")</p>
                        </div>
                        <div class="col-md-3">
                            <p> </p>
                        </div>
                    </div>
                    <br />


                }
                i++;
            }

        }*@
    <div class="row">
        <div class="col-md-12">
            <!-- start: DYNAMIC TABLE PANEL -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-external-link-square"></i><strong>List Of Accounts Patients</strong>
                    <div class="panel-tools">
                        <a class="btn btn-xs btn-link panel-collapse collapses" href="#"></a>
                        <a class="btn btn-xs btn-link panel-config" href="#panel-config" data-toggle="modal"> <i class="fa fa-wrench"></i></a>
                        <a class="btn btn-xs btn-link panel-refresh" href="@Url.Action("ListOfAccounting", "Accounting")"><i class="fa fa-refresh"></i></a>
                        <a class="btn btn-xs btn-link panel-expand" href="#"> <i class="fa fa-resize-full"></i></a>
                    </div>
                </div>
                @{
                    int i = 0;

                    foreach (var account in @Model.AccountingModels.ToList())
                    {
                        if (i < 1)
                        {
                            <br />

                                <div class="row block">
                                    <div class="col-md-4">
                                        <p> </p>
                                    </div>
                                    <div class="col-md-4 ">
                                        <p> <strong>From </strong> @account.SetTime.ToString("MM / dd / yyyy") <strong>To </strong> @account.TillDate.ToString("MM / dd / yyyy")</p>
                                    </div>
                                    <div class="col-md-4">
                                        <p> </p>
                                    </div>
                                </div>
                        }
                        i++;
                    }

                }
                <div class="panel-body">

                    <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">

                        <thead>
                            <tr>
                                <th>
                                    Date
                                </th>
                                <th>
                                    Patient Name
                                </th>
                                <th>
                                    Consultation Title
                                </th>
                                <th>
                                    Fee
                                </th>
                                <th>
                                    Payment
                                </th>
                            </tr>
                        </thead>
                        @{

                            foreach (var account in @Model.AccountingModels.ToList())
                            {
                                <tbody>
                                    <tr>
                                        <td class="hidden-xs">
                                            @account.CCreatedOn
                                        </td>
                                        <td>
                                            @account.PFullName
                                        </td>
                                        <td>
                                            @account.Ctitle
                                        </td>
                                        <td>
                                            @account.CFees.ToString("0.00")  @account.Ccurrency
                                        </td>
                                        <td>

                                            @if (@account.CCheckBox == true)

                                            {<p>Paid</p> }

                                            @if (@account.CCheckBox == false)

                                            {<p>Not Paid</p> }
                                        </td>
                                    </tr>
                                </tbody>
                            }

                        }
                    </table>

                    @*<div><strong>Total LBP Amount:</strong>  @Model.TotalLBPAmount LBP</div>*@
                    <div class="pull-right"><strong>Total Amount (USD):</strong>  @Model.TotalUSAmount.ToString("0.00") </div>
                </div>
            </div>
            <!-- end: DYNAMIC TABLE PANEL -->
        </div>
    </div>
</body>
</html>

@section Scripts{

    <script type="text/javascript" src="~/Content/assets/plugins/select2/select2.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/DataTables/media/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/DataTables/media/js/DT_bootstrap.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/table-data.js"></script>
    <script type="text/javascript">
    jQuery(document).ready(function ()
    {
        @*TableData.init();*@
     $("#sample_1").DataTable();
            $("#sample_11").DataTable();
    });


    </script>
}