﻿@{
    ViewBag.Title = "List Of Patients";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<DataModel.ExpenseModel>
@section CSS{
    <link rel="stylesheet" type="text/css" href="~/Content/assets/plugins/select2/select2.css" />
    <link rel="stylesheet" href="~/Content/assets/plugins/DataTables/media/css/DT_bootstrap.css" />
}
<!-- start: PAGE CONTENT -->
<!-- start: PAGE HEADER -->
<!-- start: PANEL CONFIGURATION MODAL FORM -->
<div class="modal fade" id="panel-remove" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    Remove Expense
                </h4>
            </div>
            <div id="modalbody" class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Cancel
                </button>
                <button type="button" onclick="return execRemove()" class="btn btn-primary">
                    OK
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@Html.Action("_ClinicList", "Home", new { TableName = "Expense" })
<!-- /.modal -->
<!-- end: SPANEL CONFIGURATION MODAL FORM -->
<div class="row">
    <div class="col-sm-12">
        <!-- start: PAGE TITLE & BREADCRUMB -->
        <ol class="breadcrumb">
            <li><i class="clip-file"></i><a href="#">Expense </a></li>
            <li class="active">List Of Expense </li>
        </ol>
        <div class="page-header">
            <h1>
                List Of Expense <small>list of Expense</small>
            </h1>
        </div>
        <!-- end: PAGE TITLE & BREADCRUMB -->
    </div>
</div>
<!-- end: PAGE HEADER -->
<!-- start: PAGE CONTENT -->
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-external-link-square"></i>
                            History Of Expense
                            <div class="panel-tools">
                                <a class="btn btn-xs btn-link panel-collapse collapses" href="#">
                                </a>
                                <a class="btn btn-xs btn-link panel-configClinic" href="#panel-configClinic" data-toggle="modal">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <a class="btn btn-xs btn-link panel-refresh" href="#">
                                    <i class="fa fa-refresh"></i>
                                </a>
                                <a class="btn btn-xs btn-link panel-expand" href="#">
                                    <i class="fa fa-resize-full"></i>
                                </a>
                                <a class="btn btn-xs btn-link panel-close" href="#">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <!-- start: Income TABLE PANEL -->
                            <!-- start: Expense TABLE PANEL -->
                            <div class="col-md-12"> 
                              
                        <div class="panel-body">
                               <table class="table table-striped table-bordered table-hover table-full-width" id="sample_11">
                                      <thead>
                    <tr>
                        <th class="center">
                            #
                        </th>
                        <th class="hidden-xs">
                            Title
                        </th>
                        <th>
                            Description
                        </th>
                        <th class="hidden-xs">
                            Amount (USD)
                        </th>
                        <th>
                            Created By
                        </th>
                        <th>
                            Created On
                        </th>
                    </tr>
                </thead>
                                      <tbody>
                    @{
                        int j = 1;
                        foreach (var Item in @Model.ToList())
                        {
                            <tr id="@Item.ExpenseID">
                                <td class="center">
                                    @j
                                </td>
                                <td>
                                    @Item.Title
                                </td>
                                <td class="hidden-xs">
                                    @Item.Description
                                </td>
                                <td>
                                    @Item.Amount.ToString("0.00")
                                </td>

                                <td>
                                    @Item.CreatedByName
                                </td>

                                <td>
                                    @Item.CreatedON
                                </td>

                            </tr>
                            j++;
                        }
                    }
                </tbody>
                                    </table>
                        </div>
                               @{
                                   int e = 1;
                                   foreach (var Item in @Model.ToList())

                                   {
                                       if (e < 2)
                                       {
                                <p class="pull-right"> <strong>Total Expense:  </strong> @Item.TotalAmount.ToString("0.00") $ &nbsp;</p>
                                       }  e++;
                                   }
                                   }
                       </div>
                            <!-- end: Expense TABLE PANEL -->
                    </div>
                   </div>
                  </div>
            </div>

<!-- end: PAGE CONTENT-->
@section Scripts{
    <script type="text/javascript" src="~/Content/assets/plugins/select2/select2.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/DataTables/media/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/DataTables/media/js/DT_bootstrap.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/table-data.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            $("#sample_1").DataTable();
            $("#sample_11").DataTable();
        });
        //Modal OK
        var id = '';
        $('tr').click(function () {
            debugger;
            id = $(this).attr('id');
            var name = $(this).attr('name');
            document.getElementById('modalbody').innerHTML = 'Are you sure you want to remove ' + name + '?';
        });
        function execRemove() {
            debugger;
            window.location.href = "/Patient/DeletePatient?id=" + id; return false;
        }
    </script>
}
