﻿@model DataModel.CalendarModel

<div class="modal fade" id="panel-configClinic" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    Expence Settings
                    @*its schedule*@
                </h4>
            </div>
            <div class="modal-body">
                <div style="margin-bottom: 10px">
                    Select the Clinic you wish to display its List Of Expense
                </div>
           
          @Html.DropDownListFor(m => m.SelectedClinicID, MedOR.Common.Comm.GetClinicList(@Model.ClinicModels), new { @class = "form-control", id = "clinic", Name = "clinic" })
        
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Cancel
                </button>
                <button type="button" onclick="return selectClinic()" class="btn btn-primary" data-dismiss="modal">
                    Set clinic
                </button>
            </div>
        </div>
    </div>
    <!-- /.modal-content -->
    <!-- /.modal-dialog -->
</div>

<script type="text/javascript">

    function selectClinic() {
           debugger;
           var selectedClinicID = $('#clinic').val();

           var dd = document.getElementById("clinic");
           var selectedClinicName = dd.options[dd.selectedIndex].text;
           //document.getElementById("ClinicName").innerText = selectedClinicName;
           var events = {
               url: "/Accounting/GetAppointments?ClinicID=" + selectedClinicID,
               type: 'POST'
           };
           //$('#calendar').fullCalendar('removeEventSource', previousSource);
           //$('#calendar').fullCalendar('removeEvents');
           //$('#calendar').fullCalendar('addEventSource', events);

           //previousClinicID = dd.options[dd.selectedIndex].value;
           //previousSource = { url: "/Calendar/GetAppointments?ClinicID=" + previousClinicID };
       }
</script>