﻿@model DataModel.ViewCreateModifyModel
<div class="modal fade" id="panel-config" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    Create / Modify View Settings</h4>
            </div>
            <div class="modal-body">
                <div style="margin-bottom: 10px">
                    Select the Create / Modify Views you wish to display in the @Model.TableName' table</div>
                    @Html.HiddenFor(x => x.TableName, new { id="tableName", Value = @Model.TableName })
                <div class="form-group" id="checkBoxDiv">
                    <label class="checkbox-inline">
                        @Html.CheckBoxFor(x => x.ViewCreatedBy, new { @class = "flat-red", id = "viewCreatedBy", Name = "viewCreatedBy", Value = @Model.ViewCreatedBy})
                        View Created By
                    </label>
                    <label class="checkbox-inline">
                        @Html.CheckBoxFor(x => x.ViewCreatedOn, new { @class = "flat-red", id = "viewCreatedOn", Name = "viewCreatedOn", Value = @Model.ViewCreatedOn })
                        View Created On
                    </label>
                    <label class="checkbox-inline">
                        @Html.CheckBoxFor(x => x.ViewModifiedBy, new { @class = "flat-red", id = "viewModifiedBy", Name = "viewModifiedBy", Value = @Model.ViewModifiedBy })
                        View Modified By
                    </label>
                    <label class="checkbox-inline">
                        @Html.CheckBoxFor(x => x.ViewModifiedOn, new { @class = "flat-red", id = "viewModifiedOn", Name = "viewModifiedOn", Value = @Model.ViewModifiedOn })
                        View Modified On
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Cancel
                </button>
                <button type="button" onclick="return saveView()" class="btn btn-primary" data-dismiss="modal">
                    Save
                </button>
            </div>
        </div>
    </div>
    <!-- /.modal-content -->
    <!-- /.modal-dialog -->
</div>

<script type="text/javascript">

    function saveView() {
        debugger;

        var viewCreatedBy = $('#viewCreatedBy').is(":checked");
        var viewCreatedOn = $('#viewCreatedOn').is(":checked");
        var viewModifiedBy = $('#viewModifiedBy').is(":checked");
        var viewModifiedOn = $('#viewModifiedOn').is(":checked");

        var tableName = $('#tableName').val();
        
        var viewCM = new Object;
        viewCM.table = tableName;
        viewCM.vcreatedBy = viewCreatedBy;
        viewCM.vcreatedOn = viewCreatedOn;
        viewCM.vmodifiedBy = viewModifiedBy;
        viewCM.vmodifiedOn = viewModifiedOn;

        $.ajax({
            url: "/Home/SaveView",
            type: "POST",
            cache: false,
            data: JSON.stringify(viewCM),
            contentType: "application/json; charset=UTF-8",
            error: function (xhr, status, error) {
            },
            success: function (data) {
                window.parent.updateView();
            }
        });
    }
        
</script>
