﻿<!DOCTYPE html>
<!-- Template Name: Clip-One - Responsive Admin Template build with Twitter Bootstrap 3 Version: 1.2.3 Author: ClipTheme -->
<!--[if IE 8]><html class="ie8 no-js" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9 no-js" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- start: HEAD -->
<head>

    <style>
        .open-button {
            background-color: #569099;
            color: white;
            padding: 16px 20px;
            border: navy;
            cursor: pointer;
            opacity: 0.8;
            position: fixed;
            bottom: -7px;
            right: 64px;
            width: 156px;
        }

        /* The popup chat - hidden by default */
        .chat-popup {
            display: none;
            position: fixed;
            bottom: 0;
            right: 15px;
            border: 3px solid #f1f1f1;
            z-index: 9;
        }

        /* Add styles to the form container */
        .form-container {
            max-width: 300px;
            padding: 10px;
            background-color: white;
        }

            /* Full-width textarea */
            .form-container textarea {
                width: 100%;
                padding: 15px;
                margin: 5px 0 22px 0;
                border: none;
                background: #f1f1f1;
                resize: none;
                min-height: 200px;
            }

                /* When the textarea gets focus, do something */
                .form-container textarea:focus {
                    background-color: #ddd;
                    outline: none;
                }

            /* Set a style for the submit/send button */
            .form-container .btn {
                background-color: #4CAF50;
                color: white;
                padding: 16px 20px;
                border: none;
                cursor: pointer;
                width: 100%;
                margin-bottom: 10px;
                opacity: 0.8;
            }

            /* Add a red background color to the cancel button */
            .form-container .cancel {
                background-color: red;
            }

            /* Add some hover effects to buttons */
            .form-container .btn:hover, .open-button:hover {
                opacity: 1;
            }

        /*///////////////////////////////////////////////*/

        body {
            background: steelblue;
            font-family: sans-serif;
        }

        .msg_box {
            position: fixed;
            bottom: -5px;
            width: 250px;
            background: white;
            border-radius: 5px 5px 0px 0px;
        }

        .msg_head {
            background: #736e6e;
            color: white;
            padding: 8px;
            font-weight: bold;
            cursor: pointer;
            border-radius: 5px 5px 0px 0px;
        }

        .msg_body {
            background: #34485e;
            height: 200px;
            font-size: 12px;
            padding: 15px;
            overflow: auto;
            overflow-x: hidden;
        }

        .msg_input {
            width: 100%;
            height: 55px;
            border: 1px solid #790c25;
            border-top: 1px solid #DDDDDD;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            margin-bottom: 55px;
        }

        .close {
            float: right;
            cursor: pointer;
        }

        .minimize {
            float: right;
            cursor: pointer;
            padding-right: 5px;
        }

        .msg-left {
            position: relative;
            background: #e2e2e2;
            padding: 5px;
            min-height: 10px;
            margin-bottom: 5px;
            margin-right: 10px;
            border-radius: 5px;
            word-break: break-all;
        }

        .msg-right {
            background: #d4e7fa;
            padding: 5px;
            min-height: 15px;
            margin-bottom: 5px;
            position: relative;
            margin-left: 10px;
            border-radius: 5px;
            word-break: break-all;
        }
        /**** Slider Layout Popup *********/
        #chat-sidebar {
            background: #34485e;
            color: white;
            width: 221px;
            position: fixed;
            height: 58%;
            right: 6px;
            top: 410px;
            padding-top: 0px;
            padding-bottom: 10px;
            border: 1px solid #B2B2AC;
        }

        #sidebar-user-box {
            padding: 4px;
            margin-bottom: 4px;
            font-size: 15px;
            font-family: Calibri;
            font-weight: bold;
            cursor: pointer;
        }

            #sidebar-user-box:hover {
                background-color: #999999;
            }

            #sidebar-user-box:after {
                content: ".";
                display: block;
                height: 0;
                clear: both;
                visibility: hidden;
            }

        img {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            float: left;
        }

        #slider-username {
            float: left;
            line-height: 30px;
            margin-left: 5px;
        }
    </style>

    <title>@ViewBag.Title</title>
    <!-- start: META -->
    <meta charset="utf-8" />
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE" />
    <!-- end: META -->
    <!-- start: MAIN CSS -->
    <link rel="stylesheet" href="~/Content/assets/plugins/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/assets/plugins/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/assets/fonts/style.css" />
    <link rel="stylesheet" href="~/Content/assets/css/main.css" />
    <link rel="stylesheet" href="~/Content/assets/css/main-responsive.css" />
    <link rel="stylesheet" href="~/Content/assets/plugins/iCheck/skins/all.css" />
    <link rel="stylesheet" href="~/Content/assets/plugins/bootstrap-colorpalette/css/bootstrap-colorpalette.css" />
    <link rel="stylesheet" href="~/Content/assets/plugins/perfect-scrollbar/src/perfect-scrollbar.css" />
    <link rel="stylesheet" href="~/Content/assets/css/theme_light.css" type="text/css"
        id="skin_color" />
    <link rel="stylesheet" href="~/Content/assets/css/print.css" type="text/css" media="print" />

    <script type="text/javascript" src="~/Scripts/jquery-1.7.1.js"></script>
    @*<script type="text/javascript" src="~/Scripts/jquery.signalR-1.1.4.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.signalR-1.1.4.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/jquery.signalR-1.0.0.js"></script>
    <script type="text/javascript" src="/signalr/hubs"></script>
    <script type="text/javascript" src="~/Content/assets/js/jquery.signalR-1.0.0.min.js"></script>*@



    <!--[if IE 7]>
		<link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome-ie7.min.css">
		<![endif]-->
    <!-- end: MAIN CSS -->
    <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
    @RenderSection("CSS", false)
    <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
    <link rel="shortcut icon" href="favicon.ico" />

    
</head>
<!-- end: HEAD -->
<!-- start: BODY -->
<body>
    <!-- start: HEADER -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <!-- start: TOP NAVIGATION CONTAINER -->
        <div class="container">
   
                    <div class="navbar-header">
                        <!-- start: RESPONSIVE MENU TOGGLER -->
                        <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle"
                                type="button">
                            <span class="clip-list-2"></span>
                        </button>
                        <!-- end: RESPONSIVE MENU TOGGLER -->
                        <!-- start: LOGO -->
                        <a class="navbar-brand" href="index.html">MedOR </a>
                        <!-- end: LOGO -->
                        @*<p id="test123">This is a paragraph.</p>*@
                    </div>

                    <div class="navbar-tools">
                        <!-- start: TOP NAVIGATION MENU -->
                        <ul class="nav navbar-right">
                            <!-- start: USER DROPDOWN -->
                            <li class="dropdown current-user">
                                <a data-toggle="dropdown" data-hover="dropdown"
                                   class="dropdown-toggle" data-close-others="true" href="#">
                                    @Html.Action("_UserInfo", "Home") <i class="clip-chevron-down"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="../User/EditUser"><i class="clip-user-2"></i>&nbsp;My Profile </a></li>
                                    <li>
                                        <a href="../Calendar/ViewCalendar">
                                            <i class="clip-calendar"></i>&nbsp;My Calendar
                                        </a>
                                    </li>
                                    @*                                <li><a href="pages_messages.html"><i class="clip-bubble-4"></i>&nbsp;My Messages (3)
                                    </a></li>*@
                                    <li class="divider"></li>
                                    <li>
                                        <a href="/Account/LockScreen"><i class="clip-locked"></i>&nbsp;Lock Screen </a>
                                    </li>
                                    <li><a href="/Account/Logout"><i class="clip-exit"></i>&nbsp;Log Out </a></li>
                                </ul>
                            </li>
                            <!-- end: USER DROPDOWN -->
                        </ul>
                        <!-- end: TOP NAVIGATION MENU -->
                    </div>
            </div>
            <!-- end: TOP NAVIGATION CONTAINER -->
        </div>
    <!-- end: HEADER -->
    <!-- start: MAIN CONTAINER -->
    <div class="main-container">
        <div class="navbar-content">
            <!-- start: SIDEBAR -->
            <div class="main-navigation navbar-collapse collapse">
                <!-- start: MAIN MENU TOGGLER BUTTON -->
                <div class="navigation-toggler">
                    <i class="clip-chevron-left"></i><i class="clip-chevron-right"></i>
                </div>
                <!-- end: MAIN MENU TOGGLER BUTTON -->
                <!-- start: MAIN NAVIGATION MENU -->
                <ul class="main-navigation-menu">
                    @*         <li><a href="javascript:void(0)"><i class="clip-grid-6"></i><span class="title">Clinics</span><i
                        class="icon-arrow"></i> <span class="selected"></span></a>
                        <ul class="sub-menu">
                            <li><a href="/Clinic/ListOfClinics"><span class="title">List of Clinics </span></a>
                            </li>
                            <li><a href="/Clinic/CreateNewClinic"><span class="title">Create New... </span></a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="javascript:void(0)"><i class="clip-user-2"></i><span class="title">Doctors</span><i
                        class="icon-arrow"></i> <span class="selected"></span></a>
                        <ul class="sub-menu">
                            <li><a href="/Doctor/ListOfDoctors"><span class="title">List of Doctors </span></a>
                            </li>
                            <li><a href="/Doctor/CreateNewDoctor"><span class="title">Create New... </span></a>
                            </li>
                        </ul>
                    </li>*@
                    <li><a href="/Home/Index"><i class="clip-home-3"></i><span class="title">Dashboard </span>
                        <span class="selected"></span></a></li>

                    <li><a href="javascript:void(0)"><i class="clip-user-2"></i><span class="title">Patients</span><i
                        class="icon-arrow"></i> <span class="selected"></span></a>
                        <ul class="sub-menu">
                            <li><a href="/Patient/ListOfPatients"><span class="title"><i class="fa fa-list"></i> List of Patients </span></a>
                            </li>
                            <li><a href="/Patient/CreateNewPatient"><span class="title"><i class="fa fa-plus-square"></i> Create New... </span></a>
                            </li>
                        </ul>
                    </li>

                    @*<li><a href="/Invoices/ViewInvoices"><i class="clip-pencil-3"></i><span
                    class="title">Invoices</span><span class="selected"></span> </a></li>*@  
                    @*<li><a href="/Consultation/CreateNewConsultation"><i class="clip-pencil"></i><span*@
                      @*<li><a href="/Consultation/CreateNewConsultation"><i class="clip-pencil"></i><span
                    class="title">New Consultation </span><span class="selected"></span></a></li>*@ 
                                      
                    <li><a href="/Calendar/ViewCalendar"><i class="clip-calendar-3"></i><span 
                    class="title">Calendar </span><span class="selected"></span></a></li>
                    @*<li><a href="/Accounting/Accounts"><i class="clip-balance"></i>
                        <span class="title">Accounting</span><span class="selected"></span>
                        </a></li>*@
                    <li><a href="javascript:void(0)"><i class="clip-balance"></i><span class="title">Accounting</span><i class="icon-arrow"> </i> <span class="selected"></span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                @*<a href="/Invoices/ListOfInvoices"><span class="title"><i class="clip-pencil-3"></i> List of Invoices </span></a>*@
                                <a href="/Accounting/Account"><span class="title"><i class="clip-stack-2">  </i>Pending Payment</span></a>
                            </li>
                            <li>
                                <a href="/Accounting/ListOfAccounting?Settime=@DateTime.Now&TillDate=@DateTime.Now"> <span class="title">   <i class="fa fa-list">  </i> List Of Accounts </span></a>
                            </li>
                            <li>
                                <a href="javascript:;"><i class="fa fa-money"></i> Expense <i class="icon-arrow"></i></a>
                                <ul class="sub-menu">
                                    <li><a href="/Accounting/ListOfExpense"><i class="fa fa-list"></i> List Of Expense...</a></li>
                                    <li><a href="/Accounting/CreateNewExpense"><i class="fa fa-plus-square"></i> Create New... </a></li>
                                </ul>
                            </li>
                            @*<li>
                                <a href="/Accounting/CreateNewExpense"><span class="title">  <i class="fa fa-plus-square">  </i> Create New... </span></a>
                            </li>
                            <li>
                                <a href="/Accounting/ListOfExpense"><span class="title">  <i class="fa fa-list">  </i> List Of Expense... </span></a>
                            </li>*@
                        </ul>
                    </li>
                    @*<li><a href="/Report/ListOfReports"><i class="clip-bars"></i>
                        <span class="title">Stats & Reports </span>
                        <span class="selected"></span>
                        </a></li>*@

                    <li><a href="javascript:void(0)"><i class="clip-cog-2"></i><span class="title">Setup</span><i class="icon-arrow"></i><span class="selected"></span></a>
                        <ul class="sub-menu">
                            <li><a href="javascript:;"><i class="fa fa-location-arrow"></i> Clinics <i class="icon-arrow"></i></a>
                                <ul class="sub-menu">
                                    <li><a href="/Clinic/ListOfClinics"><i class="fa fa-list"></i> List of Clinics </a></li>
                                    <li><a href="/Clinic/CreateNewClinic"><i class="fa fa-plus-square"></i> Create New... </a></li>
                                </ul>
                            </li>
                            <li><a href="javascript:;"><i class="fa fa-user-md"></i> Doctors <i class="icon-arrow"></i></a>
                                <ul class="sub-menu">
                                    <li><a href="/Doctor/ListOfDoctors"><i class="fa fa-list"></i> List of Doctors</a></li>
                                    <li><a href="/Doctor/CreateNewDoctor"><i class="fa fa-plus-square"></i> Create New... </a></li>
                                </ul>
                            </li>
                            <li><a href="javascript:;"><i class="fa fa-key"></i> Security <i class="icon-arrow"></i></a>
                                <ul class="sub-menu">
                                    <li><a href="/Security/ListOfRoles"><i class="fa fa-list"></i> List of Roles </a></li>
                                    <li><a href="/Security/CreateNewRole"><i class="fa fa-plus-square"></i> Create New... </a></li>
                                </ul>
                            </li>
                            <li><a href="javascript:;"><i class="fa fa-user"></i> Users <i class="icon-arrow"></i></a>
                                <ul class="sub-menu">
                                    <li><a href="/User/ListOfUsers"><i class="fa fa-list"></i> List of Users </a></li>
                                    <li><a href="/User/CreateNewUser"><i class="fa fa-plus-square"></i> Create New... </a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
      
                </ul>
                <!-- end: MAIN NAVIGATION MENU -->
            </div>
            <!-- end: SIDEBAR -->
        </div>
        <!-- start: PAGE -->
        <div class="main-content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <!-- start: STYLE SELECTOR BOX -->
                        <div id="style_selector" class="hidden-xs">
                            <div id="style_selector_container">
                                <div class="style-main-title">
                                    Style Selector
                                </div>
                                <div class="box-title">
                                    Choose Your Layout Style
                                </div>
                                <div class="input-box">
                                    <div class="input">
                                        @Html.DropDownList("Layout", MedOR.Common.Comm.GetLayoutList(), new { Name = "layout", id = "layout" })
                                    </div>
                                </div>
                                <div class="box-title">
                                    Choose Your Header Style
                                </div>
                                <div class="input-box">
                                    <div class="input">
                                        @Html.DropDownList("Header", MedOR.Common.Comm.GetHeaderList(), new { Name = "header", id = "header" })
                                    </div>
                                </div>
                                <div class="box-title">
                                    Choose Your Footer Style
                                </div>
                                <div class="input-box">
                                    <div class="input">
                                        @Html.DropDownList("Footer", MedOR.Common.Comm.GetFooterList(), new { Name = "footer", id = "footer" })
                                    </div>
                                </div>
                                <div class="box-title">
                                    Backgrounds for Boxed Version
                                </div>
                                <div class="images boxed-patterns">
                                    <a id="bg_style_1" href="#">
                                        <img alt="" src="~/Content/assets/images/bg.png" /></a> <a id="bg_style_2" href="#">
                                            <img alt="" src="~/Content/assets/images/bg_2.png" /></a> <a id="bg_style_3" href="#">
                                                <img alt="" src="~/Content/assets/images/bg_3.png" /></a> <a id="bg_style_4" href="#">
                                                    <img alt="" src="~/Content/assets/images/bg_4.png" /></a> <a id="bg_style_5" href="#">
                                                        <img alt="" src="~/Content/assets/images/bg_5.png" /></a>
                                </div>
                                <div class="box-title">
                                    5 Predefined Color Schemes
                                </div>
                                <div class="images icons-color">
                                    <a id="light" href="#">
                                        <img class="active" alt="" src="~/Content/assets/images/lightgrey.png" /></a>
                                    <a id="dark" href="#">
                                        <img alt="" src="~/Content/assets/images/darkgrey.png" /></a> <a id="black_and_white"
                                            href="#">
                                            <img alt="" src="~/Content/assets/images/blackandwhite.png" /></a> <a id="navy" href="#">
                                                <img alt="" src="~/Content/assets/images/navy.png" /></a> <a id="green" href="#">
                                                    <img alt="" src="~/Content/assets/images/green.png" /></a>
                                </div>
                                <div class="box-title">
                                    Style it with LESS
                                </div>
                                <div class="images">
                                    <div class="form-group">
                                        <label>
                                            Basic
                                        </label>
                                        <input type="text" value="#ffffff" class="color-base" />
                                        <div class="dropdown">
                                            <a class="add-on dropdown-toggle" data-toggle="dropdown"><i style="background-color: #ffffff">
                                            </i></a>
                                            <ul class="dropdown-menu pull-right">
                                                <li>
                                                    <div class="colorpalette">
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            Text
                                        </label>
                                        <input type="text" value="#555555" class="color-text" />
                                        <div class="dropdown">
                                            <a class="add-on dropdown-toggle" data-toggle="dropdown"><i style="background-color: #555555">
                                            </i></a>
                                            <ul class="dropdown-menu pull-right">
                                                <li>
                                                    <div class="colorpalette">
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            Elements
                                        </label>
                                        <input type="text" value="#007AFF" class="color-badge" />
                                        <div class="dropdown">
                                            <a class="add-on dropdown-toggle" data-toggle="dropdown"><i style="background-color: #007AFF">
                                            </i></a>
                                            <ul class="dropdown-menu pull-right">
                                                <li>
                                                    <div class="colorpalette">
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div style="height: 25px; line-height: 25px; text-align: center">
                                    <a class="clear_style" href="#">Clear Styles </a><a class="save_style" href="#">Save
                                        Styles </a>
                                </div>
                            </div>
                            <div class="style-toggle close">
                            </div>
                        </div>
                        <!-- end: STYLE SELECTOR BOX -->
                    </div>
                </div>
                <!-- start: PAGE CONTENT -->
                @RenderBody()
                <!-- end: PAGE CONTENT-->
            </div>
        </div>
        <!-- end: PAGE -->
    </div>
    <!-- end: MAIN CONTAINER -->
    <!-- start: FOOTER -->
    <div class="footer clearfix">
        <div class="footer-inner">
            2014 &copy; MedOR by Stellaris.
        </div>
        <div class="footer-items">
            <span class="go-top"><i class="clip-chevron-up"></i></span>
        </div>
    </div>
    <!-- end: FOOTER -->
    <!-- start: MAIN JAVASCRIPTS -->
    <!--[if lt IE 9]>
		<script src="assets/plugins/respond.min.js"></script>
		<script src="assets/plugins/excanvas.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<![endif]-->
    <!--[if gte IE 9]><!-->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <!--<![endif]-->
    @* <script type="text/javascript" src="~/Scripts/JQuery.js"></script>*@
    <script type="text/javascript" src="~/Content/assets/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/blockUI/jquery.blockUI.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/iCheck/jquery.icheck.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/perfect-scrollbar/src/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/perfect-scrollbar/src/perfect-scrollbar.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/less/less-1.5.0.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/jquery-cookie/jquery.cookie.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/bootstrap-colorpalette/js/bootstrap-colorpalette.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/main.js"></script>
    <!-- end: MAIN JAVASCRIPTS -->
    <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    @RenderSection("Scripts", false)
    <div class="row">
        <div class="col-md-12">
            <button class="open-button" onclick="openForm()">Chat</button>
        </div>
        <div class="col-md-12">
            <div class="popup-box chat-popup" id="chat-sidebar" rel="Chat">
                <div class="msg_head">
                    Chat
                </div>
                <div id="sidebar-user-box" class="users">
                </div>
            </div>
            <input id="hdId" type="hidden" />
            <input id="hdUserName" type="hidden" />
        </div>
    </div>
    <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <script type="text/javascript">
       
        var url = window.location.pathname;
        var activePage = url.substring(url.lastIndexOf('/') + 1);
        var activeSplit = url.split("/");
        var activeParent = activeSplit[activeSplit.length - 2];
        $('.main-navigation-menu li a').each(function () {
            var currentPage = this.href.substring(this.href.lastIndexOf('/') + 1);
            if (activePage == currentPage) {
                $(this).closest('li').addClass('active');
                $(this).closest('ul').closest('li').addClass('active');
                $(this).closest('ul').closest('li').closest('ul').addClass('active');
                $(this).closest('ul').closest('li').closest('ul').closest('li').addClass('active');
            }
            else {
                var currentSplit = this.href.split("/");
                var currentParent = currentSplit[currentSplit.length - 2];
                if (currentParent == activeParent) {
                    $(this).closest('ul').closest('li').addClass('active');
                    $(this).closest('ul').closest('li').closest('ul').addClass('active');
                    $(this).closest('ul').closest('li').closest('ul').closest('li').addClass('active');
                }
            }
        });

        //$(function () {
        //    $('form').on('submit', function (event) {
        //        event.preventDefault();
        //        var message = $('.message').first().clone();
        //        message.find('p').text($('input').val());
        //        message.prependTo('.chat-container');
        //        $('input').val('');
        //    });
        //});
        function openForm() {
            //document.getElementById("chat-sidebar").style.display = "block";
            debugger;
            $("#chat-sidebar").toggle();
        }
        function closeForm() {
            document.getElementById("chat-sidebar").style.display = "none";
        }
        jQuery(document).ready(function () {
            Main.init();
        });
       
            var arr = []; // List of users

            $(document).on('click', '.msg_head', function () {
                debugger;
                var chatbox = $(this).parents().attr("rel");
                $('[rel="' + chatbox + '"] .msg_wrap').slideToggle('slow');
                return false;
            });

            $(document).on('click', '.msg_head', function () {
                debugger;
                var chatbox = $(this).parents().attr("rel");
                $('[rel="Chat"] .msg_wrap').slideToggle('slow');
                return false;
            });

            $(document).on('click', '.close', function () {
                var chatbox = $(this).parents().parents().attr("rel");
                $('[rel="' + chatbox + '"]').hide();
                arr.splice($.inArray(chatbox, arr), 1);
                displayChatBox();
                return false;
            });

            function setScreen(isLogin) {
                debugger;
                if (!isLogin) {

                    $("#chat-sidebar").hide();
                    $("#divLogin").show();
                }
                else {

                    $("#chat-sidebar").show();
                    $("#divLogin").hide();
                }

            }
            //to open chatwindow Private
            function registerEvents(chatHub) {
                debugger;
                var UserInfoName = $('#UserInfo').attr("name");
                var UserInfoID = $('#UserInfo').attr("value");
                //XXXX
             chatHub.server.connect(UserInfoName, UserInfoID);
                $(document).on('click', '#sidebar-user-box', function () {
                    debugger;
                    var userID = $(this).attr("name");
                    var IDprofileUser = $(this).attr("value");
                    var username = $(this).children().text();

                    if ($.inArray(userID, arr) != -1) {
                        arr.splice($.inArray(userID, arr), 1);
                    }

                    arr.unshift(userID);
                    chatPopup = '<div class="msg_box" style="right:270px" rel="' + userID + '">' +
                       '<div class="msg_head">' + username +
                       '<div class="close">x</div> </div>' +
                       '<div class="msg_wrap"> <div class="msg_body"> <div class="msg_push"></div> </div>' +
                       '<div class="msg_footer"><textarea class="msg_input" rows="4"></textarea></div>  </div>  </div>';

                    $("body").append(chatPopup);
                    displayChatBox();
                    if (username.length > 0) {

                    }
                    else {
                        alert("Please enter name");
                    }

                    $(document).on('keypress', 'textarea', function (e) {
                        //  alert("df")
                        debugger;
                        if (e.keyCode == 13) {
                            var msg = $(this).val();
                            $(this).val('');
                            if (msg.trim().length != 0) {


                                var chatbox = $(this).parents().parents().parents().attr("rel");
                                //var userID = $(this).parents().parents().parents().attr("name");
                                //var IDprofileUser = $(this).attr("name");

                                $('<div class="msg-right">' + msg + '</div>').insertBefore('[rel="' + chatbox + '"] .msg_push');
                                $('.msg_body').scrollTop($('.msg_body')[0].scrollHeight);
                                chatHub.server.sendPrivateMessage(userID, msg, IDprofileUser);
                                //chatHub.server.sendChatMessage(userID, msg);
                            }

                        }
                    });
                });
            }
            function registerClientMethods(chatHub) {
                debugger;
                // Calls when user successfully logged in
                chatHub.client.onConnected = function (userID, userName, allUsers, messages) {
                    debugger;
                    setScreen(true);
                    //alert("before")
                    $('#hdId').val(userID);
                    $('#hdUserName').val(userName);

                    // Add All Users
                    for (i = 0; i < allUsers.length; i++) {


                        AddUser(chatHub, allUsers[i].ConnectionId, allUsers[i].UserName, i);
                    }
                    // Add Existing Messages
                    for (i = 0; i < messages.length; i++) {

                        AddMessage(messages[i].UserName, messages[i].Message);
                    }

                }

                // On New User Connected
                chatHub.client.onNewUserConnected = function (userID, name) {
                    debugger;
                    var i = 0;
                    var eee = $('.' + "'" + userID + "'").val();
                    if (eee != userID)

                        
                    { AddUser(chatHub, userID, name, i); }
                   // var eee = document.getElementsByClassName("class-username");
                   // $(".class-username").html("");
                 
                }

                // On User Disconnected
                chatHub.client.onUserDisconnected = function (id, userName) {
                    debugger;
                    $('#' + id).remove();
                    var ctrId = 'private_' + id;
                    $('#' + ctrId).remove();
                    var disc = $('<div class="disconnect">"' + userName + '" logged off.</div>');
                    $(disc).hide();
                    $('#divusers').prepend(disc);
                    $(disc).fadeIn(200).delay(2000).fadeOut(200);
                }
                chatHub.client.messageReceived = function (userName, message) {
                    debugger;
                    AddMessage(userName, message);
                }


                chatHub.client.addChatMessage = function (who, message) {
                    debugger;
                    alert("Elie")
                    // Html encode display name and message.

                };

                chatHub.client.sendPrivateMessage = function (windowId, fromUserName, message) {
                    debugger;
                    alert("test");

                    var ctrId = 'private_' + windowId;
                    if ($('#' + ctrId).length == 0) {

                        //createPrivateChatWindow(chatHub, windowId, ctrId, fromUserName);

                        var userId = $('#hdId').val();

                        if (userId == windowId) {
                            chatPopup = '<div class="msg_box" style="right:270px" rel="' + windowId + '">' +
                               '<div class="msg_head">' + fromUserName +
                               '<div class="close">x</div> </div>' +
                               '<div class="msg_wrap"> <div class="msg_body"> <div class="msg_push"></div> </div>' +
                               '<div class="msg_footer"><textarea id="msg_body" class="msg_input" rodws="4"></textarea></div>  </div>  </div>';

                            $("body").append(chatPopup);
                            displayChatBox();
                        }
                    }
                    $('<div class="msg-right">' + message + '</div>').insertBefore('[rel="' + windowId + '"] .msg_push');
                    $('.msg_body').scrollTop($('.msg_body')[0].scrollHeight);
              
                    //$('#' + ctrId).find('#msg_body').append('<div class="message"><span class="userName">' + fromUserName + '</span>: ' + message + '</div>');
                    //var height = $('#' + ctrId).find('#msg_body')[0].scrollHeight;
                    //$('#' + ctrId).find('#divMessage').scrollTop(height);
                    $(document).on('keypress', 'textarea', function (e) {
                        //  alert("df")
                        debugger;
                     
                         
                           


                                var chatbox = $(this).parents().parents().parents().attr("rel");
                                //var userID = $(this).parents().parents().parents().attr("name");
                                //var IDprofileUser = $(this).attr("name");

                               
                                chatHub.server.sendPrivateMessage(userID, message, IDprofileUser);
                                //chatHub.server.sendChatMessage(userID, msg);
                      

                      
                    });

                }
            }
            function AddUser(chatHub, userID, name, i) {
                debugger;
                var UserName = $('#hdUserName').val();

                var code = "";
                var UserInfoID = $('#hdId').val();


                if (UserInfoID == userID) {

                }
                else {
                   var foundID = $('.0').attr('name');
                 
                 if (foundID != UserInfoID) {
                     code = $('<div id="sidebar-user-box" class="' + userID + '"name="' + userID + '"Value="' + UserInfoID + '"><span <div class="class-username"id="slider-username">' + name + '</div></span></div>');
                }
                    $(code).dblclick(function () {

                        var id = $(this).attr('id');

                        if (userId != id)
                            OpenPrivateChatWindow(chatHub, id, name);

                    });
                }

                $("#chat-sidebar").append(code);
            }
            function OpenPrivateChatWindow(chatHub, id, userName) {
                debugger;
                // alert("hello");
                var ctrId = 'private_' + id;

                if ($('#' + ctrId).length > 0) return;

                createPrivateChatWindow(chatHub, id, ctrId, userName);

            }
            $(function () {
                debugger;
                //setScreen(false);
                // Declare a proxy to reference the hub.
                var chatHub = $.connection.chatHub

                debugger;
                registerClientMethods(chatHub);
                // Start Hub
                $.connection.hub.start().done(function () {
                    registerEvents(chatHub)
                });
            });
            function displayChatBox() {
                i = 270; // start position
                j = 260;  //next position

                $.each(arr, function (index, value) {
                    if (index < 4) {
                        $('[rel="' + value + '"]').css("right", i);
                        $('[rel="' + value + '"]').show();
                        i = i + j;
                    }
                    else {
                        $('[rel="' + value + '"]').hide();
                    }
                });
            }
     
    </script>

        <script src="~/Content/assets/js/jquery.signalR-1.0.0.js"></script>
        <script src="~/signalr/hubs"></script>
  
</body>
<!-- end: BODY -->
</html>
