﻿@model DataModel.UserModel
@if (@Model.Image == null)
{
    <img src="~/Content/assets/images/avatar-1-xl.jpg" style="max-width: 30px; max-height: 30px;" class="circle-img" alt="" />
}
else
{
    <img src='@Url.Action("ShowImage", "User", new { id = Model.UserID })' style="max-width: 30px; max-height: 30px;" class="circle-img" alt=""/>
}
<span class="username" id="UserInfo" name="@Model.FirstName @Model.LastName"value="@Model.UserID">@Html.DisplayFor(m => m.FirstName) @Html.DisplayFor(m => m.LastName)</span>
