﻿@{
    ViewBag.Title = "EditPatient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model DataModel.PaitentModel
<!-- start: PAGE HEADER -->
@section CSS{
    <link rel="stylesheet" href="~/Content/assets/plugins/summernote/build/summernote.css" />
    <link rel="stylesheet" href="~/Content/assets/plugins/bootstrap-fileupload/bootstrap-fileupload.min.css">
    <link rel="stylesheet" href="~/Content/assets/plugins/select2/select2.css" />
}
<div class="row">
    <div class="col-sm-12">
        <!-- start: PAGE TITLE & BREADCRUMB -->
        <ol class="breadcrumb">
            <li><i class="clip-file"></i><a href="#">Patients </a></li>
            <li><a href="ListOfPatients">List Of Patients </a></li>
            <li class="active">Edit </li>
        </ol>
        <div class="page-header">
            <h1>
                Edit Patient <small>edit patient</small></h1>
        </div>
        <!-- end: PAGE TITLE & BREADCRUMB -->
    </div>
</div>
<!-- end: PAGE HEADER -->
<div class="row">
    <div class="col-md-12">
        <!-- start: FORM VALIDATION 1 PANEL -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-external-link-square"></i>Edit Patient
                <div class="panel-tools">
                    @*<a class="btn btn-xs btn-link panel-collapse collapses" href="#"></a><a class="btn btn-xs btn-link panel-config"
                        href="#panel-config" data-toggle="modal"><i class="fa fa-wrench"></i></a><a class="btn btn-xs btn-link panel-refresh"
                            href="#"><i class="fa fa-refresh"></i></a><a class="btn btn-xs btn-link panel-expand"
                                href="#"><i class="fa fa-resize-full"></i></a><a class="btn btn-xs btn-link panel-close"
                                    href="#"><i class="fa fa-times"></i></a>*@
                </div>
            </div>
            <div class="panel-body">
                <h2>
                    <i class="fa fa-pencil-square teal"></i> Edit patient</h2>
                <p>
                    @Model.FirstName @Model.LastName
                </p>
                <hr />
                <form method="post" id="form" action="" enctype="multipart/form-data">
                @Html.HiddenFor(x => x.PatientID)
                <div class="row">
                    <div class="col-md-12">
                        <div class="errorHandler alert alert-danger no-display">
                            <i class="fa fa-times-sign"></i>You have some form errors. Please check below.
                        </div>
                        <div class="successHandler alert alert-success no-display">
                            <i class="fa fa-ok"></i>Your form validation is successful!
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">
                                First Name <span class="symbol required"></span>
                            </label>
                            @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", id = "firstname", Name = "firstname" })
                        </div>
                        <div class="form-group">
                            <label class="control-label">
                                Middle Name <span class="symbol required"></span>
                            </label>
                            @Html.TextBoxFor(x => x.MiddleName, new { @class = "form-control", id = "middlename", Name = "middlename" })
                        </div>
                        <div class="form-group">
                            <label class="control-label">
                                Last Name <span class="symbol required"></span>
                            </label>
                            @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", id = "lastname", Name = "lastname" })
                        </div>
                        <div class="form-group">
                            <label class="control-label">
                                Profession <span class="symbol required"></span>
                            </label>
                            @Html.TextBoxFor(x => x.Profession, new { @class = "form-control", id = "profession", Name = "profession" })
                        </div>
                        <div class="form-group">
                            <label class="control-label">
                                Mobile Phone <span class="symbol required"></span>
                            </label>
                            <span class="input-icon">
                                @Html.TextBoxFor(x => x.MobilePhone, new { @class = "form-control", id = "mobilephone", Name = "mobilephone" })
                                <i class="fa fa-phone"></i></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">
                                Home Phone
                            </label>
                            <span class="input-icon">
                                @Html.TextBoxFor(x => x.HomePhone, new { @class = "form-control", id = "homephone", Name = "homephone" })
                                <i class="fa fa-phone"></i></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">
                                Email
                            </label>
                            <span class="input-icon">
                                @Html.TextBoxFor(x => x.PatientEmail, new { @class = "form-control", id = "patientemail", Name = "patientemail" })
                                <i class="fa fa-envelope"></i></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">
                                Image Upload
                            </label>
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <div class="fileupload-new thumbnail" style="max-width: 150px; max-height: 150px;">
                                    @if (Model.Image == null)
                                    {
                                        <img src="~/Content/assets/images/avatar-1-xl.jpg" alt="" />
                                    }
                                    else
                                    {
                                        <img src='@Url.Action("ShowPatientImage", "Patient", new { id = Model.PatientID })' alt=""/>
                                    }
                                </div>
                                <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 150px;
                                    max-height: 150px; line-height: 20px;">
                                </div>
                                <div class="user-edit-image-buttons">
                                    <span class="btn btn-light-grey btn-file"><span class="fileupload-new"><i class="fa fa-picture">
                                    </i>Select image</span><span class="fileupload-exists"><i class="fa fa-picture"></i>
                                        Change</span>
                                        <input type="file" name="uploadFile" /></span> <a href="#" class="btn fileupload-exists btn-light-grey"
                                            data-dismiss="fileupload"><i class="fa fa-times"></i>Remove </a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group connected-group">
                            <label class="control-label">
                                Date of Birth (DD / MM / YYYY) <span class="symbol required"></span>
                            </label>
                            <div class="row">
                                <div class="col-md-3">
                                    @Html.DropDownListFor(m => m.DD, MedOR.Common.Comm.GetDaysList(), "-- Day --", new { @class = "form-control", id = "dd", Name = "dd" })
                                </div>
                                <div class="col-md-3">
                                    @Html.DropDownListFor(m => m.MM, MedOR.Common.Comm.GetMonthsList(), "-- Month --", new { @class = "form-control", id = "mm", Name = "mm" })
                                </div>
                                <div class="col-md-3">
                                    @Html.TextBoxFor(x => x.YYYY, new { @class = "form-control", id = "yyyy", Name = "yyyy", placeholder = "YYYY" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">
                                Gender <span class="symbol required"></span>
                            </label>
                            <div>
                                <label class="radio-inline">
                                    @Html.RadioButtonFor(model => model.Gender, "false", new { value = "f", id = "gender_female", Name = "gender", @class = "grey" })
                                    Female
                                </label>
                                <label class="radio-inline">
                                    @Html.RadioButtonFor(model => model.Gender, "true", new { value = "m", id = "gender_male", Name = "gender", @class = "grey" })
                                    Male
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="control-label">
                                        Address <span class="symbol required"></span>
                                    </label>
                                    <span class="input-icon">
                                        @Html.TextBoxFor(m => m.Address, new { @class = "form-control", id = "address", Name = "address" })
                                        <i class="fa fa-home"></i></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">
                                        City <span class="symbol required"></span>
                                    </label>
                                    <span class="input-icon">
                                        @Html.TextBoxFor(m => m.City, new { @class = "form-control", id = "city", Name = "city" })
                                        <i class="fa fa-home"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">
                                Country <span class="symbol required"></span>
                            </label>
                            @Html.DropDownListFor(m => m.Country, MedOR.Common.Comm.GetCountryList(), "--Select user's country--", new { @class = "form-control", id = "country", Name = "country" })
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <span class="symbol required"></span>Required Fields
                            <hr />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <button class="btn btn-light-grey btn-block" type="button" onclick="window.location='/Patient/ListOfPatients';">
                            Cancel
                        </button>
                    </div>
                    <div class="col-md-4">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-blue btn-block" type="submit">
                            Save
                        </button>
                    </div>
                </div>
                </form>
            </div>
        </div>
        <!-- end: FORM VALIDATION 1 PANEL -->
    </div>
</div>
<!-- end: PAGE CONTENT-->
@section Scripts{
    <script type="text/javascript" src="~/Content/assets/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/summernote/build/summernote.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/ckeditor/adapters/jquery.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/form-validation.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/jquery-inputlimiter/jquery.inputlimiter.1.3.1.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/autosize/jquery.autosize.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/select2/select2.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/jquery.maskedinput/src/jquery.maskedinput.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/bootstrap-fileupload/bootstrap-fileupload.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/form-elements.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            FormElements.init();
            FormValidator.init();
        });
    </script>
}
