﻿@{
    Layout = null;
}
@model DataModel.UserModel
<!DOCTYPE html>
<!-- Template Name: Clip-One - Responsive Admin Template build with Twitter Bootstrap 3 Version: 1.2.3 Author: ClipTheme -->
<!--[if IE 8]><html class="ie8 no-js" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9 no-js" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
	<!--<![endif]-->
	<!-- start: HEAD -->
	<head>
		<title>MedOR - Medical Online Records</title>
		<!-- start: META -->
		<meta charset="utf-8" />
		<!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta content="" name="description" />
		<meta content="" name="author" />
		<!-- end: META -->
		<!-- start: MAIN CSS -->
		<link rel="stylesheet" href="~/Content/assets/plugins/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="~/Content/assets/plugins/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="~/Content/assets/fonts/style.css">
		<link rel="stylesheet" href="~/Content/assets/css/main.css">
		<link rel="stylesheet" href="~/Content/assets/css/main-responsive.css">
		<link rel="stylesheet" href="~/Content/assets/plugins/iCheck/skins/all.css">
		<link rel="stylesheet" href="~/Content/assets/plugins/bootstrap-colorpalette/css/bootstrap-colorpalette.css">
		<link rel="stylesheet" href="~/Content/assets/plugins/perfect-scrollbar/src/perfect-scrollbar.css">
		<link rel="stylesheet" href="~/Content/assets/css/theme_light.css" type="text/css" id="skin_color">
		<link rel="stylesheet" href="~/Content/assets/css/print.css" type="text/css" media="print"/>
		<!--[if IE 7]>
		<link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome-ie7.min.css">
		<![endif]-->
		<!-- end: MAIN CSS -->
		<link rel="shortcut icon" href="favicon.ico" />
	</head>
	<!-- end: HEAD -->
	<!-- start: BODY -->
	<body class="lock-screen">
		<div class="main-ls">
			<div class="logo">
				MedOR
			</div>
			<div class="box-ls">
				<img alt="" src="~/Content/assets/images/avatar-1-xl.jpg"/>
				<div class="user-info">
					<h1><i class="fa fa-lock"></i> @Model.FirstName @Model.LastName</h1>
					<span>@Model.Email</span>
					<span><em>Please enter your password to un-lock.</em></span>
					<form action="" method="post">
                        @Html.HiddenFor(x => x.Username) @Html.HiddenFor(x => x.Email) @Html.HiddenFor(x => x.FirstName) @Html.HiddenFor(x => x.LastName)
						<div class="input-group">
							<input type="password" name="Password" placeholder="Password" class="form-control"/>
							<span class="input-group-btn">
								<button class="btn btn-blue" type="submit">
									<i class="fa fa-chevron-right"></i>
								</button> </span>
						</div>
						<div class="relogin">
							<a href="/Account/Login">
								Not @Model.FirstName @Model.LastName?</a>
						</div>
					</form>
				</div>
			</div>
			<div class="copyright">
				2014 &copy; MedOR by Stellaris.
			</div>
		</div>
		<!-- start: MAIN JAVASCRIPTS -->
		<!--[if lt IE 9]>
		<script src="assets/plugins/respond.min.js"></script>
		<script src="assets/plugins/excanvas.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<![endif]-->
		<!--[if gte IE 9]><!-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<!--<![endif]-->
		<script src="~/Content/assets/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js"></script>
		<script src="~/Content/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
		<script src="~/Content/assets/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js"></script>
		<script src="~/Content/assets/plugins/blockUI/jquery.blockUI.js"></script>
		<script src="~/Content/assets/plugins/iCheck/jquery.icheck.min.js"></script>
		<script src="~/Content/assets/plugins/perfect-scrollbar/src/jquery.mousewheel.js"></script>
		<script src="~/Content/assets/plugins/perfect-scrollbar/src/perfect-scrollbar.js"></script>
		<script src="~/Content/assets/plugins/less/less-1.5.0.min.js"></script>
		<script src="~/Content/assets/plugins/jquery-cookie/jquery.cookie.js"></script>
		<script src="~/Content/assets/plugins/bootstrap-colorpalette/js/bootstrap-colorpalette.js"></script>
		<script src="~/Content/assets/js/main.js"></script>
		<script>
		    jQuery(document).ready(function () {
		        Main.init();
		    });
		</script>
	</body>
	<!-- end: BODY -->
</html>