﻿@{
    Layout = null;
}
@model DataModel.UserModel
<!DOCTYPE html>
<!-- Template Name: Clip-One - Responsive Admin Template build with Twitter Bootstrap 3 Version: 1.2.3 Author: ClipTheme -->
<!--[if IE 8]><html class="ie8 no-js" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9 no-js" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
	<!--<![endif]-->
	<!-- start: HEAD -->
	<head>
		<title>MedOR - Medical Online Records</title>
		<!-- start: META -->
		<meta charset="utf-8" />
		<!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta content="" name="description" />
		<meta content="" name="author" />
		<!-- end: META -->
		<!-- start: MAIN CSS -->
		<link rel="stylesheet" href="~/Content/assets/plugins/bootstrap/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="~/Content/assets/plugins/font-awesome/css/font-awesome.min.css"/>
		<link rel="stylesheet" href="~/Content/assets/fonts/style.css"/>
		<link rel="stylesheet" href="~/Content/assets/css/main.css"/>
		<link rel="stylesheet" href="~/Content/assets/css/main-responsive.css"/>
		<link rel="stylesheet" href="~/Content/assets/plugins/iCheck/skins/all.css"/>
		<link rel="stylesheet" href="~/Content/assets/plugins/bootstrap-colorpalette/css/bootstrap-colorpalette.css"/>
		<link rel="stylesheet" href="~/Content/assets/plugins/perfect-scrollbar/src/perfect-scrollbar.css"/>
		<link rel="stylesheet" href="~/Content/assets/css/theme_light.css" type="text/css" id="skin_color"/>
		<link rel="stylesheet" href="~/Content/assets/css/print.css" type="text/css" media="print"/>
		<!--[if IE 7]>
		<link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome-ie7.min.css">
		<![endif]-->
		<!-- end: MAIN CSS -->
		<!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
		<!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
	</head>
	<!-- end: HEAD -->
	<!-- start: BODY -->
	<body class="login example2">
		<div class="main-login col-sm-4 col-sm-offset-4">
			<div class="logo">MedOR
			</div>
			<!-- start: LOGIN BOX -->
			<div class="box-login">
				<h3>Sign in to your account</h3>
				<p>
					Please enter your username and password to log in.
				</p>
				<form class="form-login" method="post" action="">
					<div class="errorHandler alert alert-danger no-display">
						<i class="fa fa-remove-sign"></i> @TempData["Message"]
					</div>
					<fieldset>
						<div class="form-group">
							<span class="input-icon">
								<input type="text" class="form-control" name="username" id="username" placeholder="Username">
								<i class="fa fa-user"></i> </span>
						</div>
						<div class="form-group form-actions">
							<span class="input-icon">
								<input type="password" class="form-control password" name="password" placeholder="Password">
								<i class="fa fa-lock"></i>
								<a class="forgot" onclick="this.href='ForgotPassword/?username='+document.getElementById('username').value" href="">
									I forgot my password
								</a> </span>
						</div>
						<div class="form-actions">
							<label for="remember" class="checkbox-inline">
								<input type="checkbox" class="grey remember" id="remember" name="remember" placeholder="remember"/>
								Keep me signed in
							</label>
							<button type="submit" id="btnStartChat" class="btn btn-bricky pull-right">
								Login <i class="fa fa-arrow-circle-right"></i>
							</button>
						</div>
						@*<div class="new-account">
							Don't have an account yet?
							<a href="#" class="register">
								Create an account
							</a>
						</div>*@
					</fieldset>
				</form>
			</div>
			<!-- end: LOGIN BOX -->
		
			<!-- start: COPYRIGHT -->
			<div class="copyright">
				2014 &copy; MedOR by Stellaris.
			</div>
			<!-- end: COPYRIGHT -->
		</div>
		<!-- start: MAIN JAVASCRIPTS -->
		<!--[if lt IE 9]>
		<script src="assets/plugins/respond.min.js"></script>
		<script src="assets/plugins/excanvas.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<![endif]-->
		<!--[if gte IE 9]><!-->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<!--<![endif]-->
		<script type="text/javascript" src="~/Content/assets/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js"></script>
		<script type="text/javascript" src="~/Content/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="~/Content/assets/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js"></script>
		<script type="text/javascript" src="~/Content/assets/plugins/blockUI/jquery.blockUI.js"></script>
		<script type="text/javascript" src="~/Content/assets/plugins/iCheck/jquery.icheck.min.js"></script>
		<script type="text/javascript" src="~/Content/assets/plugins/perfect-scrollbar/src/jquery.mousewheel.js"></script>
		<script type="text/javascript" src="~/Content/assets/plugins/perfect-scrollbar/src/perfect-scrollbar.js"></script>
		<script type="text/javascript" src="~/Content/assets/plugins/less/less-1.5.0.min.js"></script>
		<script type="text/javascript" src="~/Content/assets/plugins/jquery-cookie/jquery.cookie.js"></script>
		<script type="text/javascript" src="~/Content/assets/plugins/bootstrap-colorpalette/js/bootstrap-colorpalette.js"></script>
		<script type="text/javascript" src="~/Content/assets/js/main.js"></script>
		<!-- end: MAIN JAVASCRIPTS -->
		<!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
		<script type="text/javascript" src="~/Content/assets/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
		<script type="text/javascript" src="~/Content/assets/js/login.js"></script>
		<!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->

        @*<script src="~/Scripts/jquery.signalR-1.1.4.js"></script>*@
        @*<script src="~/Content/assets/js/jquery.signalR-1.0.0.js"></script>*@
        <!--Reference the autogenerated SignalR hub script. -->
        @*<script src="~/signalr/hubs"></*@script>


		<script type="text/javascript">
            jQuery(document).ready(function () {
                debugger;
		        Main.init();
		        Login.init(); 
                alert("login1")
		        var success = @((TempData["Message"] != "" && TempData["Message"] != null).ToString().ToLower());


                if (success == true) {
                    //debugger;
                    //alert("login2")
                    //$(function () {
                    //    debugger;
                    //    setScreen(false);
                    //    // Declare a proxy to reference the hub. 
                    //    //var chatHub = $.connection.chatHub;
                    //    var chatHub = $.connection.chatHub;
                    //    registerClientMethods(chatHub);

                    //    // Start Hub
                    //    $.connection.hub.start().done(function () {
                    //        registerEvents(chatHub)
                    //    });
                    //});
                   $("form div").removeClass('no-display');
                }  
		    });

            //var userId = $('#UserInfo').val();
            //function registerEvents(chatHub) {

            //            chatHub.server.connect(UserInfoName, UserInfoID);
            //    };

		</script>
	</body>
	<!-- end: BODY -->
</html>
