﻿@{
    ViewBag.Title = "CreateNewClinic";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model DataModel.ClinicModel
<!-- start: PAGE HEADER -->
@section CSS{
    <link rel="stylesheet" href="~/Content/assets/plugins/summernote/build/summernote.css" />
    <link rel="stylesheet" href="~/Content/assets/plugins/select2/select2.css" />
}
<div class="row">
    <div class="col-sm-12">
        <!-- start: PAGE TITLE & BREADCRUMB -->
        <ol class="breadcrumb">
            <li><i class="clip-file"></i><a href="#"> Clinics </a></li>
            <li class="active">Create New... </li>
        </ol>
        <div class="page-header">
            <h1>
                New Clinic <small>create new clinic</small></h1>
        </div>
        <!-- end: PAGE TITLE & BREADCRUMB -->
    </div>
</div>
<!-- end: PAGE HEADER -->
<div class="row">
    <div class="col-md-12">
        <!-- start: FORM VALIDATION 1 PANEL -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-external-link-square"></i>New Clinic
                <div class="panel-tools">
                    @*<a class="btn btn-xs btn-link panel-collapse collapses" href="#"></a><a class="btn btn-xs btn-link panel-config"
                        href="#panel-config" data-toggle="modal"><i class="fa fa-wrench"></i></a><a class="btn btn-xs btn-link panel-refresh"
                            href="#"><i class="fa fa-refresh"></i></a><a class="btn btn-xs btn-link panel-expand"
                                href="#"><i class="fa fa-resize-full"></i></a><a class="btn btn-xs btn-link panel-close"
                                    href="#"><i class="fa fa-times"></i></a>*@
                </div>
            </div>
            <div class="panel-body">
                <h2>
                    <i class="fa fa-pencil-square teal"></i>Create a new clinic</h2>
                <p>
                    Create a new Clinic.
                </p>
                <hr />
                <form method="post" id="form" action="">
                <div class="row">
                    <div class="col-md-12">
                        <div class="errorHandler alert alert-danger no-display">
                            <i class="fa fa-times-sign"></i>You have some form errors. Please check below.
                        </div>
                        <div class="successHandler alert alert-success no-display">
                            <i class="fa fa-ok"></i>Your form validation is successful!
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">
                                Name <span class="symbol required"></span>
                            </label>
                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control", id = "name", Name = "name" })
                        </div>
                       
                        <div class="form-group">
                            <label class="control-label">
                                Phone Number <span class="symbol required"></span>
                            </label>
                            <span class="input-icon">
                            @Html.TextBoxFor(x => x.Phone, new { @class = "form-control", id = "phone", Name = "phone" })
                            <i class="fa fa-phone"></i></span>
                        </div>

                        <div class="form-group">
                            <label class="control-label">
                                Address <span class="symbol required"></span>
                            </label>
                            <span class="input-icon">
                            @Html.TextBoxFor(x => x.Address, new { @class = "form-control", id = "address", Name = "address" })
                            <i class="fa fa-home"></i></span>
                        </div>

                        <div class="form-group">
                            <label class="control-label">
                                City <span class="symbol required"></span>
                            </label>
                            <span class="input-icon">
                            @Html.TextBoxFor(x => x.City, new { @class = "form-control", id = "city", Name = "city" })
                            <i class="fa fa-home"></i></span>
                        </div>

                        <div class="form-group">
                            <label class="control-label">
                                Country <span class="symbol required"></span>
                            </label>
                            @Html.DropDownListFor(m => m.Country, MedOR.Common.Comm.GetCountryList(), "--Select user's country--", new { @class = "form-control", id = "country", Name = "country" })
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <span class="symbol required"></span>Required Fields
                            <hr />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <button class="btn btn-light-grey btn-block" type="button" onclick="window.location='/Clinic/ListOfClinics';">
                            Cancel
                        </button>
                    </div>
                    <div class="col-md-4">
                        <p>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-blue btn-block" type="submit">
                            Save
                        </button>
                    </div>
                </div>
                </form>
            </div>
        </div>
        <!-- end: FORM VALIDATION 1 PANEL -->
    </div>
</div>
<!-- end: PAGE CONTENT-->
@section Scripts{
    <script type="text/javascript" src="~/Content/assets/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/summernote/build/summernote.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/ckeditor/adapters/jquery.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/form-validation.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/jquery-inputlimiter/jquery.inputlimiter.1.3.1.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/autosize/jquery.autosize.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/select2/select2.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/jquery.maskedinput/src/jquery.maskedinput.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/form-elements.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            FormElements.init();
            FormValidator.init();
        });
    </script>
}
