﻿@{
    ViewBag.Title = "List Of Clinics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<DataModel.ClinicModel>
@section CSS{
    <link rel="stylesheet" type="text/css" href="~/Content/assets/plugins/select2/select2.css" />
    <link rel="stylesheet" href="~/Content/assets/plugins/DataTables/media/css/DT_bootstrap.css" />
}
<!-- start: PAGE CONTENT -->
<!-- start: PAGE HEADER -->
<!-- start: PANEL CONFIGURATION MODAL FORM -->
<div class="modal fade" id="panel-remove" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    Remove Clinic</h4>
            </div>
            <div id="modalbody" class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Cancel</button>
                <button type="button" onclick="return execRemove()" class="btn btn-primary">
                    OK</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@Html.Action("_CreateModify", "Home", new { TableName = "Clinics" })
<!-- /.modal -->
<!-- end: SPANEL CONFIGURATION MODAL FORM -->
<div class="row">
    <div class="col-sm-12">
        <!-- start: PAGE TITLE & BREADCRUMB -->
        <ol class="breadcrumb">
            <li><i class="clip-file"></i><a href="#">Clinics </a></li>
            <li class="active">List Of Clinics </li>
        </ol>
        <div class="page-header">
            <h1>
                List Of Clinics <small>list of clinics</small></h1>
        </div>
        <!-- end: PAGE TITLE & BREADCRUMB -->
    </div>
</div>
<!-- end: PAGE HEADER -->
<!-- start: PAGE CONTENT -->
<div class="row">
    <div class="col-md-12">
        <!-- start: DYNAMIC TABLE PANEL -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-external-link-square"></i>Clinics
                <div class="panel-tools">
                    <a class="btn btn-xs btn-link panel-collapse collapses" href="#"></a>
                    <a class="btn btn-xs btn-link panel-config"
                        href="#panel-config" data-toggle="modal"><i class="fa fa-wrench"></i>
                    </a>



                    <a class="btn btn-xs btn-link panel-refresh"
                     href="@Url.Action("ListOfClinics", "Clinic")"><i class="fa fa-refresh"></i>
                    </a>
                    
                    
                    <a class="btn btn-xs btn-link panel-expand" href="#"><i class="fa fa-resize-full">
                    </i></a>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
                    <thead>
                        <tr>
                            <th class="center">
                                #
                            </th>
                            <th class="hidden-xs">
                                Name
                            </th>
                            <th>
                                Phone
                            </th>
                            <th class="hidden-xs">
                                City
                            </th>
                            <th>
                                Created By
                            </th>
                            <th>
                                Created On
                            </th>
                            <th>
                                Modified By
                            </th>
                            <th>
                                Modified On
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 1;
                            foreach (var clinic in @Model.ToList())
                            {
                                if (clinic.SecurityModel.View)
                                {   
                            <tr id="@clinic.ClinicID" name="@clinic.Name">
                                <td class="center">
                                    @i
                                </td>
                                <td class="hidden-xs">
                                    @clinic.Name
                                </td>
                                <td>
                                    @clinic.Phone
                                </td>
                                <td class="hidden-xs">
                                    @clinic.City
                                </td>
                                <td>
                                    @clinic.CreatedByName
                                </td>
                                <td>
                                    @clinic.CreatedOn
                                </td>
                                <td>
                                    @clinic.ModifiedByName
                                </td>
                                <td>
                                    @clinic.ModifiedOn
                                </td>
                                <td class="center">
                                    <div class="visible-md visible-lg hidden-sm hidden-xs">
                                        @if (clinic.SecurityModel.Edit)
                                        {
                                            <a href="/Clinic/EditClinic?id=@clinic.ClinicID" class="btn btn-xs btn-teal tooltips" data-placement="top" data-original-title="Edit">
                                                <i class="fa fa-edit"></i></a>
                                        }
                                        @if (clinic.SecurityModel.Delete)
                                        {
                                            <a href="#panel-remove" class="btn btn-xs btn-bricky tooltips" data-placement="top"
                                                data-original-title="Remove" data-toggle="modal"><i class="fa fa-times fa fa-white">
                                                </i></a>
                                        }
                                    </div>
                                    <div class="visible-xs visible-sm hidden-md hidden-lg">
                                        <div class="btn-group">
                                            <a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#"><i
                                                class="fa fa-cog"></i><span class="caret"></span></a>
                                            <ul role="menu" class="dropdown-menu pull-right">
                                                @if (clinic.SecurityModel.Edit)
                                                {
                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/Clinic/EditClinic?id=@clinic.ClinicID">
                                                        <i class="fa fa-edit"></i>Edit </a></li>
                                                }
                                                @if (clinic.SecurityModel.Delete)
                                                {
                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#panel-remove"><i
                                                        class="fa fa-times"></i>Remove </a></li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                                                i++;
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!-- end: DYNAMIC TABLE PANEL -->
    </div>
</div>
<!-- end: PAGE CONTENT-->
@section Scripts{
    <script type="text/javascript" src="~/Content/assets/plugins/select2/select2.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/DataTables/media/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/DataTables/media/js/DT_bootstrap.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/table-data.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            TableData.init();

            if ($('#viewCreatedBy').val() == 'True') {
                $('td:nth-child(5),th:nth-child(5)').show();
            }
            else if ($('#viewCreatedBy').val() == 'False') {
                $('td:nth-child(5),th:nth-child(5)').hide();
            }
            else { }

            if ($('#viewCreatedOn').val() == 'True') {
                $('td:nth-child(6),th:nth-child(6)').show();
            }
            else if ($('#viewCreatedOn').val() == 'False') {
                $('td:nth-child(6),th:nth-child(6)').hide();
            }
            else { }

            if ($('#viewModifiedBy').val() == 'True') {
                $('td:nth-child(7),th:nth-child(7)').show();
            }
            else if ($('#viewModifiedBy').val() == 'False') {
                $('td:nth-child(7),th:nth-child(7)').hide();
            }
            else { }

            if ($('#viewModifiedOn').val() == 'True') {
                $('td:nth-child(8),th:nth-child(8)').show();
            }
            else if ($('#viewModifiedOn').val() == 'False') {
                $('td:nth-child(8),th:nth-child(8)').hide();
            }
            else { }
        });

      
        function updateView() {
            if ($('#viewCreatedBy').is(":checked")) {
                $('td:nth-child(5),th:nth-child(5)').show();
            }
            else {
                $('td:nth-child(5),th:nth-child(5)').hide();
            }

            if ($('#viewCreatedOn').is(":checked")) {
                $('td:nth-child(6),th:nth-child(6)').show();
            }
            else {
                $('td:nth-child(6),th:nth-child(6)').hide();
            }

            if ($('#viewModifiedBy').is(":checked")) {
                $('td:nth-child(7),th:nth-child(7)').show();
            }
            else {
                $('td:nth-child(7),th:nth-child(7)').hide();
            }

            if ($('#viewModifiedOn').is(":checked")) {
                $('td:nth-child(8),th:nth-child(8)').show();
            }
            else {
                $('td:nth-child(8),th:nth-child(8)').hide();
            }
        }

        //Modal OK
        var id = '';
        $('tr').click(function () {
            id = $(this).attr('id');
            var name = $(this).attr('name');
            document.getElementById('modalbody').innerHTML = 'Are you sure you want to remove ' + name + '?';
        });

        function execRemove() {
            window.location.href = "/Clinic/DeleteClinic?id=" + id;
            return false;
        }
    </script>
}
